[2016-03-28 11:58] MSakamaki opened #1 "github pageを作る"
- [x] jekyllでページを作る。
- [ ] コンテンツの概要を整える。
- [x] SEO 対策
  - http://jekyll.tips/tutorials/seo/
- [ ] `chirimen.org`と関連づける

[2016-03-28 11:59] MSakamaki commented on #1
じぇきる！
https://help.github.com/articles/using-jekyll-as-a-static-site-generator-with-github-pages/

[2016-03-28 15:50] gurezo commented on #1
:+1:

[2016-03-29 02:53] naokisekiguchi opened #2 "Apply examples to latest GPIO/I2C API"
既存の CHIRIMENのサンプルコードを最新のGPIO/I2C API実装に適用する。
具体的にはv2.5のイメージを焼いたCHIRIMEN上で動かす。
イメージは以下で良い？
https://github.com/MozOpenHard/CHIRIMEN-tools/releases/tag/v2.5-20160109

[2016-03-29 15:53] MSakamaki commented on #1
とりまgithub.ioドメインでページ公開 （jekyllのテンプレ）
http://chirimen-org.github.io/

これからちょくちょく弄ります。

[2016-03-29 15:56] gurezo commented on #1
:+1:

[2016-04-07 07:21] gurezo opened #4 "Beginnersリポジトリ（ブランディング決まり次第）"
ブランディング決まり次第
[MozOpenHard/Beginners](https://github.com/MozOpenHard/Beginners) をどうにかしたい
現状、こちらのページへ遷移するようにリンクは書いた。

[2016-04-15 06:19] dynamis opened #5 "Facebook グループ＆ Slack チーム改名"
https://www.facebook.com/groups/mozopenhard/permalink/523344187853417/

https://www.facebook.com/groups/mozopenhard/ と http://mozoh.slack.com/ はコミュニティ名に合わせて変更が必要がと思います。例えば
- https://www.facebook.com/groups/chirimen/ + http://chrimen.slack.com/
- https://www.facebook.com/groups/chirimenopenhard/ + http://chirimenoh.slack.com/
- https://www.facebook.com/groups/chirimenorg/ + http://chrimenorg.slack.

[2016-04-15 11:33] gurezo commented on #5
超大雑把な計画書いてみました＠ぐんまー
コミュニティの皆様、適宜アドバイス＆修正をお願いします。

##  ロードマップ的なもの？
### 過度期
|月|週|作業内容|担当|備考|
|:-----:|------|------|------|------|
|4月|1W|経過|経過||
|4月|2W|経過|経過||
|4月|3W|経過|経過||
|4月|4W|サイト切替作業|誰？|MDN<br />facebook<br />slack<br />github|
|4月|5W|サイト切替作業|誰？|CHIRIMEN記念日イベント？<br />MDN<br />facebook<br />slack<br />github|
|5月|1W|サイト切替作業|誰？|MDN<br />facebook<br />slack<br />github|
|5月|2W|サイト切替作業|誰？|MDN<br

[2016-04-15 11:37] gurezo commented on #4
#6 が出来たので、 close

[2016-04-15 11:37] #4 closed, assigned to nobody

[2016-04-15 12:38] gurezo opened #6 "ロードマップ的なもの？"
超大雑把な計画的なモノを書いてみました＠ぐんまー
コミュニティの皆様、適宜アドバイス＆修正をお願いします。
### 過度期

| month | week | task | member | memo |
| :-: | :-: | --- | --- | --- |
| 4月 | 4 | サイト切替作業 | 誰？ | MDN<br />facebook<br />slack<br />github |
| 4月 | 5 | サイト切替作業 | 誰？ | CHIRIMEN記念日イベント？<br />MDN<br />facebook<br />slack<br />github |
| 5月 | 1 | サイト切替作業 | 誰？ | MDN<br />facebook<br />slack<br />github |
| 5月 | 2 | サイト切替作業 | 誰？ | MDN<br />f

[2016-04-15 12:50] gurezo commented on #5
先程のロードマップは新しい issue を立てました。
内容がここでは無いと見直してみました。

twitter アカウントを作成しました。
[@chirimen_oh](https://twitter.com/chirimen_oh)

[2016-04-16 06:25] MSakamaki opened #7 "any-issuesのreadmeを整理する"
1. [x] homapegeのリンクをREADME.mdを見れる場所に
2. [x] 書き込みのルールを記入する
3. [x] 各リポジトリのルールを書く。

[2016-04-16 06:25] MSakamaki opened #8 "examplesリポジトリを作る"
cihimen一つで完結できる小さなexample用
topにルール的なのを記入したREADMEだけ置いておく。

[2016-04-16 06:27] MSakamaki opened #9 "mozほげほげのリネーム、もしくは消す"
- [x] facebook
- [x] slack
- [x] tumblr
- [x] twitter
- [x] google group
- [ ] https://github.com/mozopenhard
- [x] https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN
- [x] https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN
- [ ] ボード裏面の写真 #71

https://travis-ci.org/MozOpenHard は github と連動して消えるはず?

[2016-04-16 06:28] MSakamaki opened #10 "RELEASEリポジトリを作る"
### 置かれるもの
- [x] LICENCE
- [x] 回路図
- [x] B2G関連

[2016-04-16 06:30] MSakamaki opened #11 "CHIRIMENのアイコンについて"
今のアイコンは仮

ブランディングについて調べる。

[2016-04-16 06:51] dadaa commented on #9
facebook のグループ URL の変更は１回だけしかできない仕様のようで現在はもとのまま．facebook に変更できないか問い合わせてみます．

[2016-04-16 07:30] dadaa opened #12 "transfer repositories related to B2G"
- [x] transfer B2G
- [x] transfer b2g-manifest
- [x] edit b2g-manifest/chirimen.xml for new organization
- [x] transfer gaia
- [x] transfer gecko-dev
- [x] transfer b2g-patches
- [x] transfer device-chirimen
- [x] transfer device-rockchip-rksdk
- [x] transfer i2c-tools
- [x] transfer linux-rockchip
- [x] transfer platform_system_core
- [x] transfer u-boot-rockchip
- [x] rename branches
- [x] build

[2016-04-16 07:35] gurezo commented on #11
了解です―決まったら、ツイッターも変更します

[2016-04-16 08:15] gurezo opened #13 "お触り会告知"
Door Keeper くらぶWoTでグンマー立てる　4/16中

[2016-04-16 08:18] MSakamaki opened #14 "おさわり会の場所を押さえる"

[2016-04-16 08:21] MSakamaki opened #15 "おさわり会イベント (4月30日)"
### タスク
- [x] @naokisekiguchi  さんと具材の調整 => @naokisekiguchi OKのお返事
- [x] チューター兼参加者の整理
### 関連issues
- #14
- #13

[2016-04-16 09:38] gurezo commented on #13
イベントページ暫定作成
https://club-wot.doorkeeper.jp/events/43343

4/18 PM12:00位には、イベント公開をしたい。

[2016-04-16 09:43] gurezo opened #16 "Google Group & メーリングリスト作成"
CHIRIMEN Open Hardware 用 Google Group & メーリングリスト作成

[2016-04-16 10:31] gurezo commented on #16
chirimen-open-hardware の ML を作りました。
https://groups.google.com/forum/#!forum/chirimen_oh
chirimen-open-hardware-staff の ML を作りました。
https://groups.google.com/forum/#!forum/chirimen_oh-staff

done.

[2016-04-16 10:31] gurezo commented on #16
作成をしたので、close

[2016-04-16 10:31] #16 closed, assigned to gurezo

[2016-04-16 11:35] gurezo commented on #5
@dadaa 4/16 facebookグループ「MozOpenHard」=>「CHIRIMEN Open Hardware」変更 done.

[2016-04-16 12:37] gurezo commented on #5
これで、facebookグループのURL 変更できますかね？
http://alive-web.co.jp/tips/fb-3
http://socialmediaexperience.jp/4179

https://www.facebook.com/groups/mozopenhard/
=> https://www.facebook.com/groups/chirimenopenhard/

[2016-04-16 13:44] dadaa commented on #11
いちおう unofficial 用だということ + https://github.com/mozilla-b2g/gaia のライセンスは apache 2.0 だということで，使えそうだとは思うものの，今後もこれをメインで使っていくのは考えどころですねー

[2016-04-16 13:44] gurezo commented on #5
新しいslackチーム作成しました。
chirimenopenhardware.slack.com

[2016-04-16 14:09] gurezo opened #17 "タスクリスト"
超大雑把なタスクリストを書いてみました＠ぐんまー
コミュニティの皆様、適宜アドバイス＆修正をお願いします。
### タスクリスト
- [ ] CHIRIMEN | MDN
    ※ 現状維持で、ローカライズ実施
- [x] #5 より　facebook group 変更 mozOpenHard => CHIRIMEN Open Hardware
    ※グループ名は変更済み 4/16 done.　@dadaa
    ※urlは、現在回答待ち  4/16 23:27時点 @dadaa
- [x] #5 よりslack 作成 CHIRIMEN Open Hardware
    ※ https://chirimenopenhardware.slack.com 作成 @gurezo 04/16 done.
  　　　~~=> mozOpenHard の slack が、リネーム出来るかもし

[2016-04-16 14:11] gurezo commented on #6
#17 を立てたので、close

[2016-04-16 14:11] #6 closed, assigned to nobody

[2016-04-16 14:14] dadaa commented on #5
facebook の URL ですけど，
https://github.com/chirimen-org/any-issues/issues/9
にも書いておきましたけれども，仕様上，一度しか変更できないみたいなのです．
これができないかどうか facebook に問い合わせしてみようと思います

[2016-04-16 14:15] dadaa commented on #5
が，夕方ぐらいからずっとフィードバックページが表示されないんです．とほほ．
https://www.facebook.com/help/feedback/

[2016-04-16 14:19] gurezo commented on #5
むむむむ・・・・。
新しく作って誘致居た方が良いですかね？
slack は、無理っぽかったので、作ってしまいました。
#17 参照

[2016-04-18 01:38] dynamis commented on #5
Slack は管理権限持っているユーザであれば改名できたのでは？ (今更ですからスルーしてくれて良いですが)
http://maplesystems.co.jp/blog/business/18298.html

[2016-04-18 01:46] gurezo commented on #5
これって、アカウント名だけでチーム名変更らしきものが
読み取れなかったので、新規作成しました。
※理解間違いの可能性は否めない（＞＜）

見落とし発覚・・・・・ｏｒｚ
今なら少人数なので、削除できますが・・・・。
グンマーにはmozOpenHradの管理権限ないので無理っすけど・・・。

[2016-04-18 02:09] dynamis commented on #5
こちらが手順解説です:
https://get.slack.help/hc/en-us/articles/201663443-Changing-your-team-name-or-URL
Team Owners can rename their team or set a new web address at any time. Be sure to let all team members know about the change.

Owner が誰かは Admin 権限ある人が次のページを見れば分かるはず (多分赤塚さん)
https://mozopenhard.slack.com/admin

[2016-04-18 02:24] gurezo commented on #5
グンマーには、権限がないので無理っす。
どうしましょ？
念の為、こっちが作ったslackは削除しますか？
ここは、慌てないでお返事＆対応有無を聞いて、行動しまする。

[2016-04-18 02:42] dynamis commented on #5
needinfo: @dadaa

[2016-04-18 05:13] dadaa commented on #14
Mozilla Japan 使えそうです

[2016-04-18 05:15] dadaa commented on #5
slack は，あたしやっておきますね

[2016-04-18 05:20] gurezo commented on #5
:+1:

[2016-04-18 05:26] gurezo commented on #13
公開したので、close

[2016-04-18 05:26] #13 closed, assigned to gurezo

[2016-04-18 05:27] gurezo commented on #14
OK頂いたので、close

[2016-04-18 05:27] #14 closed, assigned to dadaa

[2016-04-18 06:05] naokisekiguchi commented on #9
twitterは新アカウントの作成（https://twitter.com/chirimen_oh ）と旧アカウント（https://twitter.com/MozOpenHard ）への移行促進メッセージの投下を完了しました。あとはしかるべきタイミングで旧アカウントを消せば完了かと。

[2016-04-18 07:23] gurezo commented on #9
:+1:

[2016-04-18 10:43] naokisekiguchi commented on #8
これ、どんな感じでしょう？
@MSakamakiさんのpolyfill ( https://github.com/club-wot/WebGPIO )を使って手元で動作確認とれたので、何かベースがあればfabbleのサンプルを合わせて作っていきますが。

[2016-04-18 10:45] naokisekiguchi commented on #2
関連issue
#8

[2016-04-18 12:09] MSakamaki commented on #8
@naokisekiguchi
リポジトリ作りました。
https://github.com/chirimen-org/examples

あと、動作は実機で確認してないですがLED点滅のサンプルを仮であげてみました。
（問題有るなら消してOKです。）

サンプルの用にルート直下にサンプルアプリがフォルダごとに並んで行くのをイメージしています

[2016-04-18 12:15] MSakamaki commented on #1
作ったのでclose、以降問題が有れば
https://github.com/chirimen-org/chirimen-org.github.io
に投稿してください

[2016-04-18 12:15] #1 closed, assigned to MSakamaki

[2016-04-18 23:04] dadaa commented on #9
slack のリネーム完了．
chirimen-oh.slack.com
(アンダースコアは使えませんでしたのー)

[2016-04-19 00:29] dadaa commented on #9
Facebook さんからお返事きましたけど，やっぱり URL の変更は現在１回しかできず，個別対応もごめんなさい．だそうです．どしましょね

[2016-04-19 00:34] naokisekiguchi commented on #9
@dadaa すでに一度変更していてもう変更できないということですか？

[2016-04-19 01:07] naokisekiguchi commented on #8
@MSakamaki さきほど微修正したpull request出しました。

それと、これは好み分かれそうなんですけど、bower前提にしますか？使ったら便利なんですけどCHIRIMEN始めようってときにnpmとbowerのインストールが必要になるのはどうだろうと思いまして。
jsにライセンス情報を追記して直接含めるのはどうでしょう？他の人の意見も欲しいですね。

[2016-04-19 01:38] MSakamaki commented on #8
@naokisekiguchi

現時点では梱包しても問題ないですが、後々の事を考えるとpolyfillは別に出来た方が良いかなと。
polyfillを含めてしまう場合のデメリットとして、バグや仕変に追従出来なくなってしまう事が懸念されるので、最新のpolyfillに追従する方法のほうが個人的に良いかなと考えてました。

他の手段としては
1. CDNに登録する
   - CHIRIMEN本体が常にInternetに接続している必要がある。
2. 固定URLからzipでダウンロード
   - 導入手順が多少煩雑になる。
3. `git submodule`化する
   - 良さそうだけど`git clone`以外の方法で取得するとどうなるかチョットわからない

他に手段がないかちょっと考えたいですね。

[2016-04-19 01:41] MSakamaki commented on #9
@dadaa
FBグループ削除はできるんですっけ？
新グループを作って引っ越し、２〜３ヶ月後に旧グループ削除が最善じゃないでしょうか？

[2016-04-19 02:48] naokisekiguchi opened #18 "Revise fablle - ChirimenEdu projects"
- [x] Helloworld
- [x] Pushbutton
- [x] I2C Sensor
- [x] Servo

リンク切れ、v2.5での動作確認、コミュニティ名称変更に伴う矛盾の解消など。

[2016-04-19 03:39] dynamis commented on #9
@naokisekiguchi URL は一度変更しているというか、数字だけだったものを文字列に設定したら以後変更ができないというものだそうです。これは完全に想定してなかったですね。むぅ。

https://www.facebook.com/help/206871819351594

[2016-04-19 04:22] dadaa commented on #9
@MSakamaki 現在 400 人ほどのメンバーがいるので，それをどう思うかが悩みどころです．．削除自体はメンバーが 0 になったらできるようです．

[2016-04-20 03:52] gurezo commented on #9
@dadaa @MSakamaki

## 下記案如何でしょう
- グループ名と意図的にmozOpenHardへもどす
- CHIRIME Open Hardwareの新しいグループメッセージを作る
-  固定投稿に新ページへの参加とmozOpenHardページの退会を呼び掛ける
-  固定投稿にmozOpenHardページの閉鎖期日（日時）を設ける
- 期日を過ぎても残っている方は個別連絡＆依頼／各個撃破する。

これ位しか、思い当たりません・・・ｍ（＿＿）ｍ
すみません。

[2016-04-21 10:08] MSakamaki commented on #15
@naokisekiguchi さん
当日お貸しいただけるデバイス一覧ってどこかにありましたっけ？

[2016-04-21 10:10] naokisekiguchi commented on #15
こちらに記載しております。
https://github.com/chirimen-org/any-issues/wiki/Available-devices-for-Events

[2016-04-23 08:24] dadaa commented on #9
@gurezo さん，遅くなってしまってごめんなさい．

こちら，みなさま，どう思われますか？？
Facebook グループのリネーム案と新規案で，それぞれメリット/デメリットを挙げてみます．
リネーム案：
・メリット：現在のコミュニティメンバーを引き継げる
・メリット：同様にコンテンツも引き継げる
・デメリット： URL が moz る．
新規案：
・メリット：URL が綺麗になる
・メリット：コンテンツの整理ができる
・デメリット：過去の議論などを取り込めない

[2016-04-23 09:33] gurezo commented on #9
@dadaa さん、お返事有難うございます。

個人的には、大人の事情と書いてライセンスと読むのが原因で
揉めなければ、どちらでも良いと思います。

「・デメリット： URL が moz る．」が**_過去の歴史の経緯／遺産ですよ！_**

上記のようにぶった切って／言いきって、**_ライセンス問題に発展しなければ、_**
リネーム案が一番平和／手間が少ないとは思います。

揉める要素は無いに越した事はないのですが・・・。

[2016-04-23 10:38] gurezo opened #19 "slack 参加フォームを作る"
## slack の自由参加フォームを作る
- 現在は招待しないと参加出来ない
- グーグルのフォームを使ってやる らしい　4/23 @gurezo done.
- 要調査　4/23 @gurezo done.
- 4/30 以降のイベントではここから自由参加が出来る様にする

[2016-04-23 13:25] gurezo commented on #19
### 招待方法

#### 下記のいずれかで出来る？
- [公開Slack用 自動招待フォーム by GAS](http://qiita.com/atusi/items/c2669add8038c43efff3)
- [Arukas.io で Slack 自動招待フォーム](http://qiita.com/pottava/items/cb3dad247d8e5778008e)

[2016-04-24 12:56] gurezo opened #20 "github名も統一しますか？"
## slackでの投稿より
### @naobsd さんから 下記指摘が。
- 「githubはchirimen-ohじゃないんですね...」
### github名も統一しますか？
- @MSakamaki さん、github名って、chirimen-org-> chirimen-ohって出来るんでしたっけ？
  Organizationsって、やった事ないので分からないのですが・・・。
- 4/18 に@dynamis さんと @dadaa さんで、[http://chirimen.org/ ](http://chirimen.org/) で
  まとまったと認識してるのですが・・・・。
  話を蒸し返してる感があるので、皆様の意見を下さいませ。
- [http://chirimen-oh.org/ ](http://chirimen-oh.org/) になると良いのかな？
  sl

[2016-04-25 03:47] MSakamaki commented on #20
chirimen-ohは文字の長さでohと記憶してたので、ちゃんと名前がつけれる所はChirimenOpenhardにしたほうが良いと考えてます
ドメインとかも含めて一度話した方がいいかもですね。

[2016-04-25 03:55] MSakamaki commented on #19
slackを使っている理由を良く知らないのでアレですが。
自由参加チャットとしてしか使っていないのならgithubアカウントさえ有れば参加できる https://gitter.im (github用チャット)もあります。
欠点としてはgithubアカウントを作らないと行けないくらいで、それ以外はsluckより判りやすく、エンジニア向けのチャットツールだと思ってます。
(githubマークダウン使えるし、githubのissuesと連携できるので)

なんかとの連携やCIとかしてるのならslackかもしれないですね。

[2016-04-25 04:03] gurezo commented on #20
### 名前も微妙に違いが・・・・。
- CHIRIMEN Open Hardware（投票時）
- CHIRIMEN Open Hard（うろ覚え）

---

**※どこかで議論しましょう！**
文字数の制約もありますね・・・・。

[2016-04-25 04:09] MSakamaki commented on #9
@dadaa
@gurezo さんのと同じく、URLについてmozillaから問題無いって回答が貰えればリネームで、カエテ！って言われたら新規案で良いと思います。

[2016-04-25 04:53] gurezo commented on #19
そうゆう意味では、**slackの利用スタンスって自分も理解していませんでした・・・。**

今回の投稿は、招待する度にちょっと面倒だから自由に参加できるようにしたら？！
そんな具合で、@dadaa さんとお話になりました。

また、ng-japan の slackは、dooe keeper から自由参加出来たので
同じように出来るのかな？という背景も有りました。

---

### 整理したい事
- slack の利用スタンス
- 自由参加にするかどうか
  ※上記が決まれば、自ずと決まる？
- ng-japanは、[https://ng-japan-invite.herokuapp.com/](https://ng-japan-invite.herokuapp.com/) で自由参加を募っていた。
  - コミュニティのどなたかが作成対応した？
  - door keeper の一斉送

[2016-04-25 21:54] dadaa commented on #12
done

[2016-04-25 21:54] #12 closed, assigned to dadaa

[2016-04-25 23:12] dadaa opened #21 "replace homepage url to http://chirimen.org"

[2016-04-26 01:11] dadaa opened #22 "remove extra patches from b2g-patches repo"
006, 008, 010

[2016-04-26 03:09] satakagi opened #23 "https://github.com/chirimen-oh のリポジトリの説明がほとんどない　このissuesのリポジトリの説明もほとんどない"

[2016-04-26 03:10] satakagi opened #24 "ハードウェアのリポジトリがない"

[2016-04-26 03:10] satakagi opened #25 "2015年に開発したCHIRMEN以外に新しいCHIRIMENの開発が出てきたときにどうする？"

[2016-04-26 03:11] satakagi opened #26 "CHIRIMENホーム―ページ(http://chirimen.org/)のリポジトリの使い方が・仕組みの説明がない。またわかったとしてもwindowsユーザには相当ハードルが高い感じ"

[2016-04-26 03:11] dadaa commented on #24
https://github.com/chirimen-org/any-issues/issues/10
ここになるかと思います．

[2016-04-26 03:13] dadaa commented on #23
any-issues の説明に関する issue は，以下に登録してあります．
https://github.com/chirimen-org/any-issues/issues/7

[2016-04-26 03:48] satakagi commented on #26
http://jekyllrb-ja.github.io/docs/windows/
これは参考になるかも。ただ基本的にはwindowsはサポート外

[2016-04-26 03:53] MSakamaki commented on #26
自分もWindows使っていますが、VertualBox + UbuntuにJekillを入れてプレビュー環境を整えていました。(修正とgithubへのpushもvmから)
あとは[Docker](https://hub.docker.com/r/grahamc/jekyll/)を利用すると言う手も取れると思います。

[2016-04-26 04:03] satakagi commented on #10
ソフトには、release以外のリポがあって、ハードはreleaseのリポしかない理由はなぜ？

[2016-04-26 04:04] naokisekiguchi commented on #23
説明文が解決されたらチェックをつけていきましょう。
- [ ] device-chirimen
- [ ] linux-rockchip
- [ ] platform_system_core
- [ ] device-rockchip-rksdk
- [ ] gecko-dev
- [ ] B2G
- [ ] b2g-manifest
- [ ] examples
- [ ] chirimen-org.github.io
- [ ] any-issues
- [ ] CHIRIMEN-tools
- [ ] b2g-patches
- [ ] gaia
- [ ] i2c-tools
- [ ] u-boot-rockchip

[2016-04-26 04:06] satakagi opened #28 "examplesはfabbleと被っている"

[2016-04-26 04:08] naokisekiguchi commented on #23
私がわかる範囲で記載してみました。?がついているのはよくわからない部分です。その他も間違いがあるかもしれませんが修正してもらえると。
- device-chirimen
  ??WebIDEにCHIRIMENと認識させるための変更とか？
- linux-rockchip
  ??CHIRIMENのチップ(rk3066)用のカーネルを作るのに必要？u-boot-rockchipとの違いはよくわからないです。
- platform_system_core
  ??
- device-rockchip-rksdk
  ??I2CやGPIOを操作するためのpermissionの設定など?
- gecko-dev
  B2Gのgecko層をCHIRIMEN用にカスタマイズしている。webGPIO/I2C APIの実装もここに組み込まれる。
- B2G
  B2Gをビルドする際の大元となるレポジトリ。

[2016-04-26 04:10] satakagi commented on #10
releaseには、ファームウェアのバイナリだけを置きますか？　ソースコードも置きますか？

[2016-04-26 04:10] satakagi commented on #10
ファーむぇあ書き込みツールとかは置きますか？

[2016-04-26 04:11] satakagi commented on #24
releaseリポジトリの作成とディレクトリ構成を早急にしないとですね。

[2016-04-26 04:12] naokisekiguchi commented on #28
fabbleでは電子部品の使い方やインストール方法をなど含むドキュメントを記載して、サンプルコードはexamplesレポジトリを参照しようという理解です。
fabble -> ドキュメント
examples -> ソースコード

[2016-04-26 04:13] MSakamaki commented on #23
とりあえず、examplesとホームページだけ追加したもののブランチを切りました。(`issues/#7`)
こちらに上にあるリストを追加していけば良いでしょうか？

https://github.com/chirimen-org/any-issues/pull/29

レイアウトは以下のブランチで確認できます。

https://github.com/chirimen-org/any-issues/tree/issues/%237

[2016-04-26 04:30] dadaa commented on #10
ハードはリリース以外のものってあります？
あるとすれば，Hardware リポジトリ作りましょうか

[2016-04-26 04:32] dadaa commented on #10
ソフトは，B2G を submodule として置けばよいかと思います
// 以前，議論して，そうしようとなったと思います
書き込みツールは置かなくてよいかと思います

[2016-04-26 04:33] kohichi000000 commented on #23
私はいいと思いますが、
・今後、新たにリポジトリが追加されたら、必ず上記readmeに説明が加わるということでいいでしょうか？
　（もしそうであれば、外部からgithubへのリンクを書く際に、上記readmeを参照してほしいと書けば、いろんな混乱を防げるかも）
・関係のあるものはできるだけまとめて書いたほうがいいと思いますがいかがでしょうね（順番の問題）。

[2016-04-26 04:43] naokisekiguchi commented on #23
CHIRIMEN開発に関わる全てのissueはany-issuesレポジトリで管理すると思っていたのですが、READMEを見ると、各レポジトリに閉じた課題だと明らかな場合は各レポジトリでissueを挙げる感じでしょうか？

[2016-04-26 05:07] MSakamaki commented on #23
こちらの文言を追加してみました。
https://github.com/chirimen-org/any-issues/tree/issues/%237

すいません、ここら辺の文言は仮でした。
リポジトリ毎の議題が混じっても面倒なので、以下どっちかになるかなと思っています。
1. リポジトリ毎にissues毎に管理する
2. any-issues内でタグ管理する。
   - `/chirimen-org/any-issues/issues/new?labels=[ラベル名]`でページ遷移させると、既にラベルがついた状態で新規issues作成ページへジャンプさせる事ができます。

ここらへん決まっていましたっけ？

[2016-04-26 05:13] MSakamaki commented on #7
https://github.com/chirimen-org/any-issues/issues/23 の方で論議するのでコッチはclose

[2016-04-26 05:13] #7 closed, assigned to MSakamaki

[2016-04-26 05:22] satakagi commented on #10
ステッピングモーターとかの基板とか

2016年4月26日 13:32 dadaa notifications@github.com:

[2016-04-26 05:24] dadaa commented on #10
あー，なるほど
ハードウェア単体のライセンスは CC で，CHIRIMEN ライセンスにはかからないですよね？

[2016-04-26 05:29] naokisekiguchi commented on #23
明確には決めていなかった気がします。
個人的には
2.any-issues内でタグ管理する。
が好みです。

[2016-04-26 09:00] kohichi000000 commented on #23
せきぐちさんのコメントを参考に、自分が書いた通りに分類してみました。大雑把に分けるとこんな感じですかね。**太字**の部分が補強したい点です（疑問点）。

#### CHIRIMENに関する議論（掲示板）

##### any-issues
- CHIRIMEN全体に関わるissueを議論するための掲示板。下記レポジトリの説明も含まれる(readme)。

#### CHIRIMENを利用した開発、CHIRIMENの各種情報に関するリポジトリ

##### examples
- CHIRIMENで動作確認の取れたデバイス（センサー、アクチュエーター）をWebGPIO/I2C APIを使用し動作させるための基本プログラム集。
  デバイスの利用法がfabbleで説明され、そのためのプログラムが本レポジトリに格納される。

##### chirimen-org.github.io
- CHIR

[2016-04-26 09:19] naokisekiguchi commented on #28
以下のissueで説明文を整理する
#23

[2016-04-26 09:27] naokisekiguchi commented on #10
ビルドしたCHIRIMENイメージをどこかに置くべきだと思います。RELEASEレポジトリのreleasesにアップすべきかと思いましたがどうでしょう？

[2016-04-26 09:53] MSakamaki commented on #23
一旦上のmarkdownをReadmeに転記した物を以下ブランチに適応しておきます。
https://github.com/chirimen-org/any-issues/tree/issues/%237

[2016-04-26 11:20] dadaa commented on #10
最終的にできる update.img が 300M を超えちゃっているので，
https://help.github.com/articles/conditions-for-large-files/
の制約にひっかかっちゃいそうです

[2016-04-26 11:24] dadaa commented on #9
Facebook の URL，やっぱり問題になりそうなので，新規グループになりそうな予感です．．

[2016-04-26 11:46] dadaa commented on #23
b2g-manifest : B2G から参照?(というのがいいのかはちょっとわからないです)されます．
// B2G の confing.sh で b2g-maniest が git clone されます．

gaia, b2g-patches, gecko-dev, i2c-tools, device-chirimen, device-rockchip-rksdk, u-boot-rockchip, linux-rockchip, platform_system_core は b2g-manifest から参照されます．（上記 config.sh で結果的に B2G の下にこれらリポジトリが clone されます）

[2016-04-26 11:47] naokisekiguchi commented on #10
@dadaa こちら https://github.com/chirimen-org/CHIRIMEN-tools/releases に過去のイメージがアップされています。zipファイルは150M前後ですが、ダウンロードしたファイルを解凍すると300Mを超えているので、おそらくzip圧縮後にアップすることは可能かと思われます。

[2016-04-26 12:12] dadaa commented on #10
@naokisekiguchi ほえー，ほいじゃ大丈夫そうですね!

[2016-04-26 17:13] gurezo commented on #25
## 提案

### Raspberry Pi の手法を真似る
- 以下例
  1. CHIRIMEN
  2. CHIRIMEN B+
  3. CHIRIMEN 2
  4. CHIRIMEN 3

### Android の手法を真似る
- 以下例
  1. CHIRIMEN red
  2. CHIRIMEN Blue
  3. CHIRIMEN Yellow
  4. CHIRIMEN Green
  5. CHIRIMEN Pink

### 日本独自の手法を作る
- 以下例
  1. CHIRIMEN Atom(鉄腕アトム)
  2. CHIRIMEN Majinger-Z(マジンガーＺ)
  3. CHIRIMEN Getter-Robo(ゲッターロボ)
  4. CHIRIMEN Gundam(ガンダム)
  5. CHIRIMEN Eva(エヴァンゲリオン)

---

[2016-04-26 23:02] satakagi commented on #10
自分でビルする人は まず少数派ですので、ビルドイメージは一番みんながアクセスしやすい場所に置いておくべきですね。
ちなみに、releaseはアクセスしやすい構造と導線作れます？

2016-04-26 21:12 GMT+09:00 dadaa notifications@github.com:

[2016-04-27 00:06] naokisekiguchi commented on #10
@satakagi
https://github.com/chirimen-org/CHIRIMEN-tools/releases/tag/v2.5-20160109
こんな感じで特定のreleaseへのリンクが貼れます。

[2016-04-27 00:21] kohichi000000 commented on #23
ありがとうございます。こんな感じですかね？

##### b2g-manifest:
- B2Gのconfig.shで以下の各リポジトリ（他、外部のリポジトリも含まれる）をcloneするための参照情報。以下のリポジトリがb2g-manifest から参照され、結果として、B2Gのconfig.sh でこれらのリポジトリが B2G の下にclone されます。

[2016-04-27 10:30] gurezo commented on #25
## 提案　追加 織物にちなんだ名前版

### 日本独自の手法を作る
- 以下例
  1. CHIRIMEN pile(パイル)
  2. CHIRIMEN cotton(コットン)
  3. CHIRIMEN satin(サテン)
  4. CHIRIMEN denim(デニム)
  5. CHIRIMEN silk(シルク)

[2016-04-27 13:12] naokisekiguchi commented on #8
@MSakamaki まだpolyfillも安定していないということで、別に分けてサンプルを作っていきましょうか。他にいい手段が出てくるまでbowerでインストールする形で作ります。

もしくはcloneした時点で使えるようになっているbranchが切られてもいいのかもと思いましたが。

[2016-04-27 13:13] #28 closed, assigned to nobody

[2016-04-27 13:23] naokisekiguchi opened #31 "Decide examples license"
examplesのライセンスを決めてREADME.mdに記載しておくべきかと。
MIT Licenseでしょうか。

[2016-04-27 13:58] dadaa commented on #31
mozilla では基本的に Apache 2.0 ないし MPL 2.0 を使ってます．
ただ examples に関しては MIT でも問題なかろうかと思います．

[2016-04-27 13:58] satakagi commented on #20
CHIRIMEN Open Hardは時々MozOpenHardとの混同から使われていることがあるのかもしれませんが、CHIRIMEN Open Hardwareが正ですよね？

[2016-04-27 14:00] dadaa commented on #20
CHIRIMEN Open Hardware が正ですー

[2016-04-27 14:00] dadaa commented on #11
これやっぱし新しく作りたいですね

[2016-04-27 14:02] satakagi commented on #20
それと、ドメイン名は、
＞＞4/18 に@dynamis さんと @dadaa さんで、http://chirimen.org/  でまとまった
で合意できていると思っています。今別の名前に変えることを議論するのは確かに時機を逸していると思います。
名称がCHIRIMEN Open Hardwareでもそのドメイン名がchirimen.orgというのは　すごく違和感があるというほどでもない（特にOpen Hardwareの部分は固有名詞とは見えないため）ので、CHIRIMENがドメイン名として取得できているならば（食べ物のちりめんとかでそれを使いたいという人たちが今のところいなかった）、それでも悪くはないと思いますがいかがでしょう。

[2016-04-27 14:07] gurezo commented on #20
では、まとめとして
正式名称：CHIRIMEN Open Hardware
github名：http://chirimen.org/

上記で問題なければ、この議論をcloseしようとお思います。
如何でしょう？

[2016-04-27 14:07] satakagi commented on #20
私は賛成です^^
あ、http://chirimen.org/
は、ドメイン（ホームページアドレス）ですね。
github名については、chirimen-orgですね。　確かにちょっと気にはなるのかもですが、たしかchirimenがとられていたんでしたっけ？

[2016-04-27 14:08] gurezo commented on #20
@MSakamaki さん、
@dadaa さん、
@naokisekiguchi さん、
@naobsd さん、如何でしょうか？？？

[2016-04-27 14:12] dadaa commented on #20
ひとまず現状を：
ホームページURL: http://chirimen.org/
Slack: chirimen_oh
twitter: chirimen_oh
GitHub: chirimen-org
(これから Facebook url: chirimen_oh?)

[2016-04-27 14:13] gurezo commented on #20
そのまとめで良いと思います。

[2016-04-27 14:15] dadaa commented on #20
しかし，たしかにこうならべると，chirimen_oh の方が統一感はありますね〜

[2016-04-27 14:23] gurezo commented on #20
それなので、issueを立てちゃいました。
http://chirimen-oh.org/

なまじ、上記ドメイン名が取得できる状況だけに・・・・。
本当に混ぜ返し／蒸し返して、すみません。

[2016-04-27 14:28] dadaa commented on #20
なんか，ドメインは chirimen.org がステキな感じしますけど，他利用サービスは chirimen_oh 統一が気持ちよい感じがしました

[2016-04-27 14:33] gurezo commented on #20
自分が気になるのは、仮に http://chirimen-oh.org/ 変更したとして、
今皆さんが作業されている労力が、ドメイン名変更でまた労力が発生する事のが
容易に想像出来るので・・・。

[2016-04-27 14:34] dadaa commented on #20
あ，いえ，URL は http://chirimen.org で，GitHub のグループを chirimen_oh にするって感じです．

[2016-04-27 14:35] dadaa commented on #20
すると，
ホームページ: http://chirimen.org/
Slack: chirimen_oh
twitter: chirimen_oh
GitHub: chirimen_oh
Facebook url: chirimen_oh

[2016-04-27 14:35] dadaa commented on #20
どうかしら？

[2016-04-27 14:38] gurezo commented on #20
あ、そうゆう意味ですね！
理解しました！
で、あればこれで議論をまとめましょうか？
@MSakamaki さん、
@satakagi  さん、
@naokisekiguchi さん、
@naobsd さん、宜しいでしょうか？？？

[2016-04-27 14:40] gurezo commented on #20
@dadaa さんのまとめで、closeしようと思います。

ホームページ: http://chirimen.org/
Slack: chirimen_oh
twitter: chirimen_oh
GitHub: chirimen_oh
Facebook url: chirimen_oh

[2016-04-27 14:40] dadaa commented on #20
みなさん，どうでしょう？

[2016-04-27 15:32] gurezo commented on #20
では、異論なさそうなので、close します

[2016-04-27 15:32] #20 closed, assigned to nobody

[2016-04-28 00:31] naokisekiguchi commented on #31
@MSakamaki 、その他みなさまどう思いますか？
それと、MITだとするとコピーライトはどんなのがいいでしょうかね。
Copyright (c) 2016 CHIRIMEN Open Hardware
Licensed under the MIT License
とか？

[2016-04-28 00:52] kohichi000000 commented on #23
上記更新しました。

[2016-04-28 01:50] MSakamaki commented on #8
@naokisekiguchi
exampleまーじしときました、動作確認ができないの 自動テストとかでの品質チェックできないのが地味につらいですね。

[2016-04-28 01:52] MSakamaki commented on #31
:+1:

[2016-04-28 01:55] MSakamaki commented on #23
examplesにfabbleへリンク付けた方が良いでしょうか？

[2016-04-28 01:56] dadaa commented on #23
あ，賛成です！ > examples に fabble へのリンク

[2016-04-28 03:08] naokisekiguchi commented on #23
Lチカとbuttonはfabble修正したのでリンク貼っときました。

[2016-04-29 00:20] ghost commented on #20
出遅れてすみません、私は元々githubの名前が気になっただけでchirimen.orgを変える話はしてませんでしたので、結論に基本的には異論はないです。
強いて一つ言うならば、ホスト名にunderscoreは使えないので、サービスによってはunderscoreが使えない場面が出てくる可能性があるかもと思います。

[2016-04-29 00:37] naokisekiguchi opened #32 "Rearrange slack channel"
slackのchannelがわかりにくいので整理して説明を記載

[2016-04-29 00:39] ghost commented on #32
#eventsはイベント関連の情報が流れる、でいいとして、#scheduleは？
#webは？projectのwebどーしましょって話はissuesでやってますよね？
#devと#portingの使い分けは？たぶんWebAPIを使うアプリを作る話と、CHIRIMENの上でB2Gを動かす話は、分けた方がよいとは思うのですが(WebAPIを実装する話はどっちだろう...)

[2016-04-29 00:49] kohichi000000 commented on #32
できれば、ホームページやgithubのリポジトリとの整合もわかるようにしたい

[2016-04-29 00:59] ghost opened #33 "Labeling issues"
ラベルをつけて何の話題か区別したい
- イベント関連 (events)
- コミュニティ運営関連 (?)
- B2G移植関連 (?)
- WebAPI関連 (?)

など

[2016-04-29 01:24] ghost commented on #24
#10 で進行中なのでしたら、こちらはcloseできるのではないでしょうか？(こちらはこちらでやる事が別にあるのでしたら、すみません)

[2016-04-29 01:30] ghost commented on #33
#23 でちょっとラベルの話が出てるのに気が付きました。any-issuesで全て管理するのであれば
- github リポジトリに対応したラベル

も必要ですね。

[2016-04-29 01:40] ghost commented on #23
b2g関連のリポジトリ、とりあえず一つ例にあげますが

たとえばこれは、CHIRIMEN用ビルドを作るために必要となるモジュールのレポジトリ・b2g-manifestから参照されている、で十分であり、GPIOのpermission云々はたまたま今そういうパッチが入っているだけであって、リポジトリの説明としては適切ではないと思います。

もちろん、現状で動作するものをビルドする為にはこのリポジトリに入っているパッチが必要です、という情報がどこかにないといけないのですが、それはたぶんissueとして存在すべきものという認識です。

b2g関連のリポジトリは、頭にb2g-でもつけて、CHIRIMEN用ビルドを作るために必要となるモジュールのレポジトリです、で済ませる方がよいのではと思いますが、どうでしょうか？

[2016-04-29 01:47] ghost commented on #17
https://groups.google.com/forum/#!forum/mozopenhard はどうなりますでしょか

[2016-04-29 01:50] ghost commented on #9
#17 に書いちゃいましたけどこっちが正しそうなので

https://groups.google.com/forum/#!forum/mozopenhard どうしましょ

[2016-04-29 01:52] ghost commented on #5
内容が #9 とかぶってるような気がします

[2016-04-29 03:57] gurezo commented on #17
これは、今さっきmozOpenHardのGoogle Group の存在を知ったので、
現時点でのオーナー権限のある方にお願いします。
ただ、そこでの議論は、残した方／引っ越しが良いとは思います。

[2016-04-29 04:00] gurezo commented on #9
これは、今さっきmozOpenHardのGoogle Group の存在を知ったので、
現時点でのオーナー権限のある方にお願いします。
ただ、そこでの議論は、残した方／引っ越しが良いとは思います。

[2016-04-29 08:05] dadaa commented on #10
現状 release-candidate なので，明日，release に rename しましょう

[2016-04-29 09:09] kohichi000000 commented on #23
「b2g関連のリポジトリは、頭にb2g-でもつけて、CHIRIMEN用ビルドを作るために必要となるモジュールのレポジトリです」でいいと思います。初めてきた人が見て何なのかがわかればそれでいいと思います。

[2016-04-30 03:01] naokisekiguchi opened #34 "CHIRIMENs with pin socket are desired for event"
イベント用にピンソケットのついたCHIRIMENが欲しい。
スルーホール用ワイヤーは高い、壊れやすい。
個人的にはメスピンソケットが好み。

[2016-04-30 05:24] kohichi000000 commented on #25
多分、以下を気にしないといけないですよね。
・コードネーム（上記gurezoさんのコメント）
・リポジトリの配置（再構成？）
・各バージョンと各情報の依存関係（その情報ってどのバージョンで有効？）

[2016-04-30 06:12] WhiteHawk-taka commented on #15
イベントのetherpadです
https://public.etherpad-mozilla.org/p/chirimenday-20160430

[2016-04-30 06:44] kohichi000000 commented on #33
ラベル付けするために必要そうなアイテムの一覧＋対応に関する表を作ってみました。適当に書き込んでみてください。
https://docs.google.com/spreadsheets/d/1ibBG4Ee_COF6rRQWu1-qVpC9zTGwcScTRnXU4xjAxHU/edit?usp=sharing

[2016-04-30 08:57] gurezo commented on #5
#9 被っている＆新しいグループできたので、close

[2016-04-30 08:57] #5 closed, assigned to nobody

[2016-04-30 09:02] gurezo commented on #9
新しいCHIRIMEN Open Hardware の URLが変更されたら
facebook にチェック付けましょうか。

グループ移動の案内はポストした方が良いですか？

[2016-04-30 09:13] #10 closed, assigned to dadaa

[2016-04-30 09:15] #8 closed, assigned to nobody

[2016-04-30 09:24] #2 closed, assigned to nobody

[2016-04-30 09:25] gurezo opened #35 "正式CHIRIMEN facebook group ページへの案内文面"
( obsoluted ) CHIRIMEN Open Hardware ページに
下記文言で、固定表示投稿しようと考えています
現時点では、日本語だけです。

内容のレビューお願いします
以下投稿文 -------------------------------------------------------------
お知らせ

( obsoluted ) CHIRIMEN Open Hardwareグループ
参加メンバーの皆様

CHIRIMEN Open Hardware が 2016/04/30に
正式リリースされました。
それに伴い、グループは下記廃止する予定です。

CHIRIMEN Open Hardware の正式なグループは下記URLになります。
こちらのグループに参加して下さい。
https://www.facebook.com/groups/chirimen/

[2016-04-30 09:26] #15 closed, assigned to MSakamaki

[2016-04-30 09:27] dadaa commented on #17
CHIRIMEN | MDN の問題を除いて，issue 登録があるので，CHIRIMEN | MDN を issue とし，これを閉じます

[2016-04-30 09:27] #17 closed, assigned to nobody

[2016-04-30 09:31] gurezo commented on #9
#35 に文面記載しました。
レビューお願いします。

[2016-04-30 09:31] #24 closed, assigned to nobody

[2016-04-30 09:37] dadaa commented on #32
チャネルの説明を加える

[2016-04-30 09:38] #33 closed, assigned to nobody

[2016-04-30 09:40] gurezo commented on #35
post されたので、close

[2016-04-30 09:40] #35 closed, assigned to nobody

[2016-04-30 09:42] naokisekiguchi commented on #31
MITのライセンスファイルなど置いときました。

[2016-04-30 09:42] #31 closed, assigned to naokisekiguchi

[2016-04-30 09:55] ega1979 opened #36 "(7/30) NodeBots Day 2016 for Tokyo"
#7/30にMozilla Japanさんで「NodeBots Day」を開催したいと思います。

J5などJavaScriptを使って作って騒ごうというハッカソン的＆もくもく会な感じにしたいですが、このイベントにchirimenもJoinできないかなと考えていますが、どうでしょう？

[2016-05-01 17:19] gurezo commented on #9
mozOpenHardのGoogle Groupが削除されていたようなので、追記

[2016-05-05 13:40] gurezo commented on #11
2016/05/01 01:12 に @kazygumi さんがデザインしてくれたので、
そのデザインの賛否を問うので如何でしょう？
**[アイコンサンプル](https://drive.google.com/open?id=0B4V6iMhRJyKOZFFrWDZQc1JaSTA)**
何処で、賛否を判定しますかね？そのまま、採用も有りかと個人的には思っています。

ツイッター投票にしますか？Facebook グループに投票しますか？
アドバイスお待ちしております

[2016-05-06 03:40] MSakamaki commented on #36
@ega1979 さん
これって申込やもろもろの期日って何時迄ですか？
余裕があるなら次回MTGのテーマにするのが良いかなと思います。

[2016-05-06 03:43] MSakamaki commented on #11
投票しようも比較対象がないので、そのまま採用でいいんでないかと。

[2016-05-06 03:51] gurezo commented on #11
では、採用と云う事で！
close しちゃいますね！
@kazygumi さん、有難うございます！

[2016-05-06 03:51] #11 closed, assigned to dadaa

[2016-05-06 05:24] MSakamaki commented on #26
以下で管理、こっちはclose
https://github.com/chirimen-oh/chirimen-oh.github.io/issues/9

[2016-05-06 05:24] #26 closed, assigned to MSakamaki

[2016-05-06 14:46] gurezo opened #37 "chirimen.open.hardware@gmail.com の活用法"
#### chirimen.open.hardware@gmail.com のGoogle Drive の活用（15GB）
##### 用途
1. イベント用資料
2. イベント用配布物（zip？）
3. バックアップ？（安定版のイメージとか）
4. その他（？？？？）
5. Googleカレンダー
##### 権限の範囲
1. 編集可：CHIRIMEN コントリビューター
2. 編集可：CHIRIMEN チューター
3. 閲覧のみ：一般？

---

どうやって範囲決めしたら良いか、アドバイスお願いします

[2016-05-07 02:15] dadaa commented on #21
done

[2016-05-07 02:15] #21 closed, assigned to dadaa

[2016-05-08 10:58] ega1979 commented on #36
@MSakamaki さん
期日は特に決めてないです。後乗りでもOKなので、告知後でもぜんぜんウェルカムです。

ちなみに今日IIJも使うことができると連絡があったので（135人OKの会場なので）。ハンダ行けるか確認します。
ハンダOKなら規模をどの程度するか次第ですね。個人的には50人以上はキツいかなと。

[2016-05-09 07:07] naokisekiguchi commented on #18
修正しました!

[2016-05-09 07:07] #18 closed, assigned to naokisekiguchi

[2016-05-09 08:57] tadfmac commented on #34
メスピンソケットに+1
理由：
- ブレッドボードと、オスオスのジャンパーワイヤーで接続できる
- CHIRIMENは現状ArduinoやRaspiのように広く認知されたPIN配置ではないのでブレッドボードを経由した試作を前提にするのが現実的

[2016-05-11 02:49] MSakamaki opened #38 "(8/6-7) Maker Faire Tokyo 2016"
## 出展内容
- 展示 (デモ)
- ハンズオン

[2016-05-11 02:57] gurezo opened #39 "CHIRIMENステッカー"
#36 や #38 とかで、アピール用にチラシ他

ステッカーを用意した方が良いかと思います。

サイト上で、ちょっと調べてみました。
[シール印刷の専門サイト - weblabels.net‎](https://is.gd/K2GlgC)
[シール印刷・ステッカー印刷・ラベル印刷](http://www.graphic.jp/lineup/ondemand/seal_sticker.php)

他に良い情報があれば、そちらでやりましょう。

課題
- [x] 予算
- [x] デザイン

[2016-05-13 00:53] kazygumi commented on #39
デザインは自分で良ければやりますよ

[2016-05-13 01:28] dynamis commented on #9
Google Group は削除ではなく移動されてるはず: 念のため。
https://groups.google.com/forum/#!forum/chirimen_oh
既存メールアドレスに投稿しても届かないと思うので、変更したことの案内 (ついでに色々告知) は流しておいた方が良いかも。

[2016-05-13 01:38] naokisekiguchi commented on #9
今、
https://groups.google.com/forum/#!forum/chirimen_oh
と
https://groups.google.com/forum/#!forum/chirimen-oh
がありますが、どちらを正規として使っていく感じですか？

[2016-05-13 01:49] dynamis commented on #9
_oh! -oh!

投稿数と登録者数的には -oh の方が良さそうに見えます。
https://groups.google.com/forum/#!forum/chirimen-oh
その場合、名称は _oh に揃えるなら今の _oh を改名の上で -oh を _oh にという流れになりますね。

[2016-05-13 02:11] naokisekiguchi commented on #9
なにげにgithubもslackも-ohなんですよね。
_ohはtwitterだけ？

_ohのメンバーを-ohに誘導して現状の_ohはcloseという形はどうでしょう？
（だいたいメンバーは被っていると思いますが）

[2016-05-13 03:03] gurezo commented on #9
twitterは、-使えないので、やむなく_にしました。

[2016-05-15 02:55] ghost commented on #32
(#33 に貼ってあったのをこっちにも)
https://docs.google.com/spreadsheets/d/1ibBG4Ee_COF6rRQWu1-qVpC9zTGwcScTRnXU4xjAxHU/edit?usp=sharing

[2016-05-15 02:57] ghost commented on #32
#scheduleと#webは削除していただきました

[2016-05-15 03:12] ghost commented on #37
Googleカレンダー活用できますかねってちょっと思いついたのでとりあえずここに書いときます

[2016-05-15 03:15] dadaa opened #40 "(6/8-10) Interop 2016"
http://www.interop.jp/
W3C 内でブースを持つ予定

[2016-05-15 03:16] ghost opened #41 "(6/8-10) Interop Tokyo 2016"
http://exhibitor.f2ff.jp/2016/exhibition_form/companylist.html 7P33

[2016-05-15 03:17] #40 closed, assigned to nobody

[2016-05-16 04:40] MSakamaki commented on #37
googleカレンダーは良いですね。 👍

[2016-05-16 06:08] kohichi000000 commented on #39
#41 が一番最初に来るイベントなので、ちょっとばかし急ぎたいです（せめてチラシだけでも）。課題は同じ。

[2016-05-16 06:24] kohichi000000 commented on #41
## 出展内容
- 展示（デモ）
  - 詳細は別途検討（基本はアリもの）

## 枠組み
- W3Cブース（ホール７）内にコミュニティ枠が設けられる。その中で出す予定。

## 検討事項
- 展示員（各タイミングで１－２名）
  - 参加したい人（できそうな人）は適宜手をあげてください。6/8-10の一部で全然問題ないです。平日ですので無理のない範囲で。
- チラシ（刷新したもの） #42
- パネル A1 (縦・横ともにOK）：作成中
- ロゴ：　
  - 案：  https://drive.google.com/file/d/0B4V6iMhRJyKOZFFrWDZQc1JaSTA/view
- テーマ（40文字以内）：
  - 案：　デバイスをブラウザで操作するためのボード・APIの開発をオープンコミュニティで推進
- テーブル：２つ
- テーブルの前に壁ができてそこにいろいろ掲示

[2016-05-16 06:27] gurezo commented on #39
もし、急ぐのであれば、下記提案です。
**[CHIRIMENアイコン](https://drive.google.com/open?id=0B4V6iMhRJyKOZFFrWDZQc1JaSTA)**
上記ロゴステッカーの画像で、入稿する。

[2016-05-16 06:37] kohichi000000 commented on #39
チラシについては、昨年から使っていたものを使うのがいいと思っているのですが、URLなどいくつか文言変える必要があるので、後ほどissueたてます。

[2016-05-16 06:46] kazygumi commented on #39
6/8であれば、チラシもシールも来週中に入稿すれば間に合いますね。
自分の方でデザインと見積を進めましょうか？
お金は割り勘ですか？

[2016-05-16 06:49] gurezo commented on #39
自分は印刷費用に関して、協力する予定です。
割り勘するにしても誰が参加してくれるでしょうか？（苦笑

デザインと見積もりお願いします！

[2016-05-16 07:17] kohichi000000 commented on #39
gurezoさん、kazygumiさんありがとうございます。
はい、そんな感じです。来週中にはfixしたいです。
お金割り勘なら私も手をあげるつもり。
チラシについて文案等作っているので、議論できるように
#43  にissue立てました。

[2016-05-16 07:26] gurezo commented on #41
## 展示員スケジュールフォーマット
- [x] 06/08(水) AM
- [x] 06/08(水) PM
- [x] 06/09(木) AM
- [x] 06/09(木) PM
- [x] 06/10(金) AM
- [x] 06/10(金) PM

[2016-05-16 07:43] gurezo commented on #41
## きぐれ日程

#### ~~現時点なら、06/08(水)終日お手伝いできます。~~

#### 仕事・体調が怪しいので、頭数から外して下さいませ。すみません。

#### update 06/04
- [ ] 06/08(水) AM
- [ ] 06/08(水) PM
- [ ] 06/09(木) AM
- [ ] 06/09(木) PM
- [ ] 06/10(金) AM
- [ ] 06/10(金) PM

---

親父の退院の日が06/09になってしまいました（；；）

[2016-05-16 07:45] kohichi000000 opened #42 "チラシの刷新"
昨年コミュニティで使っていた
[チラシ.pdf](https://github.com/chirimen-oh/any-issues/files/265747/default.pdf)
の刷新案です。5/23あたりにはフィックスしたいですー
# 表面（白い方）
## ロゴ
- せっかくだからのせたい？
## 左にあるCHIRIMENの写真
- ピンが片側18個のものに変えたほうがよいのでは（要撮影）
## 右にあるプログラム
- promise化前のものなので、promise化されたものに変更すべき？
- ただ、全部書いてしまうと結構でかくなりそう。
- 例えば、jsのみだが、https://github.com/chirimen-oh/examples/blob/master/LEDblink/js/main.js の中身をそのまま書き出すのはどうか？
## コミュニティ名
- 「Des

[2016-05-16 16:01] gurezo commented on #37
## CHIRIMEN イベントカレンダー作成

##### Google カレンダーで、CHIRIMEN Open Hardware に関連するイベントを公開しました。

###### 適用のやり方は、下記の通り
1. Google カレンダーで、開く
2. 他のカレンダーをクリック
3. 友達のカレンダーの追加
4. メールアドレス：chirimen.open.hardware@gmail.com を入力
5. 追加ボタンをクリック
6. 完了

[2016-05-19 04:43] kohichi000000 commented on #41
今回のイベントはW3C/Asiaの拠点が慶應になってから２０周年であることを祝して行われるのですが、
6/9夜（19:20-）に開催されるレセプションに本コミュニティの方もご参加いただけることとなりました。8888
参加したいという方は何らかの手段で高木（幸）までご連絡ください。参加登録方法をお伝えします。
https://www.w3.org/20/Asia/Japan/Overview.html

[2016-05-19 05:17] kohichi000000 commented on #42
フォントはアレですがざっくりこんなイメージを想定しています
[チラシ表.pdf](https://github.com/chirimen-oh/any-issues/files/271879/default.pdf)
[チラシ裏.pdf](https://github.com/chirimen-oh/any-issues/files/271880/default.pdf)

[2016-05-19 05:42] gurezo commented on #42
#### 気になった点　チラシ裏.pdf

##### Specs以下のアンダーラインが中途半端
- CPU
- GPU
- Memory
- Storage
- Interface

[2016-05-19 05:47] kohichi000000 commented on #42
文字に合わせてアンダーラインしておけばOKですかね？

[2016-05-19 05:54] gurezo commented on #42
はい、文字長に合わせて、アンダーラインが引いてあれば良いかと思います。

[2016-05-19 10:42] MSakamaki commented on #39
酒巻さんも手を挙げさせてもらいます。

[2016-05-19 23:13] ghost commented on #42
裏面、NANDは8GBです。
microUSBは一つと書くべきです。あるいはOTGと書くべきです。

[2016-05-20 00:20] kohichi000000 commented on #42
ありがとうございます。確かにそうですね。Specを次のように直します：
- CPU:       RK3066 (ARM Cortex A9 1.6GHz dual core)
- GPU:       Mali 400
- Storage:   DDR3 1GB
- Memory:    NAND Flash 8GB, microSD slot
- Interface: microHDMI, microUSB x1(OTG), USB, GPIO, I2C, etc.

[2016-05-20 00:31] kohichi000000 commented on #42
なんとなくこっちの方が気持ちいいですかね。一気通貫でWebだけでできるというのは大きな特長の１つですし。

Web developers need NOT change their own ordinary development style.
Web開発者は従来の開発スタイルを変える必要がない（新たに言語を勉強する必要がない。同じ感覚でリアルなデバイスも触れちゃう）

[2016-05-20 08:25] kazygumi commented on #39
金額はおそらく下記のような感じになります。

■チラシ
両面 A4 500部 **3,300円**（200部から500部までほぼ同じ値段）

■円形シール
直径5cm 300枚 1個ずつシートをカット **10,414円**

[2016-05-20 08:36] kohichi000000 commented on #39
ありがとうございます
チラシですが
A5、カラー+白黒、110g、2000枚、光沢
だとどのくらいでしょ？
わたしの認識だと4200円くらい。

[2016-05-20 08:50] kazygumi commented on #39
そうですね。
もし来週早々にデータが完成すれば4,200円でできると思います。
遅くなったとしても5,000円前後です。

ただ2,000枚となると配りきれないと思いますので、
イベント後の置き場所を考えなくてはならない気がします。
Mozillaさんとか置かせてくれたりしますかね。

[2016-05-20 17:08] kohichi000000 commented on #39
基本はうちにおいていいですが、モジラさんでもおさわりとかしたとき用にある程度置かせていただけるとうれしいです。
多分maker faireまでで1000位配ると思うので、そんくらいあってもいいですよね？

[2016-05-20 17:15] gurezo commented on #39
良いと思います。
支払いとかは、一度梶井さんにお願いしちゃって良いですか？
来週か再来週割り勘分はモジラオフィスに預ければ良いですよね？
一人当たり1,500円〜2,000円？

[2016-05-20 17:49] gurezo commented on #39
チラシ＋シールだから、合計15,000円は見なくてはですね
一人当たり4,000円〜5,000円ですね
勘違いしてました(^^;

[2016-05-23 08:15] kohichi000000 commented on #42
とりあえず、現状版をUPします。
いいかどうかわかりませんが、表のCHIRIMENのCの字をロゴで置き換えてみました：
[チラシ表２.pdf](https://github.com/chirimen-oh/any-issues/files/277053/default.pdf)
[チラシ裏２.pdf](https://github.com/chirimen-oh/any-issues/files/277206/default.pdf)

[2016-05-24 05:53] kohichi000000 commented on #41
ブースに掲げるテーマとロゴですが、5/25（水）正午を〆切としたいと思います。
以下の案で問題あれば突っ込んでください。何もなければこのまま確定します（提出します）

ロゴ：　
案（丸い方）： https://drive.google.com/file/d/0B4V6iMhRJyKOZFFrWDZQc1JaSTA/view

テーマ（40文字以内）：
案：　デバイスをブラウザで操作するためのボード・APIの開発をオープンコミュニティで推進

[2016-05-24 05:54] kohichi000000 commented on #41
## 高木日程：責任者ということで一応ずっといます（ひょっとするとhtml5jの方に顔出しているかも）
- [x] 06/08(水) AM
- [x] 06/08(水) PM
- [x] 06/09(木) AM
- [x] 06/09(木) PM
- [x] 06/10(金) AM
- [x] 06/10(金) PM

[2016-05-24 05:56] kohichi000000 commented on #42
こちらについて、（フォントを除き）これで24(火)中にフィックスする予定です。
[チラシ表２.pdf](https://github.com/chirimen-oh/any-issues/files/277053/default.pdf)
[チラシ裏２.pdf](https://github.com/chirimen-oh/any-issues/files/277206/default.pdf)
問題あれば突っ込みを。

[2016-05-24 07:22] ghost commented on #42
http://www.arm.com/cortex-a9.php 眺めてたんですが、裏のCPUの()の中の表記、 "ARM® Cortex®-A9" とちゃんとした方がいいんですかね...

あと細かいツッコミで申し訳ないですが、 "microUSB x1(OTG)" は "microUSB (OTG)" でよいかなと

[2016-05-24 07:30] ghost commented on #42
私のデザインセンスは大変残念なので的外れかもですが、表の方、Cのロゴをもうちょっと主張させて、 "HIRIMEN Hello, Real World" の文字列は少し控えめにするとどうかなと思いました

[2016-05-24 07:33] kohichi000000 commented on #42
ありがとうございます。修正します。
よく見たらMaliもTMなんですね・・・
https://www.arm.com/ja/products/multimedia/mali-gpu/ultra-low-power/mali-400.php
入れておきます。

[2016-05-24 07:34] gurezo commented on #42
[チラシ表２.pdf](https://github.com/chirimen-oh/any-issues/files/277053/default.pdf)
１８ピンに変えたい
[チラシ裏２.pdf](https://github.com/chirimen-oh/any-issues/files/277206/default.pdf)
ここの文字列を「Open Source Hardware for Web Maker」に変えたい

上記メモを外しておいた方が良い段階かと。
入稿時にメモがあるのは、怖いっす。

[2016-05-24 07:35] kohichi000000 commented on #42
ありがとうございます。これに従い入稿前に絵を差し替えますので。

[2016-05-24 08:03] kohichi000000 commented on #42
表のCのロゴと他の文字のバランスですが、こんな感じでどうでしょ？
[チラシ表2-c1.pdf](https://github.com/chirimen-oh/any-issues/files/279024/2-c1.pdf)

[2016-05-24 08:13] gurezo commented on #42
画像の下地とチラシの下地の色と合わせれば、
個人的意見ですが、これで良いかと

[2016-05-24 08:23] kohichi000000 commented on #42
はいー下地は無色にしてはりますね

[2016-05-24 08:27] kohichi000000 commented on #42
とりあえず、Lチカの絵はこれに差し替える：
![20160524_172108](https://cloud.githubusercontent.com/assets/3125390/15497247/b7804220-21d4-11e6-8dbe-9c4fe743aae6.jpg)

[2016-05-24 09:44] kohichi000000 commented on #42
とりあえず、絵も差し替えました。こんなんでどうかな（背景消しはまだ）：
[チラシ表3.pdf](https://github.com/chirimen-oh/any-issues/files/279192/3.pdf)
[チラシ裏3.pdf](https://github.com/chirimen-oh/any-issues/files/279193/3.pdf)

[2016-05-24 15:15] kazygumi commented on #42
あ、すみません！
デザイン的なところまで対応いただいていたのですね。
勝手に文言FIXしたと思い込み、今日の進行を見ずにデザインをしてしまいました。

[CHIRIMEN-A4チラシ.pdf](https://github.com/chirimen-oh/any-issues/files/279803/CHIRIMEN-A4.pdf)

自分からの提案は下記のとおりです。

### 表面

・女子高生の話も出ていたので、水色やイラストを引いて、少しかわいくしました。
・「CHIRIMEN」の文字を小さくして、キャッチコピーから切り離し、商品名っぽくしました。
・コードは、HTMLタグがないとJavaScriptであることがひと目では分かりづらいため、
　HTMLタグを加えました。
・遠目からでもwebエンジニアが反応できるようHTML5のロゴを加えました。

### 裏面

・文字が多かっ

[2016-05-25 00:02] kohichi000000 commented on #42
おーすばらしい！さすがというか。基本 @kazygumi さんのご提案に賛同します。
（やはり、こういうものはセンスがある人が作ったほうがいいｗ）
いくつかお願いと確認があります。

### 全体
- （確認）サイズですが、A5とかだと小さすぎますかね？（A4だと折られてしまうので昨年度と同じ大きさのA5くらいがうれしい。）

### 表面
- （お願い）右側のプログラムですが、JavaScriptの箇所を下記のようにできないか？（肥大化しちゃいますかね？）
  [チラシ表3.pdf](https://github.com/chirimen-oh/any-issues/files/279192/3.pdf)
- （確認）CHIRIMENの絵ですが、写真を使うのと絵を使うのではどっちがいいでしょうかね？写真の方がリアリティが増す、絵の方がかわいらしいとともにメリットはあると思っています。

[2016-05-25 00:18] gurezo commented on #42
ちょっと見てない間に更に素晴らしいデザインが出てました。
@kazygumi さん、あざます！
自分も @kohichi000000 と同様に@kazygumi さんのデザインに賛成です。

[2016-05-25 00:32] kazygumi commented on #42
賛同いただきありがとうございます！
また、ご指摘ありがとうございます。今日の夜対応しようと思います。

1点確認なのですが、

JavaScriptは[チラシ表3.pdf](https://github.com/chirimen-oh/any-issues/files/279192/3.pdf)のコードから、デバック用の処理（console.log、エラー処理）を省いたものなのですが、やはりデバック用の処理も入れておいた方が良いという意図で合っておりますでしょうか。

[2016-05-25 02:13] kohichi000000 commented on #42
たしかに、エラー処理まではいらないですね。
そこまでよみとってくださり、ありがとうございます。

[2016-05-25 03:42] kohichi000000 commented on #41
これで確定します！

[2016-05-25 03:47] kohichi000000 commented on #42
わかりにくかったかもしれませんが、こんな感じを意図しています：
Developers can get the firmware code, board design, manufacturing
process, API spec, and all necessary sources from the following URL.
This community honors developer's will and work on the standeardization.

[2016-05-25 05:15] kohichi000000 commented on #39
CHIRIMENロゴのベクターデータってありますか？？
ロゴとして掲載したいので。
（展示しようとするといわれそう）

[2016-05-25 05:54] kohichi000000 commented on #39
やはりなんですが
Interopの事務局から、ロゴのベクターデータを明日(5/26)の10時くらいまでにほしいといわれてしまいました。
可能でしょうか？？
丸い方だけで大丈夫です。

[2016-05-25 10:16] kazygumi commented on #42
修正してみました。

■イラスト版
[CHIRIMEN-A5チラシ-イラスト.pdf](https://github.com/chirimen-oh/any-issues/files/281510/CHIRIMEN-A5.-.pdf)

■写真版
[CHIRIMEN-A5チラシ-写真.pdf](https://github.com/chirimen-oh/any-issues/files/281511/CHIRIMEN-A5.-.pdf)

イラスト版の方が気に入っていますが、どうでしょうか。

[2016-05-25 10:27] ghost commented on #42
裏のspecのところが戻っちゃってますです

イラストの方が馴染んでいるような...実物も付近に置いてあるような状況で配る用であれば、写真である必要性はあまりないのではないでしょうか(まぁ付近になくても、続きはwebで、見てもらうでいいような)

写真の場合、コピー機で撮ればのっぺりした感じになるんでしたっけ?

[2016-05-25 10:47] kohichi000000 commented on #42
この両者だとイラストの方がいいかも。
写真でトリミングされているとちょっと気持ち悪いのかなぁ。
どうでしょ？

[2016-05-25 11:01] kazygumi commented on #42
ご指摘ありがとうございます！
SPEC修正しました。

■イラスト版
[CHIRIMEN-A5チラシ-イラスト.pdf](https://github.com/chirimen-oh/any-issues/files/281575/CHIRIMEN-A5.-.pdf)

■写真版
[CHIRIMEN-A5チラシ-写真.pdf](https://github.com/chirimen-oh/any-issues/files/281576/CHIRIMEN-A5.-.pdf)

たしかに、入り口はかわいく見えるイラストで誘導して、
webでリアルな方を見てもらう方が
初心者は入りやすいかもと思いました。

[2016-05-25 11:14] kazygumi commented on #39
渡せるロゴのベクターデータを作ってみました。

[CHIRIMEN-VI.pdf](https://github.com/chirimen-oh/any-issues/files/281636/CHIRIMEN-VI.pdf)

どのような使われ方をするのかわからなかったので、
念のため「CHIRIMEN」のタイポも含めたパターンも作ってみました。
「CHIRIMEN」の文字が無いような場所に掲載されるのであれば、
C.かD.を使っていただければと思います。

[2016-05-25 11:20] kazygumi commented on #39
念のため丸いロゴだけのものもアップしておきます。

[CHIRIMEN-logo-circle.pdf](https://github.com/chirimen-oh/any-issues/files/281809/CHIRIMEN-logo-circle.pdf)

[2016-05-25 11:44] kohichi000000 commented on #39
ありがとうございます
Interopのブースで参加団体のロゴとして使われるんだと思います。

[2016-05-25 23:22] kohichi000000 commented on #39
コメントが足りませんでした。各ブースにおいて団体名、テーマを掲げるんですが、その横にロゴが載る形です。つまり、タイポは無くても大丈夫なので、A案を使いたいと思います。
A案のベクタ画像があればどっかに上げてもらえると嬉しいです。（ジャギーが出るのを防ぐため）

[2016-05-25 23:42] kohichi000000 commented on #39
チラシも固まったと思うので、今日明日くらいでステッカーとともに入構作業に入りましょうかね。
@gurezo さんがおっしゃるとおり、 @kazygumi さんにお願いしてしまっていいでしょうか？
（お忙しいようであれば私の方でも可能です）

まとめると、
- スペック：
  - チラシ： #42 参照。A5、カラー+白黒、110g、2000枚、光沢
  - 円形（上記参照）。直径5cm 300枚 1個ずつシートをカット
- 費用：
  - 可能であれば @kazygumi さんの方で立て替えていただけるとうれしいです
  - 今のところは手をあげてくださった方で割り勘
  - 場合によっては工藤さんがfacebookにあげていたファンドを使う可能性等もある(New!)
- 送付先：　
  - 納入が6/7でよければInterop会場直接送付でも可能(その場合は送付先住所を伝えます)。

[2016-05-26 00:43] naokisekiguchi commented on #42
ここで話が進んでいたんですね。。見逃してました。

今更かもしれないですが、サンプルコードの部分、以下のように書けますね。

[code]

[2016-05-26 01:04] naokisekiguchi commented on #39
今まで議論に気づいてませんでした。
#42 にコメントしましたがチラシに載せるプログラムを2行くらい削減できるのでご確認いただけますか？

[2016-05-26 01:09] kazygumi commented on #39
@kohichi000000 さん >

下記のファイルはベクタ画像ですのでそのままご利用いただけます。
[CHIRIMEN-logo-circle.pdf](https://github.com/chirimen-oh/any-issues/files/281809/CHIRIMEN-logo-circle.pdf)

入稿作業、入金に関して了解しました。こちらで対応します。
送付先はInterop会場としようと思いますので
送付先をお教えいただいてもよろしいでしょうか。

@naokisekiguchi さん >
了解しました。確認します。

[2016-05-26 01:13] kazygumi commented on #42
サンプルコードの提供ありがとうございます！
夜に対応します。

[2016-05-26 02:25] kohichi000000 commented on #39
ありがとうございます。
個人情報を書く必要があるので、後ほど @kazygumi さんにメールします。

[2016-05-26 02:48] kohichi000000 commented on #39
それぞれ残ったら、コミュニティの財産としてモジラジャパンさんにおいていただくことになりました。

[2016-05-26 09:35] kazygumi commented on #42
サンプルコードを修正しました。

[CHIRIMEN-A5チラシ.pdf](https://github.com/chirimen-oh/any-issues/files/283835/CHIRIMEN-A5.pdf)

こちらで入稿しようと思います。

[2016-05-26 09:45] gurezo commented on #42
@kazygumi さん、有難うございます！！！

[2016-05-26 09:48] kohichi000000 commented on #42
ありがとうございます。ということで、このissueはcloseしますー

[2016-05-26 09:48] #42 closed, assigned to nobody

[2016-05-26 09:49] kohichi000000 commented on #41
明日出展者証を確保します⇒ほしい人は言ってくださいね。渡し方を考えます。

[2016-05-26 09:58] gurezo commented on #41
FBメッセンジャーで待ち合わせ場所と時間を決められたらと思いますー。

[2016-05-26 11:03] kazygumi commented on #39
チラシの入稿が完了しました。
業者はラクスルさんで5,832円でした。

[2016-05-26 11:56] kazygumi commented on #39
シールも入稿done。
シール直送便さんで9,075円でした。

[2016-05-26 11:58] gurezo commented on #39
@kazygumi さん、チラシ、シールデザインから入稿まで有難うございました。

[2016-05-26 22:30] kohichi000000 commented on #41
ですね。そうさせてください。

[2016-05-27 02:48] kazygumi commented on #39
すみません！
ステッカーの件ですが、
誤ってシール素材を選んでしまっていたので、ステッカー素材に変更します。
そのため金額が10,683円に変更となりました。

なので合計金額は下記のとおりとなります。
チラシ　　　5,832円
ステッカー　10,683円
─────────────
合計　　　　16,515円

[2016-05-27 02:49] kazygumi commented on #39
割り勘に参加頂けるメンバーは、
@gurezo
@kohichi000000
@MSakamaki
@kazygumi
の4名であっていますでしょうか。

1人4,130円でどうでしょう。

[2016-05-27 02:54] kohichi000000 commented on #39
いまのところそうですが、もちっとおうぼしてみましょか？

[2016-05-27 03:00] naokisekiguchi commented on #39
私も参加しますよ。
CHIRIMEN dayから1ヶ月たつのでマンスリーミーティングをやって人を集めましょうか。

[2016-05-27 03:20] kazygumi commented on #41
## 梶井日程

案件次第でまだわからないのですが、可能であればお手伝いしたいです。
- [ ] 06/08(水) AM
- [ ] 06/08(水) PM
- [x] 06/09(木) AM
- [x] 06/09(木) PM
- [ ] 06/10(金) AM
- [ ] 06/10(金) PM

[2016-05-27 03:23] kazygumi commented on #41
ここを見て気づいたのですが、A1パネル作りますか？

[2016-05-27 03:50] kohichi000000 commented on #41
@kazygumi さん、できれば！
ちなみに壁が使えることになったので、必ずしもA1でなくてもだいじょぶです。
今後も使えるやつと、今回のみのやつを作るつもりでした。
前者はコミュニティのイメージ的なもので、写真メイン。
後者はInteropは背広系の人が多いので、昨今のIoTと絡めたかたいやつ。
今日素案だけ作ります。

[2016-05-27 04:07] kazygumi commented on #41
@kohichi000000 さん
わかりました！
もしよろしければ自分の方でデザインしちゃいます。

[2016-05-27 04:13] gurezo commented on #39
どこかで、集金しなきゃですね。
自分は、カンパオッケーです。

[2016-05-27 04:15] dadaa commented on #39
僕も！

[2016-05-27 05:14] kohichi000000 commented on #41
@kazygumi さん。あざます。できればそうしていただけると・・・。
A3なら来週中にあれば間に合います。
ちなみに、イメージセンスのない私は、前者（いつでも使えるやつ）については
![20160527_135200 1](https://cloud.githubusercontent.com/assets/3125390/15598440/3a03e390-2415-11e6-8d17-bb5a1efa8e88.jpg)
の文言を変えたものを作ろうとしていました。
（と思いつつ、Webっぽさが分かる写真も欲しいかも）

文はこんな感じに変更を想定：
CHIRIMEN Open Hardware
CHIRIMEN Open Hardware is an open community developing
Web of Things environment designed based

[2016-05-27 07:15] kazygumi commented on #39
またまたすみません。
ラクスルさんが日時指定できないようなので、
一旦弊社で受け取ってから日時指定で送るようにします。
なので追加で宅急便代が1000円程度かかる予定です。
（A1パネルも作ることになったので、うまくいけばまとめて送れるかも）

[2016-05-27 07:16] kohichi000000 commented on #39
パネルの印刷どうします？

[2016-05-27 07:20] kazygumi commented on #39
キンコーズでよければ会社の近所にあるのでこちらで印刷できますよ。
A1一枚8000円くらいだったと思います。

[2016-05-27 07:32] kohichi000000 commented on #39
そんくらいかかりますよね。
お金かけたくないので、私の方でW3C（というか大学）でやろうと思うんですが、いいですかね？
W3C主催のイベントのためだし、許されるかと（一応確認中）

[2016-05-27 07:41] kazygumi commented on #39
了解しました！
大学側で可能であれば、デザインが出来しだい
デザインデータをGoogle Driveあたりで共有するようにします。

[2016-05-27 14:10] kohichi000000 commented on #41
パネル案作りました：
[InteroppanelCHIRIMEN.pptx](https://github.com/chirimen-oh/any-issues/files/286539/InteroppanelCHIRIMEN.pptx)

[2016-05-27 14:28] kazygumi commented on #41
了解しました！

[2016-05-29 23:37] kohichi000000 commented on #41
あ、先日あげた下記は「背広系の人向け」のやつです：
[InteroppanelCHIRIMEN.pptx](https://github.com/chirimen-oh/any-issues/files/286539/InteroppanelCHIRIMEN.pptx)

[2016-06-02 18:01] kazygumi commented on #41
遅くなってしまい申し訳ないです。
背広の人向けのデザインを作りました。

[CHIRIMEN-A3パネル-背広の人向け.pdf](https://github.com/chirimen-oh/any-issues/files/296202/CHIRIMEN-A3.-.pdf)

@kohichi000000 さんの
意図と違うものになっていないか、ご確認お願い致します。

[2016-06-03 02:22] kohichi000000 commented on #41
@kazygumi さん
感動です。ありがとうございます。

２点だけ。

○２つ目の箱にある
「IoT アプリを機能分解⇒個別のコンピューティング PF に」
は、「WoTのコンセプト」と「我々の活動」をつなぐ言葉でしたので、
そのような感じになるように書いていただけないでしょうか？

○右下の電灯のところの英語を
Even a hardware HMI will be flexible
としてください。

すいませんが、よろしくお願いいたします。

[2016-06-03 11:36] kazygumi commented on #41
了解しました！

[2016-06-03 15:22] kazygumi commented on #41
修正してみましたのでご確認お願い致します

[CHIRIMEN-A3パネル-背広の人向け.pdf](https://github.com/chirimen-oh/any-issues/files/297844/CHIRIMEN-A3.-.pdf)

[2016-06-03 16:35] kohichi000000 commented on #41
ありがとうございます。確認しました。わたしとしてはこれで大丈夫です！
ほんとにありがとうございます！

[2016-06-04 00:44] kazygumi commented on #41
すみません！
CHIRIMENのイラストが崩れていたので差し替えたいです。

[CHIRIMEN-A3パネル-背広の人向け.pdf](https://github.com/chirimen-oh/any-issues/files/298603/CHIRIMEN-A3.-.pdf)

印刷の際はこちらでお願い致します。

[2016-06-04 00:50] kohichi000000 commented on #41
@kazygumi さん
了解しました。ありがとうございます。

[2016-06-04 14:11] kohichi000000 commented on #41
まとめます。
- A1パネルの印刷は無事SFCさんにお願いしました。私が７日に回収して８日に掲示できる予定
- 展示スタッフ
  - ８日：　@kohichi000000 、( @gurezo さん)
  - ９日：　@sizuhiko さん(PM)、 @kazygumi さん, @kohichi000000
  - 10日：　@sizuhiko さん、 @kohichi000000
- 展示物は私が遅くとも８日朝に搬入予定
- パンフとシールは７日に開場に届く

[2016-06-04 14:15] gurezo commented on #41
@kohichi000000 さん、すみません
今の状況だと色々怪しいので、自分を頭数から外して下さい。
すみません。

[2016-06-04 16:35] kohichi000000 commented on #41
@gurezo さん
はい、都合がつけばで構いません。

[2016-06-04 18:03] kazygumi commented on #41
あ！A1パネルだったんですね。
A3サイズで作っちゃいましたけど大丈夫でしょうか…。
もし直す必要があればご連絡ください。

パンフはすでに出荷され、6/6に弊社に届く予定ですので、
6/7の指定の時間に届くように弊社から再発送します。

シールは今のところ問題なく進んでいるようで、
出荷したら出荷情報を教えてくれるそうです。
校正紙が届いていたので、念のため共有します。

[校正紙_W10241_株式会社ブリリアントサービス梶井祐介様.pdf](https://github.com/chirimen-oh/any-issues/files/298964/_W10241_.pdf)

[2016-06-05 03:08] kohichi000000 commented on #41
@kazygumi さん
パネル問題ないですよ。ありがとうございます。

[2016-06-05 06:57] sizuhiko commented on #41
木PMと金フルで参加します。
とりあえず先ほど出展者証はもらったので、基調講演聞いてない時間とかお手伝いできると思います

[2016-06-05 07:42] kohichi000000 commented on #41
@sizuhiko さんありがとうございます

[2016-06-06 08:31] kazygumi commented on #41
パンフ、本日届きましたので、幕張メッセに送りました。
また、シールも配送したと連絡がありました。
それぞれの配送情報は下記の通りです。

配送業者：クロネコヤマト（両方とも）
伝票番号：
　チラシ：332756124632
　シール：404236196066

[2016-06-07 10:34] kohichi000000 commented on #41
いいわすれましたが、チラシもステッカーも無事届きました。ありがとうございます！

[2016-06-08 09:50] kazygumi commented on #41
@kohichi000000 さん
すみません！
仕事でトラブルがおきてしまい明日は行けなさそうです…。
ぜひ行きたかったのですが…。
直前で申し訳ありません。

[2016-06-08 10:13] kohichi000000 commented on #41
@kazygumi さん
だいじょぶです。気になさらないでください。
ほんとは直接お礼したかったですー

[2016-06-10 09:31] kazygumi commented on #41
皆様
展示お疲れ様でした。
参加することができませんでしたが、
facebookの写真で楽しませて頂きました。

@kohichi000000 さん
こちらこそご挨拶したかったのですが…。無念でした。

今回製作したもろもろのAIファイルを
下記においておきます。
[chirimen-pr160610.zip](https://github.com/chirimen-oh/any-issues/files/308731/chirimen-pr160610.zip)
自由にお使いください。

[2016-06-12 07:57] kohichi000000 commented on #41
皆様のおかげで無事終わりました。
本issueはクローズさせていただきますー。
余談ですが、
- パンフ、ステッカーは私の手元にあります。⇒モジラジャパンさんにお持ちします。
- A1のパネルは慶應においておきます(Maker Faireとかでも使えるかも)

[2016-06-12 07:57] #41 closed, assigned to nobody

[2016-06-20 01:39] naokisekiguchi opened #43 "Transfer old issues to chirimen-oh repository"
mozopenhardレポジトリのissue
https://github.com/MozOpenHard/CHIRIMEN/issues
で必要なやつはこちらに移してくる必要がある。

何か良い方法ありますか？
なければ地道に移してくる必要がありますが。

[2016-06-20 01:44] gurezo commented on #43
ちょっと調べただけなので、未確認情報です
[githubのissueを抜き出す(GHE → gitlabへ移行したい)](http://qiita.com/abeyuya/items/7301d01a2906457bdb77)

参考になれば幸いです。

[2016-06-20 01:49] gurezo commented on #39
Interop Tokyo 2016にて、作成・配布等々が出来たので、closesします

[2016-06-20 01:49] #39 closed, assigned to nobody

[2016-06-20 03:38] satakagi opened #44 "CHIRIMENのパネル"
Interop Tokyo用に製作したパネルを更新したいです。
関連するイシューは　#41
以下が上記パネルの課題と考えられる点です。
・他のプロジェクトにないCHIRIMENの特徴点を明確にしたい（今のコピーだとTesselとの違いがわからない）
・英語版　もしくは日英版　（今のパネルは英語の説明が不完全）

[2016-06-20 04:58] MSakamaki commented on #43
こういうのもあるぽい(使った事無い)
https://github-issue-mover.appspot.com/

[2016-06-20 05:49] satakagi commented on #44
変更案を作ってみました。
ただし、変更が必要ない文字の部分は省略してます。（aiファイルの読み込みが失敗してるため・・）

@kazygumi さん、@kohichi000000さん、aiファイルをちゃんと編集できるツールがない（Inkscapeしか持ってない・・・・）ので、原案に対する更新をお願いできないでしょうか？
あ、もちろん　ここはこうしたほうが良い　という部分があれば、それも入れていただければと思います。

[CHIRIMEN-A3ポスター改造.pdf](https://github.com/chirimen-oh/any-issues/files/322769/CHIRIMEN-A3.pdf)

[CHIRIMEN-A3ポスター改造.zip](https://github.com/chirimen-oh/any-issues/files/322774/CHIRIMEN-A3.z

[2016-06-20 05:59] kohichi000000 commented on #44
今日の夜トライしてみますね

[2016-06-20 07:30] n0bisuke commented on #36
Issueがあったんですね！

[2016-06-20 08:05] kazygumi commented on #44
@kohichi000000 さん
こちらで対応しましょうか？
今日中は難しいかも知れませんが…

[2016-06-20 12:01] kohichi000000 commented on #44
@kazygumi さん
私の方で無理ならお願いするかも。まずは試してみますね。

[2016-06-20 12:31] kohichi000000 commented on #44
@kazygumi さん

いくつかフォントが無くてダメでした・・・・
@satakagi さんが作られたものに対し、このようにできますか？

○一番上
「センサーやアクチュエータなどの・・・」の下
The embedded computer with a built-in web browser
(computerは単数形でいい？）

○IoTの課題とWoT、および我々の活動の位置づけ
　→IoTの課題とWoT、およびCHIRIMENの位置づけ
　　The position of "Web of Things" and "CHIRIMEN" against ...
（下のキャプションとの関係から、「我々の活動」を「CHIRIMEN」に代える）

○「IoTの課題」の下の文章
こんなんでいかがでしょう？
Although the things network is unified, the

[2016-06-20 16:58] kazygumi commented on #44
@kohichi000000 さん
了解しました！

[2016-06-21 03:54] naokisekiguchi commented on #32
不足していた(?)webapiとhardwareチャンネルを加えて、各チャンネルのpurposeに説明を追加しました。どなたか確認、必要なら修正してくださいー。

上のgoogle docみると#devはアプリ開発とかでしたね。
#dev は#dev-appとかの名前にしたほうがわかりやすい気がしますが、いかがでしょう？
（チャンネル作成者か管理者しか名前は変更できない）

[2016-06-22 05:37] satakagi commented on #44
@kazygumi さん、　@kohichi000000 さん、　パネルのほう　いつ頃アップロードいただけますでしょう？　できれば明日いただきたいところです。
　お忙しいところ、せかしてしまうようで申し訳ありませんが。

[2016-06-22 05:55] kohichi000000 commented on #44
申し訳ないですが、あとは @kazygumi さんにお願いするしかないです。
私の手下ではこれ以上は厳しいです・・・。

[2016-06-22 06:52] kazygumi commented on #44
@satakagi さん
了解しました。今日中にアップロードできると思います。

[2016-06-22 13:24] kazygumi commented on #44
@satakagi さん、@kohichi000000 さん
取り急ぎアップしましたので確認をお願い致します。
[CHIRIMEN-A3パネル-160622.pdf](https://github.com/chirimen-oh/any-issues/files/327957/CHIRIMEN-A3.-160622.pdf)
[CHIRIMEN-A3パネル-160622.ai.zip](https://github.com/chirimen-oh/any-issues/files/327958/CHIRIMEN-A3.-160622.ai.zip)

[2016-06-22 14:13] satakagi commented on #44
お忙しいところ、どうもありがとうございました。
内容も今確認した限りばっちりです！！！

ひとまずクローズさせていただきます。

[2016-06-22 14:13] #44 closed, assigned to nobody

[2016-06-24 08:57] tadfmac opened #45 "回路図についての要望（記述方法）"
https://github.com/chirimen-oh/shields/blob/master/CHIRIMENBasicShield/CHIRIMENBasicShield.sch
について、下記改善を検討いただきたく、お願いいたします。
- [x] 配線クロスしている部分にJunctionを配置してほしいです。端子に複数つなぐのではなく、ラインの途中でJunctionを置いて分岐が視覚的に分かるようにしないと、将来画像でも回路図を公開する場合に、交差しているだけなのか結線しているのか見分けられないので

![junction](https://cloud.githubusercontent.com/assets/5193468/16333085/56dfbe5a-3a34-11e6-8c77-b407bf5dc3c4.png)
- [ ] 回路図にもクレジットを入れませんか？誰が

[2016-06-24 09:13] tadfmac opened #46 "shields/CHIRIMENBasicShield について [3.3V結線忘れ?]"
- [x] J2に3.3Vへの結線忘れがありそうです。

![33](https://cloud.githubusercontent.com/assets/5193468/16333627/41a3268c-3a37-11e6-9598-78c063242450.png)

[2016-07-01 15:08] satakagi opened #47 "企業を含む各種団体からの後援・賛同・貢献について"
現在（私の所属会社も含め）いくつかの企業・団体によるCHIRIMEN OHへの支援・後援・貢献が行われています。このような企業団体をさらに増やしていくことは、CHIRIMENの活動にプラスな効果を期待できます。他方、それは活動にマイナスな効果を与えることも考えられます。

そこで、特に企業・団体からの支援の獲得に関するissueを立てさせていただきます。

このissueに関するCHIRIMEN OH(旧MozOHW含む)過去の議論・議事録などへの参照、他の同様の組織における考え方の参照も進めていきましょう。

[2016-07-01 15:14] satakagi opened #48 "イベントなどに対するプレス対応について"
各種イベントに対して、メディア・プレスが取材を行うことが考えられます。
このような機会はCHIRIMEN OHの活動を社会に広めるために効果的であると期待できます。
一方で、コミュニティの意図しない報道がなされることで、マイナスの効果を与える可能性もあります。　以上の背景から、プレス対応に関する議論やプレス対応の可能性のある個別事案（案件が大きくなりそうで、別にissueを立てる場合にはそのissueへのリンク）に関するissueを立てさせていただきます。

[2016-07-01 15:32] gurezo commented on #48
その件に関しては、下記issueの関連しているので追記します。
[ slack 参加フォームを作る #19 ](https://is.gd/5aD5TE)

[2016-07-02 05:16] dadaa opened #49 "chirimen_oh の google group を削除する"
chrimen-oh を使っていく

[2016-07-02 10:24] gurezo commented on #49
chirimen_oh の google group を削除 done

[2016-07-02 10:24] #49 closed, assigned to gurezo

[2016-07-02 11:03] gurezo commented on #9
https://groups.google.com/forum/#!forum/chirimen_oh
#49 削除 done.

[2016-07-03 15:22] gurezo commented on #38
[上記タイムスケジュール（暫定）](https://drive.google.com/open?id=18LtwfeaJXBBv7pB382Lsuvljbilr_kkLGk-EdDuuiug)

[2016-07-03 16:39] gurezo commented on #38
### 出展物予定
- CHIRIMEN Open Hardware コミュニティ枠
  - [ (8/6-7) Maker Faire Tokyo 2016 #38 ](https://is.gd/loOpvE)
  - タッチ＆トライ・イベント
  - [satakagi](https://github.com/satakagi) さんが2つ作っている
    - プラネタリウム（ケータイ星座早見板＋LED）製作キット
    - 着陸ゲーム
- KDDIブース 枠
  - リケジョ（仮
  - ディスカッションセッション
    - [HAKUTOのミッション](https://team-hakuto.jp/mission/index.html)についてCHIRIMENで何かできないかガチ議論。CHIRIMENが宇宙に！
  - パネルセッション（坂井先生枠 => ご相談
    -

[2016-07-03 17:06] gurezo commented on #48
### [ミーティング 議事録 2016.07.02](https://is.gd/5qy3gK) より
- 上記議題に関しては、下記状況が決ってから、再議論
  - 販売予定日
  - 販売価格

[2016-07-03 17:06] gurezo commented on #47
### [ミーティング 議事録 2016.07.02](https://is.gd/5qy3gK) より
- 上記議題に関しては、下記状況が決ってから、再議論
  - 販売予定日
  - 販売価格

[2016-07-03 17:11] gurezo opened #50 "CHIRIMENステッカー（増刷分）"
### [ミーティング 議事録 2016.07.02](https://is.gd/5qy3gK) より
- ステッカーの増刷
  =>今後のイベント配布用に増刷
  手配：[kazygumi](https://github.com/kazygumi) さん、カンパ本日(7/2)より開始

[2016-07-03 17:31] gurezo opened #51 "Maker Faire Tokyo 2016 スタッフ募集"
## 展示員スケジュールフォーマット
### お手伝い可能な方は、下記フォーマットに追記
- [ ] 08/06(土) AM
- [ ] 08/06(土) PM
- [ ] 08/07(日) AM
- [ ] 08/07(日) PM

[2016-07-03 17:53] gurezo opened #52 "ミーティング用リポジトリの作成"
### [ミーティング 議事録 2016.07.02](https://is.gd/5qy3gK) より
- 今後は、github にも履歴を分かるようにする為にミーティング用リポジトリを作成、
  そこに記載していく（wiki => repository）
  1. ミーティング用リポジトリを作成
  2. ミーティング毎にmdファイルを作成
  3. ミーティング毎にmdファイルを変更・修正

[2016-07-03 18:11] gurezo commented on #23
### repository：meeting を追加予定
- 目的：変更履歴を残す事と slack との通知連動の為
- 現行：any-issue の wiki に記載されている内容を
  ミーティング毎に記載予定

[2016-07-04 06:15] gurezo commented on #52
作成したので、close

[2016-07-04 06:15] #52 closed, assigned to gurezo

[2016-07-04 08:08] MSakamaki commented on #43
https://github.com/MozOpenHard の方の権限が無いのでこちらでツール系が使えなさそう。

どなたか @MSakamaki を https://github.com/MozOpenHard のメンバーに追加してもらうとかできますか？
無理そうなら他のツールあたりでexport import試してみます。

[2016-07-04 08:15] dadaa commented on #43
@MSakamaki 追加いたしましたー

[2016-07-04 08:29] MSakamaki opened #53 "GPIO/I2C implementation issues"
_From @YusukeYamamoto on March 22, 2016 1:44_
# ■ コードレビュー

Sorry, there are Japanese Only.

現状の GPIO/I2C の実装を Gecko master に組み込むための課題となります。

既知の問題点含め本Issueにまとめて記載します。
※また、未来に対応される方の為に、修正範囲ではない箇所についても記載しています。
## 設計に関わる問題点
### ● web workersへの実装

Gecko の設計上、 WorkerNavigatro に実装するのが正しい姿か。
おそらく、Moz Reviewした際に指摘が来ると思われます。
web workersのNavigatorであるWorkerNavigatorは、
ブラウザの情報を取得するためのオブジェクトであり、APIの処理を行うものではない

[2016-07-04 08:32] MSakamaki commented on #43
@dadaa  ありがとうございます

https://github-issue-mover.appspot.com/ を利用して１個移してみた。
元をCloseして宛先に自分の名前で新しくopen issuesを立てる感じですね。
(多分どんなツールでも発案者のなりすましは出来ないと思う。)

https://github.com/MozOpenHard/CHIRIMEN/issues/62
to
https://github.com/chirimen-oh/any-issues/issues/53

この方式でよければ、明日Openのモノを全部移しちゃいます
Close含めて引っ越したい場合はもう少し考える必要が有りそうです。

[2016-07-05 05:41] MSakamaki opened #54 "Should change manufacturer name of board to MozOpenHard"
_From @dadaa on February 3, 2016 7:41_

_Copied from original issue: MozOpenHard/CHIRIMEN#60_

[2016-07-05 05:41] MSakamaki commented on #54
_From @dadaa on February 3, 2016 9:37_

https://github.com/MozOpenHard/device-chirimen/pull/1

[2016-07-05 05:42] MSakamaki opened #55 "Home UI/UXの設計"
_From @naokisekiguchi on April 20, 2015 12:54_

_Copied from original issue: MozOpenHard/CHIRIMEN#5_

[2016-07-05 05:42] MSakamaki commented on #55
_From @YusukeYamamoto on April 20, 2015 16:14_

6月以降の ISSUE です

# 課題提起

現状、Gaia のビルドは Phone 指定となっています。
その為、スマートフォン向けの UI がメインとなっていますので、 ココらへんを変えていきたい。

具体的には、Phoneの UIとなっているため、HomeScreenのアプリアイコン表記、設定アプリのUI、さらにはSIMを指す前提での状態(不要な項目がある)、使えない電話アプリ/メッセージアプリなどがあるなど。

その為、ビルドを タブレットビルドとするか、 TV ビルドとするか、はたまた全く別なものとするか(JanOSの様にCUIベースとか、独自で作成など)で議論の余地あり。

# 議論にあたって

タブレットビルド、TVビルド、JanOSそれぞれのUI含めた操作感を全員で把握し、どの

[2016-07-05 05:42] MSakamaki opened #56 "ドキュメントの用意"
_From @naokisekiguchi on April 20, 2015 13:20_

MDN上にCHIRIMENに関するドキュメントを用意する。

_Copied from original issue: MozOpenHard/CHIRIMEN#7_

[2016-07-05 05:42] MSakamaki commented on #56
_From @dynamis on April 20, 2015 13:28_

スマホは Phone Guide ディレクトリの配下に各端末がある:
https://developer.mozilla.org/ja/Firefox_OS/Phone_guide

Board Guide ページを作ってその下に CHIRIMEN ページを作成、Phone Guide から Board Guide へのリンクをするとかいかがでしょう？

https://developer.mozilla.org/ja/Firefox_OS/Board_guide
https://developer.mozilla.org/ja/Firefox_OS/Board_guide/CHIRIMEN

それぞれ親のページで「サブページの作成」をすれば作れるはずです (てか上のような、まだ存在しないページの URL 開

[2016-07-05 05:42] MSakamaki commented on #56
_From @YusukeYamamoto on April 22, 2015 23:33_

取りあえず
https://developer.mozilla.org/ja/Firefox_OS/Board_guide
https://developer.mozilla.org/en-US/Firefox_OS/Board_guide
は作成。
先にjaを作成したところ、en-USへの翻訳リンクが無く翻訳できない状態に・・・
しかたがないので、en-USのURLで新規ページの作成をし、翻訳を行ったが、
今度は
Document with this Slug and Locale already exists.
と表示され、保存できない事態に・・・

なので、
https://developer.mozilla.org/ja/Firefox_OS/Board_guide
https://de

[2016-07-05 05:42] MSakamaki commented on #56
_From @dynamis on April 23, 2015 2:46_

おおぅ。ja への tranlsation 追加はできなくなっているのですね。
対訳関係のリンク追加をお願いしてみましょう。最悪 ja を削除して翻訳として再作成するばあいでもそれは結局 Admin リクエストが必要ですし。

取り急ぎ IRC で問い合わせ中。まだ返答無し。

[2016-07-05 05:42] MSakamaki commented on #56
_From @dynamis on April 24, 2015 4:34_

bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1158001

メールでも問い合わせはしておいた。取り敢えず翻訳リンク関係無しのままでも気にせず追加して行って頂ければ良いかと。

[2016-07-05 05:42] MSakamaki commented on #56
_From @naobsd on April 27, 2015 3:17_

直っているようですね

[2016-07-05 05:42] MSakamaki commented on #56
_From @dynamis on April 27, 2015 5:5_

https://bugzilla.mozilla.org/show_bug.cgi?id=1158001 で書き込まれているとおり、ja ページの編集画面から「ページのタイトルとプロパティの編集」をクリックして「Find the translation source with the lookup below and then click "Save Changes."」というフィールドで翻訳元 en-US としたいページを選択したらリンク関係は作れるとのことです。

この場合でも ja がオリジナルではなく en-US がオリジナルという扱いになるとい課題はありますが、取り敢えずユーザ目線で言語間リンクは問題なく出来そうですので (MDN が ja オリジナルとかに対応できる夢の未来が到来しない限り) 当面この

[2016-07-05 05:42] MSakamaki commented on #56
_From @YusukeYamamoto on April 27, 2015 11:41_

なるほど、確かに翻訳元のページの指定ができるんですね・・・
※日本語ページが独立してあった際に選択できたか覚えてませんが・・・

とはいえ、次から作成するときは en-US で作成して、そのあと翻訳の方が良いですね。
CHIRIMEN ページの作成しますね

[2016-07-05 05:42] MSakamaki commented on #56
_From @YusukeYamamoto on April 27, 2015 11:55_

CHIRIMENページに書くことメモ
- CHIRIMEN の概要説明
  - CHIRIMEN とは何ぞや
    →いまは手に入らないよーという旨も忘れずに
  - リンクは Github, Chirimen 公式, Google Group, facebookも?
- How to build
  - バイナリから焼く方法
    - Linux, Windows, Mac(可能なら)
  - ビルド方法
    - Linux, Windows, Mac(可能なら)
  - 他のデバイスに焼いてお試しする方法も?
  - 書いて良いのか知らないけど OWBとかも?

他にあればコメントください

[2016-07-05 05:42] MSakamaki opened #57 "bootloader"
_From @naobsd on April 22, 2015 14:57_

CHIRIMEN (RK3066) で利用可能なものとしては主に以下の二つ。
- Rockchip 独自
- U-Boot (Rockchip による fork 版)

Rockchip 独自のものは安定しているが、 U-Boot の方は OTG からのイメージの書き込みが不安定。
U-Boot の方は fastboot 対応。 (ただし現状のものはバグで使えない気がする)

現状 U-Boot でイメージの書き込みに失敗する事がそれなりにあるので、 Rockchip 独自のものにする方がよいかもしれない。
(ボードの数が少なく作業者が限られている為、周知しておけば済むという考えもアリ?)

_Copied from original issue: MozOpenHard/CHIRIMEN#9_

[2016-07-05 05:42] MSakamaki commented on #57
_From @naobsd on April 26, 2015 0:51_

「U-Boot でイメージの書き込みに失敗する事がそれなりにある」件ですが、 cold boot (RECOVER押しながら電源オン) だと不安定で warm boot (正常に起動した状態からadb reboot bootloader等) だと安定しているような気がしてきました。

[2016-07-05 05:42] MSakamaki opened #58 "install/boot from SD card"
_From @naobsd on April 22, 2015 15:11_

CHIRIMEN の仕様上ブートローダはどうしても NAND フラッシュに書き込んでおく必要があるが、カーネル等を SD カードに書き込んで使う事は技術的には可能。 NAND フラッシュの容量を気にしなくて済むほか、ファームウェアの配布・アップデートも SD カードの書き換えだけであれば比較的楽になると思われる。

ブートローダが Rockchip 独自のものの場合、カーネルおよび initramfs (boot.img) は NAND フラッシュに置くしかないが、他のブートローダであればカーネルを含め SD カードに置く事も可能になるはず。

_Copied from original issue: MozOpenHard/CHIRIMEN#10_

[2016-07-05 05:42] MSakamaki commented on #58
_From @naokisekiguchi on April 24, 2015 11:10_

製造の際にこちらで用意したイメージを書き込んでおけることが前提となりますが、個人的にはCHIRIMENを手に入れてすぐ使えるという意味でNANDフラッシュにFirefoxOSを含めたシステム全体を格納しておくメリットも大きいと感じています。（raspberry piとの差分にもなる。）
macからの書き込みの問題等もあるので、最終的にファームウェアアップデートがどの程度簡単にできるようになるかにもかかってきますが。

[2016-07-05 05:43] MSakamaki opened #59 "flashing firmware from Mac OS X"
_From @naobsd on April 22, 2015 15:21_

ブートローダの更新は Rockchip 製の upgrade_tool (Linux x86) や AndroidTool (Windows) で行う必要がある為、 Mac OS X では (VM 内で Linux/Windows を使用しない限り) 更新できない。

しかしブートローダ以外のイメージ (boot.img, system.img 等) については、 Mac OS X 環境でも更新できるはず。
- [rkflashtool](https://github.com/linux-rockchip/rkflashtool)
  - libusb があればビルドして使えるはず (誰かに試してほしい)
- ~~fastboot~~
  - ~~ブートローダが U-Boot であれば (& バグを直せば) 使

[2016-07-05 05:43] MSakamaki commented on #59
_From @YusukeYamamoto on April 27, 2015 11:48_

libusb を入れた後、Mac OS X 10.9.2 (marvericks) では make -> バイナリ が出来ました。
焼くのは後ほどやります。
※申し訳ないですが、GW入ってからの予定です。

[2016-07-05 05:43] MSakamaki commented on #59
_From @naokisekiguchi on May 14, 2015 13:33_

mac上のVM内にubuntu を入れて焼いているのですが、
・CHIRIMENをVM側に接続してupgrade_toolで焼く
・wait for loader device （うろ覚え）のような表示の際にもう一度CHIEIMENをVM側に接続する
という形で焼いています。
イメージを焼く過程で一度CHIRIMENの認識がHOST PC側に移ってしまっているようで。

本質的な解決策でないですが、参考まで。

[2016-07-05 05:43] MSakamaki commented on #59
_From @naokisekiguchi on May 14, 2015 13:40_

wait for loader startでした

[2016-07-05 05:43] MSakamaki commented on #59
_From @naobsd on May 14, 2015 14:59_

upgrade_toolでloaderを焼く際にリセットがかかる(デバイスの抜き差しと同じ状態になる)ので、VMの中でupgrade_toolを使う場合、guestに自動的に見せるような設定がなければもう一度guestに見せる作業が必要になると思います。

[2016-07-05 05:43] MSakamaki opened #60 "scroll bar position on Browser app"
_From @naobsd on April 25, 2015 8:17_

ブラウザでスクロールバーが画面の真ん中に出てきます

![2015-04-25-171544](https://cloud.githubusercontent.com/assets/482349/7332194/cd806142-eb6e-11e4-84d0-8adcbd43303d.jpg)

_Copied from original issue: MozOpenHard/CHIRIMEN#12_

[2016-07-05 05:43] MSakamaki commented on #60
_From @YusukeYamamoto on April 27, 2015 11:51_

phoneのビルドなのも影響しているかもしれませんね。。。
tablet, tv のビルドだとうまくいくかもしれないです。

デバッグすればすぐわかると思うので、実装も見てみたいなぁ。
※両方共GW入ってから・・

[2016-07-05 05:43] MSakamaki commented on #60
_From @YusukeYamamoto on January 18, 2016 7:6_

2.5では解消済み。
ただ、CHIRIMENとして2.5は正式サポートでは無いので、未CLOSEとしておく。

[2016-07-05 05:43] MSakamaki opened #61 "prepare images for flashing"
_From @naobsd on April 26, 2015 1:2_

after ./build.sh, images for flashing need to be prepared as follows
- out/target/product/chirimen/kernel
  - rkcrc -k kernel path/to/Image/kernel.img
- out/target/product/chirimen/ramdisk.img
  - rkcrc -k ramdisk.img path/to/Image/boot.img
- out/target/product/chirimen/recovery.img
  - cp recovery.img path/to/Image/recovery.img
- out/target/product/chirimen/s

[2016-07-05 05:43] MSakamaki commented on #61
_From @naobsd on April 27, 2015 1:55_

commands for flashing:

[code]

[2016-07-05 05:43] MSakamaki commented on #61
_From @naokisekiguchi on May 18, 2015 10:58_

Preparing 'rkcrc' command.

http://linux-rockchip.info/mw/index.php?title=Building_Kernel_for_Linux_Distribution
$ git clone --depth 1 https://github.com/naobsd/rkutils
$ cd rkutils
$ gcc rkcrc.c -o rkcrc

Is it OK?

[2016-07-05 05:43] MSakamaki commented on #61
_From @naobsd on May 19, 2015 0:29_

@naokisekiguchi yes, but

[code]

should be more generic.

(btw that wiki contains a lot of errors, please do not rely that so much...)

[2016-07-05 05:43] MSakamaki opened #62 "ueventd.rc rules are not applied under certain conditions"
_From @naobsd on May 5, 2015 9:47_

following rules are not applied under certain conditions.

[code]

workaround: add `usleep(10000);` just before chown()/chmod() in system/core/init/devices.c:fixup_sys_perms()
(probably this is not correct fix...)

_Copied from original issue: MozOpenHard/CHIRIMEN#14_

[2016-07-05 05:43] MSakamaki commented on #62
_From @masap on May 5, 2015 11:58_

This delay is required on gecko side also.

I have inserted `usleep(10000);` between exporting and setting direction.

[2016-07-05 05:43] MSakamaki commented on #62
_From @naobsd on May 21, 2015 7:28_

workaround is commited https://github.com/MozOpenHard/platform_system_core/commit/4f177d0b25c259a9340329db0cea01c8feabce8e

[2016-07-05 05:43] MSakamaki opened #63 "DeviceStorageAPI is unable to use"
_From @naokisekiguchi on May 7, 2015 9:10_

/mnt/sdcard/ cannot be accessed by the API in current setting.

I changed the permission by the following command
$ chmod 666 /mnt/sdcard/
and then, the API can access the storage.

_Copied from original issue: MozOpenHard/CHIRIMEN#16_

[2016-07-05 05:43] MSakamaki opened #64 "support ethernet"
_From @naobsd on May 21, 2015 2:28_

support AX88772 based USB-ethernet adapter

_Copied from original issue: MozOpenHard/CHIRIMEN#20_

[2016-07-05 05:43] MSakamaki commented on #64
_From @naobsd on May 21, 2015 9:33_

kernel device driver is already enabled, but dhcpcd is not running by default. if I start dhcpcd manually, IP address is assigned, but browser doesn't recognize internet connection.

it needs more investigation...

[2016-07-05 05:43] MSakamaki commented on #64
_From @autonome on May 21, 2015 13:20_

There may be some helpful information in these bugs:

https://bugzilla.mozilla.org/show_bug.cgi?id=1082969
https://bugzilla.mozilla.org/show_bug.cgi?id=1087548

[2016-07-05 05:43] MSakamaki commented on #64
_From @naobsd on June 3, 2015 16:54_

@autonome thanks for the hint!

this is workaround,
1. add `user_pref("network.gonk.manage-offline-status", false);` to /data/b2g/mozilla/*.default/prefs.js
2. reboot
3. run following commands on root shell (serial console or adb shell with su)

[code]

[2016-07-05 05:43] MSakamaki commented on #64
_From @autonome on June 4, 2015 5:30_
1. Will you be adding this to the base build to make it supported out of
   the box?
2. Is there a wiki page for collecting Chirimen tips like this?

On Wed, Jun 3, 2015 at 9:54 AM FUKAUMI Naoki notifications@github.com
wrote:

[2016-07-05 05:43] MSakamaki opened #65 "patches/patch.sh tries to apply patches multiple times"
_From @naobsd on May 22, 2015 16:14_

build.sh runs patches/patch.sh every time.
patch.sh tries to apply patches even if target files are already patched.

you have to restore patched files to original before next build.sh run.

_Copied from original issue: MozOpenHard/CHIRIMEN#23_

[2016-07-05 05:44] MSakamaki opened #66 "At least 2 ADC pins"
_From @djpnewton on July 19, 2015 9:34_

This is a big weakness of the raspberry pi and would be a good point of difference

_Copied from original issue: MozOpenHard/CHIRIMEN#25_

[2016-07-05 05:44] MSakamaki commented on #66
_From @arky on July 21, 2015 7:20_

+1
More Analog to digital conversion(ADC) pins would be useful. The use case is connecting analog temperature,humidity, vibration sensors to Chirimen.

[2016-07-05 05:44] MSakamaki commented on #66
_From @dynamis on November 26, 2015 2:22_

+1.

Current board don't have this and we're planning to include ADC as an optional starter kit.
We should consider to include ADC pins for next model.

[2016-07-05 05:44] MSakamaki commented on #66
_From @naobsd on November 26, 2015 3:5_

1 ADC is available on current CHIRIMEN board (CN1-6). this issue is request for _2_ ADC, right?

---

random notes about ADC...
- number of ADC

RK3066 has 3 ADC. on CHIRIMEN, currently 1 ADC is exposed, 1 ADC is used for "Recover Mode" button, 1 ADC is unused.

technically, it's possible to assign GPIO for "Recover Mode" button. so, if we need, we can expo

[2016-07-05 05:44] MSakamaki commented on #66
_From @dynamis on November 28, 2015 8:9_

Ahh, CHIRIMEN already have an ADC pin but we don't have low level API for it yet.

Sorry I didn't noticed about it. When I see this issue, I thought CHIRIMEN don't have any ADC pin. In that case, It don't think we need prioritize to have 2 or more ADC pins.

If we want to use multiple analog sensors, we can use I2C ADC board to use multiple (many) analog s

[2016-07-05 05:44] MSakamaki opened #67 "Chirimen Default Starter App"
_From @arky on August 29, 2015 8:58_

It would be a good idea to replace default 'Homescreen' app in the pre-built image with custom Chirimen default app.

Here are few ideas for the default starter app:
- Will provide a screen with some information about Chirimen.
- It will run a basic blink example
- An input UI element on the page will enable users to change the rate of blink (in seconds)
- Use

[2016-07-05 05:44] MSakamaki commented on #67
_From @naobsd on August 29, 2015 11:30_

:+1:

[2016-07-05 05:44] MSakamaki commented on #67
_From @stretchyboy on August 30, 2015 8:47_

:+1:

[2016-07-05 05:44] MSakamaki commented on #67
_From @autonome on August 30, 2015 17:45_

+1. The smartphone Homescreen is not very useful for IoT development case.
Probably still need a way to access some basics like the Settings app.

On Sun, Aug 30, 2015 at 1:47 AM Martyn Eggleton notifications@github.com
wrote:

[2016-07-05 05:44] MSakamaki commented on #67
_From @arky on September 9, 2015 7:31_

Most embedded hardware (ie.. OpenWRT, Arduino Yun) exposes the settings via a onboard web server. You just point your browser to particular port to access the settings UI.

Here is how Yun does it:
https://www.arduino.cc/en/Guide/ArduinoYun#toc14

[2016-07-05 05:44] MSakamaki commented on #67
_From @dynamis on November 26, 2015 2:35_

Note about current workaround:

You can insert simple script to launch specific app in homescreen.

Please insert `<script defer="" src="js/launchapp.js"></script>` tag in index.html (at end of HEAD or BODY tag) of homescreen
https://github.com/mozilla-b2g/gaia/blob/master/apps/homescreen/index.html
and add apps/homescreen/js/launchapp.js file like this:

[2016-07-05 05:44] MSakamaki opened #68 "Recovery Mode: Provide visual notification using LED blinks"
_From @arky on August 30, 2015 6:37_

Provide a visual notification using the onboard LED when the Chirimen board enters a recovery mode. At the moment, you require a external display and it is tricky process.

Usecase:
1. Hold Reset button and connect the power adapter
2. As the Chirimen enters the recovery mode, the onboard LED blinks to provide a visual notification

_Copied from original issue

[2016-07-05 05:44] MSakamaki commented on #68
_From @stretchyboy on August 30, 2015 8:49_

:+1:

[2016-07-05 05:44] MSakamaki commented on #68
_From @naobsd on August 30, 2015 8:59_

well, let's make "recovery mode" clear at first.

---

there is a recovery partition on NAND which contains recovery program. recovery program is used for (e.g.) self(OTA) update, factory reset, etc and generally without PC.
"recovery mode" is the condition that recovery program is running on CHIRIMEN.

recovery program can be automated, so external display

[2016-07-05 05:44] MSakamaki commented on #68
_From @flaki on August 30, 2015 16:47_

@naobsd:

I think this is a nice and straightforward fix.

A "blinking" led means system is busy with a "boot sequence", once Firefox OS started, blinking should have stopped. I don't know how much time does the kernel take to boot the OS into a state in which the led could be disabled, but a few seconds sould only result in only a few blinks of the led, the

[2016-07-05 05:44] MSakamaki opened #69 "Add onboard RGB LED instead of Red LED"
_From @arky on August 30, 2015 7:34_

Add onboard RGB LED on future design of Chirimen. The Arduino boards has one built-in on digital pin 13. The RGB LED could be used to provide visual notification of boot errors and recovery mode #29  etc. We can use the RGB LED to provide interactive default demo app #26  as well

_Copied from original issue: MozOpenHard/CHIRIMEN#30_

[2016-07-05 05:45] MSakamaki opened #70 "Fails on generate image file on flash.sh"
_From @YusukeYamamoto on November 19, 2015 10:31_

[ problem ]
In MozOpenHard repos, clone git repo. config it, build it, and then try to generate image to exec flash.sh.
We can't get image file.

[ cause ]
Chirimen's section is missing on flash.sh
We have to add bellows :

[code]

_Copied from original issue: MozOpenHard/CHIRIMEN#31_

[2016-07-05 05:45] MSakamaki commented on #70
_From @naobsd on November 19, 2015 13:11_

see also: #13

[2016-07-05 05:45] MSakamaki commented on #70
_From @YusukeYamamoto on January 18, 2016 7:24_

対応済み。
ただし、2.5は正式対応ではないので、CLOSEさせないでおく。
※正式対応ではない = 誰が決定権もっているかわからないとも言う。

[2016-07-05 05:45] MSakamaki opened #71 "hi-res board picture"
_From @dynamis on December 1, 2015 9:5_

ちゃんとしたカメラで撮影したボードの画像が素材として必要

_Copied from original issue: MozOpenHard/CHIRIMEN#32_

[2016-07-05 05:45] MSakamaki commented on #71
_From @dynamis on December 1, 2015 9:7_

4k TVでじっくり見られても恥ずかしくない解像度でおねがいします ;) by naobsd

[2016-07-05 05:45] MSakamaki commented on #71
_From @kudodo on December 5, 2015 9:34_

http://web.sfc.wide.ad.jp/~kudo/tmp/CHIRIMEN600dpi.zip

こんなのでいかがですか？
ボードの汚れというか傷？がちょっときになるのでキレイなボードを今度さがします。

[2016-07-05 05:45] MSakamaki commented on #71
_From @dynamis on January 20, 2016 10:47_

ひとまず十分かと思います
https://github.com/MozOpenHard/CHIRIMEN-tools/tree/master/photoImages
に追加してこの issue は close いただければ

[2016-07-05 05:45] MSakamaki opened #72 "support USB camera"
_From @naobsd on December 2, 2015 11:37_

https://github.com/flingone/hardware-rk29/commit/7a1a610b9f441dd54e7840db7e0b10bcf26c0338 this should be reverted.

_Copied from original issue: MozOpenHard/CHIRIMEN#33_

[2016-07-05 05:45] MSakamaki commented on #72
_From @naobsd on December 20, 2015 4:12_

in addition to hardware/rk29/, hardware/libhardware/ and bionic/ from Rockchip SDK are also required.

[2016-07-05 05:45] MSakamaki commented on #72
_From @naobsd on December 20, 2015 9:6_

preview is not working. probably camera HAL need to be fixed.

https://github.com/flingone/hardware-rk29/blob/90003af61aca05a3c5d0404536bb66d1ae35c18d/camera/CameraHal.cpp#L3108
total was fewer than minimum.

I tried "total = numBufs+undequeued;" instead of "total = numBufs;". few preview frames were displayed, but it was not updated after that.

it might b

[2016-07-05 05:45] MSakamaki commented on #72
_From @dadaa on February 9, 2016 12:7_

OpenWebBoard can use USB camera,
http://flatbird.github.io/2014/11/21/owb-camera-api/
So, we may be able to refer OpenWebBoard source code.
http://opensource.kddi.com/owb/owbsource.html

[2016-07-05 05:45] MSakamaki commented on #72
_From @YusukeYamamoto on February 9, 2016 12:15_

+1
That's great idea.
 hardware > rk29 > Camera があやしい
あと、kernel > drivers > media > video

[2016-07-06 01:21] MSakamaki opened #73 "Identify what documents we must prepare"
_From @dynamis on February 2, 2016 7:14_

Let's define the priority or milestone of the documents we need to prepare
- spec
  - http://mozopenhard.mozillafactory.org/techinfo#hardspec
- how to build and install instruction #58
- how to use WebGPIO & WebI2C
- Spec and native implementation + polyfil
- existing sample codes and libraries for know GPIO/I2C devices
- how to write your own library for

[2016-07-06 01:21] MSakamaki opened #74 "Prepare english documents for build and install"
_From @dynamis on February 2, 2016 6:59_

We currently have this page in wiki
https://github.com/MozOpenHard/CHIRIMEN/wiki/Setup

but it don't contain enough/full information like this:
https://github.com/MozOpenHard/CHIRIMEN-tools/blob/master/doc/installFirefoxOS.pdf

let's prepare english documents to work with global contributors.
I believe this document should be prepared before the general av

[2016-07-06 01:21] MSakamaki commented on #74
_From @dynamis on February 2, 2016 7:6_

Better to write in MDN?
https://developer.mozilla.org/en-US/Firefox_OS/Board_guide/CHIRIMEN
or write in our Wiki and link from MDN?

I prefer to write in MDN since it support l10n and we can find relating information about porting to other boards (will coming soon?) within the same site.

[2016-07-06 01:22] MSakamaki opened #75 "support internal storage and/or external SD card"
_From @YusukeYamamoto on January 26, 2016 10:5_

CHIRIMENでSDカードを使えるように有効化する。

https://docs.google.com/document/d/15CJ2rqeY_AfzI8l3IMFRO48N7Y1cAg9etx_JyPLzwKc/edit
の「深海メモ」も参照

Issue #16  と類似

_Copied from original issue: MozOpenHard/CHIRIMEN#57_

[2016-07-06 01:22] MSakamaki commented on #75
_From @ashie on February 14, 2016 7:20_

Firefox OS初心者かつCHIRIMENが何なのかもよく分かっていませんが、状況を調べてみて、一応有効化
できたように見えるのでメモしておきます（このIssueは日本語で書かれているので日本語で続けておきます）。

まず、SDカードを挿入して`navigator.getDeviceStorages("sdcard")`などでアクセスするとSDカードには
一通りアクセス出来た(書き込みもOK)ため、GaiaのSettingsアプリでの判別に問題があると考えました。

GaiaでMedia Storageを有効化/無効化しているのは以下辺りと思われます。

https://github.com/MozOpenHard/gaia/blob/v2.1-mozopenhard/apps/settings/js/p

[2016-07-06 01:22] MSakamaki commented on #75
_From @naobsd on February 14, 2016 7:58_

fstabはfstab.rk30board.bootmode.unknownの方になります。

個人的には、
- 内蔵ストレージもSDカードとして使えるようにする方がよい
  - ただしuserパーティションを復活させるのではなく、/data/mediaをemulatedなSDカードとするやり方の方がよい https://source.android.com/devices/storage/config-example.html#android_5_x_both
- device.storage.writable.nameはRockchipの流儀に合わせるのではなく、b2gデフォルト(sdcard)に合わせる方がよい
  - b2g v2.0の時はsdcard, sdcard1というラベルにすれば両方認識し

[2016-07-06 01:22] MSakamaki commented on #75
_From @ashie on February 14, 2016 8:19_

あ、そうですね。失礼しました。

確かに、この方が内蔵ストレージを効率的に利用できて良いですね。

私もそう思います。

[2016-07-06 01:22] MSakamaki commented on #75
_From @ashie on February 14, 2016 11:54_

補足します。

たぶん、これは必要無いと思います。
現状でも、メディアタイプ`sdcard`でinternal_sdもexternal_sdもリストとしては返ってきているからです。

このissueの原因はGaiaのストレージ関連共通コードの以下の挙動だと考えています。
- prefs.jsで特に指定していない場合やデフォルトの`sdcard`の場合、getDevciceStorages()の先頭のストレージをデフォルトストレージとして扱う
  - https://github.com/MozOpenHard/gaia/blob/v2.1-mozopenhard/apps/settings/js/panels/root/storage_usb_item.js#L252
  - CHIRIMENの場合はpre

[2016-07-06 01:22] MSakamaki commented on #75
_From @naobsd on February 14, 2016 12:47_

なるほど、ありがとうございます。とりあえずinternal_sdを(どんな形にせよ)使えるようにすればよさそうですね。

[2016-07-06 01:22] MSakamaki opened #76 "JSライブラリの修正"
_From @YusukeYamamoto on January 26, 2016 10:1_

議論した仕様にしたがって、webgpio.js/webi2c.jsの修正を行う
https://docs.google.com/document/d/15CJ2rqeY_AfzI8l3IMFRO48N7Y1cAg9etx_JyPLzwKc/edit

仕様通りにAPIの修正、jsonから定数を呼べるようにするがメイン?
→修正されたライブラリに合わせる形でサンプルアプリの修正も必要。

_Copied from original issue: MozOpenHard/CHIRIMEN#56_

[2016-07-06 01:23] MSakamaki opened #77 "to add "dom.gpio.enabled" prefs ( also i2c )"
_From @YusukeYamamoto on January 26, 2016 1:34_

TV Manager APIの実装を見ると、b2g.js にprefsで設定値を指定の上、機能の有効無効を切り替えている。
つまり、TV以外ではTV Magaerは動かないようにしている。
https://github.com/mozilla/gecko-dev/commit/d12e06f1df4a99f54af28df13d09f55fc0f34924

デバイス操作系のAPIについても性質上、同じように実装したほうが好ましい。
※Bugillaでのレビューから指摘はもらってないが、同じ指摘が来ると想像できる

_Copied from original issue: MozOpenHard/CHIRIMEN#55_

[2016-07-06 01:23] MSakamaki commented on #77
_From @YusukeYamamoto on January 26, 2016 9:58_

### gaia 上での実装
- [ ] dom.gpio.enabled の追加
- [ ] dom.i2c.enabled の追加

### gecko 上での実装
- [ ] web gpio系の有効無効を切り替える
- [ ] web i2c系の有効無効を切り替える

※Geckoの方はもう少しブレークダウンの必要あり。

[2016-07-06 01:23] MSakamaki opened #78 "Prompt user to acces GPIO/I2C devices"
_From @dynamis on January 25, 2016 11:56_

任意の Web サイトからユーザの確認もなくハードウェアの操作が可能だが、それでは流石にいろいろとセキュリティ上不味いので、(ユーザに理解不能な確認になるかも知れないが) ハードウェアデバイスを操作して良いですか？というような確認ダイアログを表示して許可された場合に使えるようにする。

note: Permission Table の定義:
https://dxr.mozilla.org/mozilla-central/source/dom/apps/PermissionsTable.jsm

API アクセスを Permission Manager で制限して PROMPT_ACTION にしましょうって話

_Copied from original issue: MozOpenHard/CHIRIM

[2016-07-06 01:23] MSakamaki commented on #78
_From @YusukeYamamoto on January 26, 2016 1:48_

実装にあたっての情報展開( 私もよくわかってないので調べながら書いてます )

PermissionTable.jsm に追加は必要だけれど、他に必要な箇所あるのかという観点で調査。

TV Manger API を参考に調査 Bug 998872
これでコミットされているのでこれを見ると早い
https://github.com/mozilla/gecko-dev/commit/d12e06f1df4a99f54af28df13d09f55fc0f34924

PermissionTable.jsm以外にも
Navigator.webidlにも必要そう
https://github.com/MozOpenHard/gecko-dev/blob/9b9f5ba09f340f64910d8c80

[2016-07-06 01:23] MSakamaki commented on #78
_From @dadaa on February 9, 2016 5:54_

WorkerNavigator に mozGpio および mozI2c を実装したが，Worker における CheckAnyPermissions の実装はまだされていない模様．

[2016-07-06 01:23] MSakamaki opened #79 "limit GPIO/I2C API access from background apps"
_From @dynamis on January 25, 2016 11:48_

現在バックグラウンドアプリ (タブ) からでも GPIO/I2C が操作可能。

WebRTC とか Audio とか同時に多数のアプリからつかるような API はバックグラウンドでも使えるが Vibration のような排他的なものはフォアグラウンドからだけ使えるのが多分普通。GPIO/I2C についてもフロント (現在) のアプリだけで動作するようにするのがよさそう。

_Copied from original issue: MozOpenHard/CHIRIMEN#52_

[2016-07-06 01:23] MSakamaki opened #80 "WebGPIO & WebI2C 実装を Worker スレッドに"
_From @dynamis on January 25, 2016 11:36_

今は Navigator を使ってるが WorkerNavigator (実装) とか使って Device Worker を立てていく形に

_Copied from original issue: MozOpenHard/CHIRIMEN#51_

[2016-07-06 01:23] MSakamaki commented on #80
_From @YusukeYamamoto on January 26, 2016 9:55_
- [ ] WorkerNavigator 経由で WebGPIO の各メソッド を呼べるようにする
- [ ] WorkerNavigator 経由で WebI2C の各メソッド を呼べるようにする

[2016-07-06 01:23] MSakamaki commented on #80
_From @dadaa on February 3, 2016 9:38_

i2c
https://github.com/MozOpenHard/gecko-dev/pull/1
gpio
https://github.com/MozOpenHard/gecko-dev/pull/2

[2016-07-06 01:23] MSakamaki opened #81 "GPIO/I2C API 実装の e10s 対応"
_From @dynamis on January 25, 2016 11:34_

マルチプロセス対応の実装コードに直す必要がある。

_Copied from original issue: MozOpenHard/CHIRIMEN#50_

[2016-07-06 01:24] MSakamaki opened #82 "Web I2Cの実装"
_From @naokisekiguchi on April 20, 2015 12:28_

_Copied from original issue: MozOpenHard/CHIRIMEN#4_

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on April 30, 2015 9:36_

I2C0, I2C2ピンが使えるconfigです
https://github.com/MozOpenHard/linux-rockchip/commit/882dffaf013ddb4e961a4b6d32cb0f25c5daaac4

(I2C2ピンはGPIOとしては動作する事を確認済、I2Cデバイスがない為I2Cとしての動作は未確認)

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 5, 2015 3:38_

/dev/i2c\* の permission を 0666 にする修正を行った boot.img を以下に置きました。
http://dl.linux-rockchip.org/mozilla/boot-gpio-i2c.img

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 5, 2015 3:40_

i2c-tools 入れといた方がよいでしょうか ?

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 5, 2015 3:50_

ありがとうございます！

ioctl 経由で叩くので、とりあえず無くても大丈夫です。

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 14, 2015 14:27_

@masap さん
ioctlでi2cを叩くコードをお持ちだったりしますか？
http://blog.psyche.gaso.jp/20131013-1.html
このあたりを参考にi2cデバイスを叩こうとしているのですが。
android-ndkでのビルドとCHIRIMEN上での実行までは行いましたが、ファイルディスクリプタのopenのところでエラーが発生しています。
/dev/以下にはi2c-*はなく(i2c-detectというのはありますが)、/sys/bus/i2c/devices/以下にi2c-0などファイルがあるのですが、こちらを指定すればいいのでしょうか？

mozopenhard-20150426.zipに対してhttp://dl.linux-rockchip.org/mozilla

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 14, 2015 14:56_

@naokisekiguchi さん
i2cを使うには https://github.com/MozOpenHard/linux-rockchip/commit/882dffaf013ddb4e961a4b6d32cb0f25c5daaac4 のソースで kernel.img を作ってください。
イメージにi2c-toolsも入れるようにしますが、とりあえず古いイメージのが動くと思います。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 15, 2015 1:52_

I2C0 はオーディオコーデックに接続とのことなので、コーデックを壊すと嫌なので I2C2 に接続して試してみました。

デバイスの open はできますが、 ioctl で書き込みを行なおうとすると Try again (errno=11) でエラーになります。
dmesg には下記が表示されます。下記エラー時は /dev/i2c-4 を使用していますが i2c-0, 1, 2 でも同様です。 i2c-3 は存在しません。
また、 slave address 0x3e ですが、こちらは Raspberry Pi で動作実績のあるアドレスですので間違いはないです。
もうちょい調べてみます。

<3>[  183.746955] i2c i2c-4: No ack, Maybe slave(addr: 0x3e) not

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 15, 2015 3:46_

念の為、外に出ているのはi2c0/2だけで、i2c1/4はボード上のpmic/rtcとeepromに繋がっているだけで外には出ていません。

i2c3は完全に未使用なのでkernel configレベルで無効にしてあります。(i2c0の代わりにこっちを出して欲しい気もします...)

なぜエラーになるかについては、ちょっと今はわかりませんね...

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 18, 2015 3:39_

@masap さん

I2C2のSCL/SDAに何かしら信号が出ているか見れますでしょうか？
なんとなく、I2C0だと動くんじゃないかという気が...

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 18, 2015 11:49_

このセンサを使って、お手製のプログラムを実行したらそれっぽい値が取れています。（/dev/i2c-0使用）
http://akizukidenshi.com/catalog/g/gM-06675/

i2ctest.c

[code]

MozOpenHard/B2Gのレポジトリを使ってconfig,buildしたイメージを使っています。 MozOpenHard/linux-rockchip@882dffaの設定が反映されていたようなので。

昔のイメージからi2ctoolsのバイナリをコピーして実行してみた結果です。
i2cdetectでセンサのアドレスがうまく見えないのは原因がわかりませんが、i2cgetではそれっぽい値が取れています。

[code]

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 19, 2015 0:23_

@naokisekiguchi さん、確認ありがとうございます。

その環境で接続だけを I2C2 に変更した場合、どうなるでしょうか?(動かないのではないでしょうか)

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 21, 2015 7:38_

boot-gpio-i2c.img に行った修正は commit/push しましたので、repo sync & build.sh で作れるはずです。(ビルド中)

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 21, 2015 8:54_

i2c-toolsを作るようにしました

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 21, 2015 11:41_

@naobsd さん
上記、同じ環境でi2c2につないでみても値は読み取れていました。

[code]

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 21, 2015 12:4_

@naokisekiguchi さん
確認ありがとうございます！

@masap さん
動かないのはどのようなデバイスで、どのようなアクセスをしているのでしょうか？
デバイスまたはアクセス方法によってダメという可能性もあると思いますので、ダメなようでしたら新しいissueとして具体的な情報をあげておいてもらえると助かります。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 22, 2015 5:37_

すいません。 i2c0, i2c2 共に動作しました。配線ミスってるだけでした。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 23, 2015 7:45_

I2C のコードも GPIO と同じブランチに push しました。

ビルド済みのバイナリはこちらです。
http://masap.sakura.ne.jp/firefoxos/system.img.zip

この LCD (https://www.switch-science.com/catalog/1405/) を動かすサンプルコードは下記に置きました。
http://masap.sakura.ne.jp/firefoxos/test-i2c.tar.gz

この LCD でテストできるのは 8bit の書き込みのみなので、下記の機能を持つデバイスをお持ちの方はテストしていただけると助かります。

16bit 書き込み
8bit 読み取り
16bit 読み取り

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on May 23, 2015 10:23_

[mozopenhard_20150523.zip](http://dl.linux-rockchip.org/mozilla/) のイメージでAPIの動作確認をお願いします

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 23, 2015 12:50_

マージありがとうございます。動作確認 OK です。 8bit の書き込みにて確認し、 i2c0, i2c2 共に OK でした。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 25, 2015 0:37_

サンプルコードをこちらに上げました。

https://github.com/MozOpenHard/examples/tree/master/test-i2c

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 26, 2015 9:10_

@masap　さん
readをしてみたいと思うのですが、いまいち使い方がわかりません。
https://github.com/MozOpenHard/CHIRIMEN/issues/4#issuecomment-103031635
例えば、こちらのコメントのセンサ、プログラムと同じことやろうと思うと、どういったコマンドになりますか？

手元に同じLCDがあったので動作確認したら無事動きました。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 26, 2015 9:25_

@naokisekiguchi

そちらでも動いたとのこと良かったです。

navigator.mozI2c.open の第二引数に 0x48 を渡すように変更し、メイン部分を以下のように書くとどうでしょうか。

[code]

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 26, 2015 9:54_

@masap さん
数値は帰って来るのですが。
readコマンドのcommand,isOctet
writeコマンドのcommand,value
はそれぞれどういう意味ですか？

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 26, 2015 10:10_

@naokisekiguchi さん

数値は返ってくるものの、値がおかしいということでしょうか？

read/write 共に command というのは、読み取り/書き込み対象のアドレスです。

read コマンドの isOctet が true の場合は 1バイトの読み取り、 false の場合は 2 バイトの読み取りです。
該当ハードのマニュアルを見ると 13bit/16bit とあるので 2 バイト読み取りにしています。

write コマンドの value は書き込む値です。

明日 (05/27) 19:30 に別件で Mozilla に行くので 17:00 とか 18:00 に機材使いながら共同デバッグ等しますか？

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 26, 2015 10:18_

チップのデータシートを読むと
http://www.analog.com/media/en/technical-documentation/data-sheets/ADT7410.pdf

16bit 読み取りじゃなくて 8 bit 読み取りかもです。

[code]

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 26, 2015 11:27_

 8bitずつ読み取りにしてみたらそれっぽい値が取れました。

[code]

[2016-07-06 01:24] MSakamaki commented on #82
_From @naokisekiguchi on May 26, 2015 11:57_

#3, #4, 共に一旦実装はできてコードがプッシュされたのでcloseして、今後のバグは個別にissue切りましょうか？

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 26, 2015 13:25_

それで良いと思います。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on May 26, 2015 13:25_

実装完了のため close。

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on July 11, 2015 4:31_

At the bug https://bugzilla.mozilla.org/show_bug.cgi?id=1166634, @naokisekiguchi suggested to implement multi device support.

So I made the patch and tested it.

Now I want to push it.
@naobsd I tried to push by this command according to your previous comment.
But it filed with below messages.
How could I push this ?

$ git push git@github.com:MozOpenHard/geck

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on July 11, 2015 11:47_

@masap which branch/commit is the base of your new change?
if you are not sure, just try

[code]

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on July 11, 2015 12:47_

@naobsd

The base commit is 6bc3525f524d267220575af20ce2d5d9caffa8d1 of Gecko.
My branch is based on the commit and named "webgpio".

Thank you ! It works.
Could you cherry-pick this commit (ec05d2648d70e291a5c36e3dfee286174d9f580a) ?

[2016-07-06 01:24] MSakamaki commented on #82
_From @naobsd on July 12, 2015 0:45_

I pushed that commit into b2g34_v2_1-mozopenhard https://github.com/MozOpenHard/gecko-dev/commit/6aea2ad0aeb4c98a26884b21f2a7fa9127bd3e7d

[2016-07-06 01:24] MSakamaki commented on #82
_From @masap on July 12, 2015 0:53_

Thanks !

[2016-07-06 01:25] MSakamaki opened #83 "HDMI - more display resolution support"
_From @dynamis on January 20, 2016 7:41_

current implementation only support Full HD resolution in HDMI.
Need to support more display resolution support.

_Copied from original issue: MozOpenHard/CHIRIMEN#49_

[2016-07-06 01:25] MSakamaki opened #84 "Change default SCL clock frequency to 100 kbps (standard-mode)"
_From @dadaa on January 18, 2016 12:35_

I tried to use a following sensor AM2320, but the sensor could not work.
http://akizukidenshi.com/download/ds/aosong/AM2320.pdf
Also I did i2cdetect command on CHIRIMEN, but it was not detected.
According to the spec, this sensor supports up to 100khz SCL clock frequency.
Other sensors that are working well support 400khz.
So the reason may be the frequency

[2016-07-06 01:25] MSakamaki commented on #84
_From @dynamis on January 25, 2016 12:13_

To support more devices, default build should use standard-mode (rebuild karnel if you want to use fast mode)

[2016-07-06 01:26] MSakamaki opened #85 "センサ値などの取得に関する課題(Bugzillaでの指摘を具体例でわかりやすいように記載)"
_From @YusukeYamamoto on January 18, 2016 8:37_

tl;dr

https://bugzilla.mozilla.org/show_bug.cgi?id=1166588
にて指摘頂いている課題の具体例の記載。
♯ 指摘内容と、それがアプリに対してどういう制限として繋がるのかを明確にする。

現状のGPIO APIの実装では、センサ(及びボタンなどのデバイス)からの値を読み取るためには、readをポーリングで処理せねばならない。

そのため、アプリケーション層から、特定デバイスに対して一定周期でのボーリングにて実装する必要がある。
つまり、センサ(やボタンなど)から値を細かい周期で取ろうと思えば思うほど、UIブロックが発生してしまう。

JavaScriptはシングルスレッドなのでこれは仕方がない。
なので、Workerスレッドに逃せば出来るか

[2016-07-06 01:26] MSakamaki commented on #85
_From @dadaa on January 18, 2016 12:17_

はい，Gaia アプリ上の Worker から呼べないことを確認しました．
実装としては現在 navigator に備わっている mozGpio ないし mozI2c を WorkerNavigator ( https://developer.mozilla.org/ja/docs/Web/API/WorkerNavigator ) に実装するか，Gecko のメソッド内で worker スレッドを作るかでしょうか．

[2016-07-06 01:26] MSakamaki commented on #85
_From @YusukeYamamoto on January 18, 2016 14:16_

私もworkerにAPI追加したことは無いので、さきほどコードを読んだ範囲でですが、

Gaiaのアプリ上でWorkerから呼べるようにするためには
実APIをWebIDLで定義、WorkerNavigatorのWebIDLからも定義、worker側への実装が入り口(API)として最低限必要みたいです。

その上で、実体をGecko側に実装が必要。これはKyleから指摘もらっているようにe10s/IPCを用いて実装し、非同期で処理できるようにすることが、Workerとしてmustか否かは不明。不要なら今のままでもとりあえず動くはず。
※APIの口として、Gecko/Gaia のつなぎ部分のみworkerとしての実装が必要なのか、はたまた処理内部も分ける必要があるのか。こちらは要確認。できれば

[2016-07-06 01:26] MSakamaki opened #86 "recomplie kernel with enable SECCOMP"
_From @YusukeYamamoto on January 18, 2016 7:29_

Slackなどで話している件。
https://mozoh.slack.com/messages/porting/details/

Issueで残せていなかったので立てときます。
※Issueにすでにあり,duplicateなら要削除。

CONFIG_SECCOMP_FILTER=y してカーネルのリコンパイル

Mozilla Japanさんで対応中の認識なのでAssignee更新。

_Copied from original issue: MozOpenHard/CHIRIMEN#45_

[2016-07-06 01:26] MSakamaki opened #87 "curious images with screen capture with monitor"
_From @YusukeYamamoto on January 18, 2016 7:21_

スクリーンショットをとると、RGBの値がおかしい画像が取得される
他デバイスと同様、既存バグ、ポーティングが必要。

_Copied from original issue: MozOpenHard/CHIRIMEN#44_

[2016-07-06 01:26] MSakamaki opened #88 "Port to master branch"
_From @YusukeYamamoto on January 9, 2016 3:53_

master ブランチで動かせるようにする。
現状、b2g-patches配下に CHIRIMEN用の各種パッチがあるが、これらを非適用もしくは、masterにいれられるよう検討する
方針として、まずはパッチをなくして代替手段がないかどうか(ビルドオプションとか)、
ない場合、パッチ削除による影響を確認する。

https://bugzilla.mozilla.org/show_bug.cgi?id=1166588 で指摘頂いている点についても解消必要。

_Copied from original issue: MozOpenHard/CHIRIMEN#43_

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 4:2_

#### [0001-gaia-Enable_ftu_to_exit_on_non-tiny_layout_device.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0001-gaia-Enable_ftu_to_exit_on_non-tiny_layout_device-b2g44-v2.5.patch)

FTU の起動をさせないようにしている模様。
なので、ビルドオプションでNOFTU=1を指定してビルド
.userconfig で代替して、本patchは削除

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 4:48_

#### [0001-gecko-Change_bootanimation_pixel_format.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0001-gecko-Change_bootanimation_pixel_format-b2g44-v2.5.patch)

ブートアニメーションがおかしくなる?
ただ、対応をしないでも、ブートアニメーションの表示が崩れる等の影響しかないだろうから、パッチを当てなくても大丈夫そう。

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 5:47_

#### [0001-gonk-misc_disable-content-sandbox.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0001-gonk-misc_disable-content-sandbox-b2g44-v2.5.patch)

ac_add_options --disable-content-sandbox
ビルドオプション で行ける気がする。
継続して、要確認

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 6:20_

#### [0002-gaia-Set_screen_timeout_to_never-b2g44-v2.5.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0002-gaia-Set_screen_timeout_to_never-b2g44-v2.5.patch)

screen time outなので custom-settings.json に記載で行けそうな気がする。

ただ、custom-settings.json を置くにはbuildディレクトリ配下に置かなければならない。
しかし、buildディレクトリはflingoneのものを参照しているため、forkしてやる必要がありそう。

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 6:35_

#### [0002-gecko-Enable_draw_mouse_cursor-b2g44-v2.5.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0002-gecko-Enable_draw_mouse_cursor-b2g44-v2.5.patch)

マウスカーソルの対応。
カーソルのイメージの差し替えと、処理に色々手を加えている。
このパッチは必要そう。
なくすと、すくなくともカーソルサイズが小さくなる?
また、動作面でもどうなるは不明。

パッチ当てない状態での動作確認が必要。

03/22追記
define default settings.json
で対応可能

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 6:38_

#### [0003-gecko-Map-mouse-right-button-to-home-b2g44-v2.5.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0003-gecko-Map-mouse-right-button-to-home-b2g44-v2.5.patch)

右クリックをHomeKeyに割当
ソフトウェアHomeボタンの項目を有効にできれば消せそうだけど・・。

03/22追記
ソフトウェアHomeボタンを有効化するには、デバイスがモバイルとして認識されている必要がある。(※1)
※試しに、無理やり適用したが、ボタンが画面の横に表示されてしまう。モバイルとして縦画面想定

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on January 9, 2016 6:42_

#### [0004-gaia-Set_device.storage.writable.name_to_internal_sd-b2g44-v2.5.patch](https://github.com/MozOpenHard/b2g-patches/blob/v2.5-kk-no_seccomp/0004-gaia-Set_device.storage.writable.name_to_internal_sd-b2g44-v2.5.patch)

"device.storage.writable.name"に"internal_sd"を設定。

#57  SDカードの有効化を考慮する必要あり。

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on March 22, 2016 1:55_

#### 0004-gecko-gfx_add_NV12_format-b2g44-v2.5.patch

サーフェースのピクセルフォーマットに"HAL_PIXEL_FORMAT_YCrCb_NV12"を追加。

OpenGLのtextures処理に影響があると思われる(未確認)。
Rockchip上でAndroid環境を動作する場合に影響がある模様。なので消しても問題なさそうな。。。

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on March 22, 2016 1:57_

#### 0005-gecko-add_more_popular_mimetypes-b2g44-v2.5.patch

メディアデコーダー(OMX)に"video/x-flv"、"video/x-f4v"等のメディア種別を追加。

該当フォーマットのストリーミング再生が出来ない。
PC の ブラウザとしてのFirefox も再生対応していない部分。

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on March 22, 2016 1:58_

#### 0006-gecko-clear_addrs-b2g44-v2.5.patch

Wi-FiのON/OFF時にエラーとなる問題の対応と思われるが、、、

試しに本パッチを非適用で動作させてみたが、ログではWi-Fi関連のエラーが出力されている。
しかし、普通に使えている。実害については、不明。
不要ではないか。

[2016-07-06 01:26] MSakamaki commented on #88
_From @YusukeYamamoto on March 22, 2016 1:59_

#### 0007-gecko-enable-rtsp-streaming-protocol-support-b2g44-v2.5.patch

geckoにRTSPプロトコルを追加。
RTSP プロトコルを必要として追加している背景が不明。
なくても良さそう。

[2016-07-06 01:26] MSakamaki opened #89 "[Hardware Design] Support for Stackable Sheilds"
_From @arky on December 10, 2015 12:7_

 In future we would like to add support to more sensors, Bluetooth, NFC and motor controls. Designing a new stackable shield would be great.

Alternatively Chirimen design could match the dimensions to Arudino Uno so that we can re-purpose Arudino Proto Sheild (http://www.arduino.cc/en/Main/ArduinoProtoShield). Users who have such Arudino uno compatible shie

[2016-07-06 01:27] MSakamaki opened #90 "[Hardware Design] Breadboard friendly design"
_From @arky on December 10, 2015 12:3_

Let's make Chirimen design more breadboard friendly. Perhaps adding power pins to power the breadboard rails or GPIO holes spaced correctly for standard breadboards on the market.

_Copied from original issue: MozOpenHard/CHIRIMEN#40_

[2016-07-06 01:27] MSakamaki opened #91 "[Hardware Design] Add Onboard Communication WiFi module"
_From @arky on December 10, 2015 12:2_

It is cheaper now to have onboard WiFi onto the development boards. Adding support for basic networking by default would make IoT solutions much easier.

_Copied from original issue: MozOpenHard/CHIRIMEN#39_

[2016-07-06 01:27] MSakamaki commented on #91
_From @autonome on December 18, 2015 17:45_

Once you have a radio on board, you have a FAR higher set of government
regulations that apply to the device. Not having onboard radio of any kind
means you can ship almost anywhere without needing government regulatory
approval.

On Thu, Dec 10, 2015 at 7:02 AM Arky notifications@github.com wrote:

[2016-07-06 01:27] MSakamaki opened #92 "[Hardware Design] Add headers to CHIRIMEN board"
_From @arky on December 10, 2015 12:1_

It would be great to add female headers to Chirimen. This will make it easier to work. Most of the Arduino have this feature (http://www.arduino.cc/en/Main/ArduinoBoardUno).

Of course, It is quite simple to solder some male pins. But inexperienced users (like me) can easily end up damaging the board while soldering. The IC chips are closely spaced on CHIRIM

[2016-07-06 01:27] MSakamaki commented on #92
_From @autonome on December 18, 2015 17:41_

+1, anything requiring soldering should be avoided at all costs.

Arky, to illustrate the problem, can you describe what type of things users
_cannot_ do if there are no female headers on the board?

On Thu, Dec 10, 2015 at 7:01 AM Arky notifications@github.com wrote:

[2016-07-06 01:28] MSakamaki opened #93 "[Hardware Design] Improve Coin Cell Battery holder"
_From @arky on December 10, 2015 11:56_

The coin cell battery holder on OINARI device is quite delicate. With use the tensile strength of the battery snap might change making it unreliable. The design could be improved by choosing alternative battery holder such as standard coin cell holder (http://www.digikey.com/product-detail/en/107/36-107-ND/27387) or vertical coin cell holder (http://www.mou

[2016-07-06 01:56] MSakamaki commented on #51
@msakamaki
- [x] 08/06(土) AM
- [x] 08/06(土) PM
- [ ] 08/07(日) AM
- [ ] 08/07(日) PM

[2016-07-06 02:03] MSakamaki commented on #43
issues引っ越し残り３つ、
moving issues ラベルをつけました。
(後で名前や色は変えてオッケーです。)

[2016-07-06 02:06] MSakamaki commented on #43
引っ越し前だけのisseusを表示したい場合はfilterに`is:open is:issue -label:"moving issues"`とか入れる。

[2016-07-06 16:50] kazygumi opened #94 "Maker Faire Tokyo 2016 KDDIブース看板デザイン"
ギリギリとなってしまい申し訳ないです。

看板デザインを作成しましたので
先日のミーティングの意向と合っているか確認をお願いします。

<img width="960" alt="2016-07-07 1 34 40" src="https://cloud.githubusercontent.com/assets/10734849/16626649/d9524a10-43e4-11e6-93d4-f7576c34d192.png">

[MFT2016看板.ai.zip](https://github.com/chirimen-oh/any-issues/files/350423/MFT2016.ai.zip)

[2016-07-06 17:02] gurezo commented on #94
@gurezo 個人はこのデザイン認識でいます。
強いて言えば、SPONSERSの箇所のどこか（最下部？）に
50音順、A-Z順と記載があれば、良いかと思います。

[2016-07-07 00:17] kazygumi commented on #94
@gurezo さん
ありがとうございます。
SPONSERSの最下部に「※掲載は五十音順・A-Z順、敬称略」を
追記しました。

![2016-07-07 9 14 46](https://cloud.githubusercontent.com/assets/10734849/16638599/7dd9e726-4423-11e6-9400-eb4da29dea9e.png)

[MFT2016看板.ai.zip](https://github.com/chirimen-oh/any-issues/files/351144/MFT2016.ai.zip)

[2016-07-07 00:51] kohichi000000 commented on #94
Cの看板ですよね。
私のイメージは以下でしたがいかがでしょう？：

左（多分下側はほとんど見えない）：　上側のCHIRIMENのロゴ＋タイポだけにする
真ん中（通路側で一番見えるところ）：　上側は上記ご提案のまま(CHIRIMENロゴ＋タイポと簡単な説明）、下側に後援者、協力者を掲載する（つまり左にあるやつを移動）。
右（トークスペース側を向いている）：　何も載せないか、「Web x 宇宙 x Make」と書く

＃HAKUTOさんに確認なのですが、HAKUTOとCHIRIMENの露出は均等にしたいので。

[2016-07-07 02:47] MSakamaki commented on #36
NodeBots Dayですが、とりあえず以下の内容になりそう。

基本こっちの参加スタンスは「CHIRIMENのタッチ＆トライをしてもらう」
1. もくもく会ベース
2. CHIRIMENチームはブースを提供してもらえるので。CHIRIMENハードウェアを提供して、タッチ＆トライをしてもらう。
3. センサー類やハンダなどの提供は、各コミュニティや参加者自前

「確認中」
どれだけのサイズのエリアを提供してもらえるのか・・・

[2016-07-07 03:31] kazygumi commented on #94
了解しました。
このような感じでどうでしょうか。

![2016-07-07 12 27 01](https://cloud.githubusercontent.com/assets/10734849/16641721/4619c976-443e-11e6-8c80-9bab38447409.png)

[MFT2016看板2.ai.zip](https://github.com/chirimen-oh/any-issues/files/351352/MFT2016.2.ai.zip)

ちなみにSPONSERSのところは、
横向きのA3用紙を2枚縦並びで置けるスペースを空けています。

[2016-07-07 04:11] kohichi000000 commented on #94
ありがとうございます。私はこんなイメージでしたが、みなさんどうでしょうか？？

[2016-07-07 05:19] sizuhiko commented on #94
私の先日の理解では最初のイメージでしたが、看板2も良いと思います

[2016-07-08 03:26] sizuhiko commented on #51
- [ ] 08/06(土) AM
- [x] 08/06(土) PM
- [x] 08/07(日) AM
- [x] 08/07(日) PM

[2016-07-08 04:20] ghost commented on #32
issueのラベル、platformをportingに変更しちゃいました(slackの#portingにあわせました)

[2016-07-08 04:24] ghost commented on #34
#92 と重複しているのですが、こちらcloseしてよいでしょうか？

[2016-07-08 04:29] ghost commented on #22
#88 と関係あるでしょうか？

[2016-07-08 04:37] ghost commented on #85
@dadaa これはもう実装が変わっている件についてだと思いますが、やる事としてはまだ何かあるでしょうか？

[2016-07-08 04:40] ghost commented on #82
これはもうcloseでいいような気がします(何か作業が必要にしても、記載が追いついていない)

[2016-07-08 04:42] ghost commented on #80
これはもうcloseでしょうか？

[2016-07-08 04:48] ghost commented on #71
mozopenhard的な文字列が入っていない写真が必要？

[2016-07-08 04:56] ghost commented on #61
refer #70

[2016-07-08 04:56] #61 closed, assigned to nobody

[2016-07-08 05:00] ghost commented on #54
closeでいいですよね？

[2016-07-08 05:17] ghost opened #95 "node.js binary"
古いfbから持ってくる or せっかくなので新しいのをビルドする

[2016-07-08 06:11] MSakamaki commented on #43
残り3つのissues引っ越しできないと思ったら
ここのメンバーに @YusukeYamamoto  さんと @dynamis さんが居なくて担当アサインできない！って怒られてる事に気がついた。

どうしよ・・・・

[2016-07-08 06:14] MSakamaki commented on #94
issues整理したときにタグ我内のでeventタグ追加
あとマイルストーンとかも無いので置きました。

[2016-07-08 06:17] MSakamaki opened #96 "define default settings.json"
_From @dynamis on December 4, 2015 9:14_

Let's define and prepare appropriate default config for CHIRIMEN.

For example, I want:
   "bluetooth.enabled": false,
   "debugger.remote-mode": "adb-devtools",
   "developer.menu.enabled": true,
   "devtools.debugger.remote-enabled": true,
   "devtools.remote.wifi.enabled": true,
   "geolocation.enabled": false,
   "lockscreen.passcode-lock.code": "0000"

[2016-07-08 06:17] MSakamaki opened #97 "setup travis for MozOpenHard repo"
_From @YusukeYamamoto on December 4, 2015 6:50_

We have to run test suite on Gaia / Gecko for CHIRIMEN repo( MozOpenHard repo).

https://developer.mozilla.org/ja/Firefox_OS/Automated_testing/Gaia_integration_tests

_Copied from original issue: MozOpenHard/CHIRIMEN#35_

[2016-07-08 06:17] MSakamaki commented on #97
_From @YusukeYamamoto on December 4, 2015 6:54_

The setup for travis was just setup by myself.

https://travis-ci.org/MozOpenHard

I'm going to check the travis to confirm to work test runner at commit or PR.
This issue is going to be still open until confirmed to work automatically test.

[2016-07-08 06:17] MSakamaki commented on #97
_From @YusukeYamamoto on January 8, 2016 2:53_

Close
it has already DONE.

[2016-07-08 06:17] MSakamaki commented on #97
_From @YusukeYamamoto on February 9, 2016 1:17_

reopen.
We've been get error on travis.
It seems that that error occurs on initial steps on CI.

[2016-07-08 06:17] MSakamaki commented on #97
_From @YusukeYamamoto on February 9, 2016 1:19_

It would be better to stop the travis CI for the time being until fix that error....

[2016-07-08 06:18] MSakamaki opened #98 "Port to v2.5 from v2.1"
_From @YusukeYamamoto on December 3, 2015 14:49_
## Step 1 ( only v2.5 )
- [x] Gaia
- [x] Gecko
- [x] manifests
- [x] b2g-patches
- [x] fix bug at flash.sh ( #31, #13)
## Step2 ( v2.5 + GPIO / I2C patch / recompile kernel )
- [ ] Gaia
- [ ] Gecko
- [ ] #45 recompile kernel

_Copied from original issue: MozOpenHard/CHIRIMEN#34_

[2016-07-08 06:18] MSakamaki commented on #98
_From @YusukeYamamoto on December 3, 2015 15:43_

Done gaia, gecko
https://github.com/MozOpenHard/gaia/tree/v2.5
https://github.com/MozOpenHard/gecko-dev/tree/b2g44_v2_5

[2016-07-08 06:18] MSakamaki commented on #98
_From @autonome on December 3, 2015 19:33_

@YusukeYamamoto after you have ported the GPIO/I2C patch, can you attach the individual patch to https://bugzilla.mozilla.org/show_bug.cgi?id=1166588? It will give more people the opportunity to see the code and discuss how to get it landed on mozilla-central.

[2016-07-08 06:18] MSakamaki commented on #98
_From @YusukeYamamoto on December 3, 2015 23:32_

@autonome , OK got it.
Actually, I'm already ready to show the GPIO/I2C patch on FxOS v2.5.
ASAP, the patch will be attached on that bug.
I think, it's useful to discuss on Mozilla work week at Orlando.

[2016-07-08 06:18] MSakamaki commented on #98
_From @YusukeYamamoto on December 4, 2015 0:29_

@autonome I've attached the patch on that bug.
https://bugzilla.mozilla.org/show_bug.cgi?id=1166588

[2016-07-08 06:18] MSakamaki commented on #98
_From @YusukeYamamoto on December 7, 2015 7:16_

I've added v2.5 branches Gaia/Gecko on MozOpenHard repo.
You can download codes with

[2016-07-08 06:21] gurezo commented on #43
@YusukeYamamoto さんと @dynamis さん招待sちゃいました（テヘペロ

[2016-07-08 06:22] MSakamaki commented on #43
引っ越し完了

[2016-07-08 06:22] #43 closed, assigned to MSakamaki

[2016-07-08 06:24] ghost commented on #9
#97 https://travis-ci.org/MozOpenHard こんなものが

[2016-07-08 06:28] MSakamaki commented on #23
[issues/#7](https://github.com/chirimen-org/any-issues/tree/issues/%237) ブランチマージしちゃっていいですか？

👍  が３つ集まればマージします。
👎 が１個でもあればちょっと待ちます。

[2016-07-08 06:47] kohichi000000 commented on #94
皆さん特に異論なさそうなので、とりあえず案２で提案します。
スポンサーは皆さんからいただいたものを入れますね～（やっぱりスポンサーがたくさんそろっているとかっこいい）

[2016-07-08 07:44] MSakamaki commented on #9
MozOpenHard/gecko-dev のCIで使われてたのを見た事有ります。
gecko-devの引っ越しとともに中身は空っぽになってるので多分大丈夫かと。

[2016-07-08 08:03] MSakamaki commented on #80
@dadaa さんがcloseと判断したらcloseで！

[2016-07-08 11:20] ghost commented on #9
@MSakamaki 大丈夫、というのは？

必要ないなら消す、必要なら名前を変える（消して作りなおす）、というアクションが必要、かと思っているのですが、例えばgithubのMozOpenHardに連動していて一緒に消えるから大丈夫、とかいう事なんでしょうか？(そもそもこれがどういうサービスなのか理解していません...)

[2016-07-09 06:49] gurezo commented on #51
@gurezo 体調に問題なければ、下記日程お手伝いします。
- [x] 08/06(土) AM
- [x] 08/06(土) PM
- [x] 08/07(日) AM
- [x] 08/07(日) PM

[2016-07-11 07:12] gurezo opened #99 "タッチ＆トライ用PC"
タッチ＆トライ用PCを二台用意できそうです。
1台目
OS:Linux Mint 17.3
工人舎 ：SX3KX06MFD
http://jp.kohjinsha.com/models/sx/specification/index.html

2台目
OS:Ubuntu 16.04LTS
マウスコンピュータ：LB-S210X-WM
http://zigsow.jp/review/136/190169/

どちらもFirefox 最新版インストール済み、Fx0,Flame,Open Web Board認識確認済みです。
他に何かセットアップした方が良い内容があれば、ご指摘をお願いします。

追記
WebIDEにADB HeleperとFirefox OSシュミレータ2.0,2.1,2.2,2.6もインストール済みです。

ネックが一つ・・・・（ー”ー；
工人舎 ：SX3KX06MFDは、wi

[2016-07-11 07:43] naokisekiguchi commented on #45
@tadfmac ありがとうございます。
対応しました!
https://github.com/chirimen-oh/shields/commit/a9741adab65b474345cc0fd8bf54c8bdcffc6a6c
問題なければcloseお願いします。

[2016-07-11 07:44] naokisekiguchi commented on #45
あークレジットの件はどうしましょう？

[2016-07-11 07:45] naokisekiguchi commented on #46
@tadfmac 見逃してました。
対応しました!
https://github.com/chirimen-oh/shields/commit/a9741adab65b474345cc0fd8bf54c8bdcffc6a6c
問題なければcloseお願いします。

[2016-07-11 10:37] gurezo commented on #99
### 環境

#### 上記2台とも下記環境にしました。
- Firefox,Firefox Developer Edition,Nightlyをインストール済み
- WebIDEにADB HeleperとFirefox OSシュミレータ2.0〜2.2インストール済
- Fx0,Flame,Open Web Board認識確認済
1. 台目
   - OS:Linux Mint 17.3
   - 工人舎：SX3KX06MFD
   - 問題・課題
     - wi-fiが接続できない
     - Firefox OSシュミレータ2.6が未インストール（32bit OSの為）
2. 台目
   - OS:Ubuntu 16.04LTS
   - マウスコンピュータ：LB-S210X-WM
   - 問題・課題：無し

上記2台でCHIRIMENの接続確認をすれば、準備は完了します。

[2016-07-12 01:32] MSakamaki commented on #9
@naobsd

その認識でOKです。

以下簡単に状況を説明します。

TravisはCI系サービス(BambooとかJenkinsのsaas版)です。
プルリク後の自動テストとか、masterブランチやタグ切ったら自動リリースとかするために使う奴です。
(chirimenのHPでも使ってます。)

基本名前の変更はできなく、githubをhookする形で生成されるURLです。
なので、MozOpenHeard -> chirimen-oh と言う名前の変更してれば消えていたかもしれないですが、今回２つ作って中身を移動したので残っていると言う状況です。

大丈夫というのは、唯一使ってたのはgecko-devリポジトリのみっぽく実質MozOpenHardが空っぽなので、githubのMozOpenHardを消せばそのうち消えると思います。
どのタイミングでURLがクリアされるのは不明ですが

[2016-07-12 04:54] #46 closed, assigned to nobody

[2016-07-12 04:55] tadfmac commented on #46
対応ありがとうございます！Closeしました。

[2016-07-13 04:13] kohichi000000 commented on #94
イベント事務局から２点コメントがありましたので、すいませんが、以下のように対応させてください。

①イベントのルールとして、通路側への（イベントスポンサー以外の）会社名、個人名の露出はできない。
⇒（ルールということで仕方ないので）CHIRIMENブース内側（もともとの @kazygumi さん看板１案どおり）にスポンサー名を移す。
②SPONSORだと何のスポンサーだかわからない（イベントのスポンサーと混同する）ので明確化してほしい
⇒「CHIRIMEN CONTRIBUTOR」と変更（実際に手を動かしてくださっている方という意味もこめて）

[2016-07-13 06:11] kazygumi commented on #94
わかりました。夜に対応します。

[2016-07-13 09:08] kazygumi commented on #94
取り急ぎ対応しましたー！
こちらで問題がないか確認をお願い致します〜

![2016-07-13 18 05 04](https://cloud.githubusercontent.com/assets/10734849/16797917/878260f4-4924-11e6-8a19-581e5b068219.png)

[MFT2016看板3.ai.zip](https://github.com/chirimen-oh/any-issues/files/361089/MFT2016.3.ai.zip)

[2016-07-13 09:19] kohichi000000 commented on #94
@kazygumi さん、仕事が早いですね（笑）
これ送っておきます。

[2016-07-14 12:37] dadaa commented on #80
close っすね！

[2016-07-14 12:37] #80 closed, assigned to dadaa

[2016-07-14 12:50] dadaa commented on #9
遅くなりましたが tumblr は念のため削除はせずに、パスワード設定しておきました。

[2016-07-14 13:05] gurezo commented on #99
#### wi-fiが接続できない問題解決。
- 1台目
  - OS:Linux Mint 17.3
  - 工人舎：SX3KX06MFD
  - 内臓のwi-fi LANではなく、USBドングル追加にて対応
  - 問題・課題
    - Firefox OSシュミレータ2.6が未インストール（32bit OSの為）

[2016-07-19 03:38] MSakamaki commented on #23
あとひとり来ないけれ２人も３人も同じよということで、#7 マージしちゃいますね。

[2016-07-19 12:50] gurezo commented on #19
SlackinでSlackに誰でも参加できるチームをつくる
http://qiita.com/r7kamura/items/0b0a2a2d536907816b0d

上記で作成完了
招待リンク
https://chirimen-oh.herokuapp.com/

誰か、新規でslackに加入確認が出来たらcloseする

[2016-07-20 11:26] kohichi000000 commented on #94
Slackにもかきましたが、ブースのロゴ掲載案です：https://www.dropbox.com/s/5qqjdextriaro0d/Maker%20Faire%20Tokyo_KDDI-0630-2.pdf?dl=0

[2016-07-20 13:26] gurezo commented on #19
現在参照不能になりました。
アプリ設定を失敗し、アカウント削除を誤ってしてしまった為。

[2016-07-20 13:42] gurezo commented on #19
アカウントを再作成し、デプロイしましたが
まだApplication Error発生しています。

[2016-07-20 14:16] gurezo commented on #19
[code]

[2016-07-20 15:08] gurezo commented on #19
最新のslackのAPIトークンで、再構築を後日試みる
アカウントは復活済み

[2016-07-26 12:07] kazygumi commented on #51
今度こそはお手伝い。
- [x] 08/06(土) AM
- [x] 08/06(土) PM
- [x] 08/07(日) AM
- [x] 08/07(日) PM

[2016-07-26 17:11] gurezo opened #100 "コミュニティ名刺希望者"
### 希望者は、下記情報を提示して下さい
- 漢字指名
- ローマ字
- 印刷部数
### 以下のいずれかの方法で連絡して下さい
- slack の 場合：@gunmaer 又は @kazy へ DM
- メールの場合：chirimen.open.hardware@gmail.com
### コミュニティ名刺 印刷 例
- 地理麺　太郎  <== 各個人名
- taro chirimen  <== 各個人名
### メールアドレス・SNSは、下記内容が印字されます。
- mail:chirimen.open.hardware@gmail.com
- Twitter:https://twitter.com/chirimen_oh
- facebook:https://www.facebook.com/groups/chirimen/
- homepage:https://chirimen.

[2016-07-26 23:21] satakagi commented on #100
セルフ印刷したい人向けの原稿(フリーのオーサリングツールで編集可能なもの)も提供してほしいです

[2016-07-27 08:05] noga335 commented on #51
日曜は調整中です。
- [x] 08/06(土) AM
- [x] 08/06(土) PM
- [ ] 08/07(日) AM
- [ ] 08/07(日) PM

[2016-07-28 09:36] kazygumi commented on #100
サンプルイメージ
![2016-07-28 18 43 02](https://cloud.githubusercontent.com/assets/10734849/17208317/2da46516-54f3-11e6-8fd6-29f895f0bc44.png)

[2016-07-29 13:16] gurezo opened #101 "MFT2016 ブースイベントのタイムスケジュール作成依頼"
ブースイベントのタイムスケジュール書いてもらう。

[2016-07-29 13:21] gurezo opened #102 "MozOpenHard から持ってきた issue の精査"
MozOpenHard から持ってきた issue に関しては、[naokisekiguchi](https://github.com/naokisekiguchi) さんと[dadaa](https://github.com/dadaa) さん で精査

[2016-07-29 13:27] gurezo commented on #99
7/26 CHIRIMEN と PC の接続確認終了。
荷造り済
運搬は、[kudodo](https://github.com/kudodo) さんにお願い。

[2016-07-30 06:26] kohichi000000 commented on #101
オライリーさんに依頼しました。ブースの目の前に下記を書いたスタンドを立てる予定。
こんな感じです。

「CHIRIMENの紹介」のところでCHIRIMENの紹介＋LT大会をやりますー

8/6(土)
12:30- 「私だけのプラネタリウム作り」（会場見学ツアーを含む、女子中高生対象）
14:55- au x HAKUTO MOON CHALLENGEご紹介
15:30- CHIRIMENのご紹介
16:30- タッチアンドトライ
17:00- au x HAKUTO MOON CHALLENGEご紹介
18:00- タッチアンドトライ

8/7(日)
10:00- タッチアンドトライ
11:00- CHIRIMENのご紹介
12:00- 坂井直樹氏プレゼンツ　パネルトーク「Maker movementは宇宙まで（仮）」
14:10- 「地球外生物のテクノブローチをつくろう」
15:00-

[2016-07-30 08:32] r-konishi opened #103 "GPIO.write に true, false を入れた際の動作"
以下のURLのLチカに成功しました。
https://fabble.cc/chirimenedu/chirimenhelloworld

しかし、

[code]

の箇所を

[code]

に変更したところ、動きませんでした。
結果的に "OperationError" を吐いていたのですが、なかなか気づけませんでした。

よく仕様を確認すると "numeric 0 or 1" と書いているため当たり前なのですが、
こういった場合は、コンソールを見るしかないのでしょうか。

[2016-07-30 08:35] r-konishi commented on #103
補足です。
https://github.com/club-wot/WebGPIO/blob/draft-20160125/dist/webgpio.js#L6-L9
この値が見れればうれしかったです。

[2016-07-31 02:31] ghost commented on #103
ROWはLOWですね...

[2016-08-01 01:49] MSakamaki commented on #103
@naobsd  チェックありがとうございます！
typo部分だけ修正しておきました。
https://github.com/club-wot/WebGPIO/pull/15

[2016-08-01 03:14] minakokudou opened #104 "ちりめんの初期設定"
ちりめんの初期設定についてのご質問です。

ちりめんの初期設定で、以下が難しくキットに解説書などがあればと
思いました。
・基本的な導入ガイド
・配線の方法
・１分間動作が無ければ、シャットダウンする設定を変更する方法。

またスタートアップガイドなど御座いましたら是非、ご教授頂きたいです。
どうぞ宜しく御願いします。

[2016-08-01 06:41] naokisekiguchi commented on #51
なんか全体的に見ることになりそう
- [x] 08/06(土) AM
- [x] 08/06(土) PM
- [x] 08/07(日) AM
- [x] 08/07(日) PM

[2016-08-01 07:32] gurezo commented on #104
@minakokudou

導入に関する情報は、下記の通りです。
[CHIRIMEN](https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN)
[クイックスタートガイド](https://is.gd/7pKvD0)
[Fabble - ChirimenEdu](http://fabble.cc/chirimenedu)

[CHIRIMENの開発、ドキュメント作成に役立つツール集 ](https://github.com/chirimen-oh/CHIRIMEN-tools)

上記以外のドキュメント類は、まだ自分が知っている範囲ではないので
次回ミーティングの議題とさせてください。

[2016-08-02 07:25] kohichi000000 commented on #104
クイックスタートガイド、FAQはCHIRIMEN HP配下の[こちら](https://chirimen.org/docs/ja/)
を見ていただいたほうがいいかも。MDNは後日消されると思います。
あとは、本github 配下のexampleですかね。

まとめると、こんな感じではないでしょうか？（日本語版）
- [CHIRIMEN FAQ](https://chirimen.org/docs/ja/FAQ.html)
- [クイックスタートガイド](https://chirimen.org/docs/ja/quickStart.html)
- [ペリフェラル情報](https://chirimen.org/docs/ja/peripherals.html)
- [Fabble - ChirimenEdu](http://fabble.cc/chirimenedu)
- [Example

[2016-08-02 11:08] gurezo opened #105 "定期チャンネル案内"
新規参加者用にチャンネル案内をslackで、定期botで案内する

[2016-08-02 11:18] gurezo commented on #105
毎週土曜日19:00-20:00に定期的にポストする様にGAS(Google Action Script)で構築
アカウント：chirimen.open.hardware@gmail.com

[参考サイト：初心者がGASでSlack Botをつくってみた](https://is.gd/QJ5H3g)
スクリプト名：channel_announce

[2016-08-02 11:19] gurezo commented on #105
今週8/6に動作確認が取れたら、close

[2016-08-02 11:23] gurezo commented on #105
ポストはできる様になったけど、チャンネルがリンクにならないので、
継続して調査する必要あり。

[2016-08-02 12:53] gurezo commented on #19
[公開Slack用 自動招待フォーム by GAS](http://qiita.com/atusi/items/c2669add8038c43efff3)作成出来たので、close

[2016-08-02 12:53] #19 closed, assigned to dadaa

[2016-08-02 15:22] gurezo opened #106 "chirimen.orgにslack招待リンクの割り当て"
### サイト配置をする事を忘れない為にissueを立てる。
- [Chirimen Open Hardware Community slack 招待フォーム](https://docs.google.com/forms/d/e/1FAIpQLScyfyFZbe7uZbQQzSQq78tRqtRKWXvmDRR_dO39wtzYIQFV5g/viewform)

[2016-08-03 10:32] gurezo commented on #51
@okudakoさんの代打入力です。
- [x] 08/06(土) AM
- [x] 08/06(土) PM
- [x] 08/07(日) AM
- [x] 08/07(日) PM

[2016-08-04 10:35] #101 closed, assigned to kohichi000000

[2016-08-04 10:35] #94 closed, assigned to kohichi000000, satakagi

[2016-08-04 15:40] WhiteHawk-taka opened #107 "CHIRIMENの名前統一"
CHIRIMEN や Chirimen などのような、名前の統一がなされてない部分がTwitterなどで見られました。
CHIRIMEN に関わるページでの名前の確認が必要です。
また正式名が曖昧なのでメンバーに共有する必要があります。

[2016-08-04 16:21] gurezo commented on #107
### 現在の状況
- github
  - CHIRIMEN
  - https://github.com/chirimen-oh （URL）
- 公式サイト
  - CHIRIMEN Open Hardware（表記）
  - https://chirimen.org/ （URL）
- slack
  - CHIRIMEN Open Hardware（コミュニティ名）
  - https://chirimen-oh.slack.com （URL）
- facebook
  - CHIRIMEN Open Hardware（コミュニティ名）
  - https://www.facebook.com/groups/chirimen/ （URL）
- twitter
  - CHIRIMEN Official（プロフィール）
  - https://twitter.com/chirimen_

[2016-08-04 16:29] ghost commented on #107
google groupsは
https://groups.google.com/forum/?hl=ja#!aboutgroup/chirimen-oh
こっちの説明がChirimenになっています
(リンク先も直さないとですかね)

[2016-08-04 16:36] gurezo commented on #107
他にも、後でみつかりそうなので、issueも立てた事なので
次回ミーティングの再議論しましょう！

[2016-08-04 19:02] gurezo opened #108 "twitterとslackの連携"
twitterのPOSTをslackの#generalチャンネルに連携ポストを出来るようにする。

[2016-08-04 19:03] gurezo commented on #108
連携確認後、確認ツイート削除。
連携できたので、close

[2016-08-04 19:03] #108 closed, assigned to gurezo

[2016-08-06 12:24] gurezo commented on #105
現状、チャンネルのリンクを入れて対応
違う解決法が見つかったら、reOpenして処置。
案内が出来るので、一旦close

[2016-08-06 12:24] #105 closed, assigned to gurezo

[2016-08-07 11:32] gurezo commented on #100
イベントが終了したので、close

[2016-08-07 11:32] #100 closed, assigned to gurezo, kazygumi

[2016-08-07 11:32] gurezo commented on #99
イベントが終了したので、close

[2016-08-07 11:32] #99 closed, assigned to nobody

[2016-08-07 11:33] gurezo commented on #51
イベントが終了したので、close

[2016-08-07 11:34] gurezo commented on #51
イベントが終了したので、close

[2016-08-07 11:34] #51 closed, assigned to nobody

[2016-08-07 11:34] gurezo commented on #50
イベントが終了したので、close

[2016-08-07 11:34] #50 closed, assigned to kazygumi

[2016-08-07 11:34] gurezo commented on #48
イベントが終了したので、close

[2016-08-07 11:34] #48 closed, assigned to kohichi000000, kudodo, satakagi, gurezo

[2016-08-07 11:35] gurezo commented on #38
イベントが終了したので、close

[2016-08-07 11:35] #38 closed, assigned to nobody

[2016-08-07 11:35] gurezo commented on #36
イベントが終了したので、close

[2016-08-07 11:35] #36 closed, assigned to nobody

[2016-08-07 13:41] gurezo opened #109 "CHRIMEN Board 発売記念イベント 企画"
- 対象
  - CHRIMEN Board 購入者
  - CHRIMEN Board に興味のある方
- 日時
- 場所候補
  - mixi & Switch Science エイドステーション サービス利用
  - 秋葉原 イベントスペース（各種部品購入は各自）
    - 良い場所の提案大募集
- イベント内容案
  - ファームウェアアップデート・ハンズオン
  - ハンズオン
  - ~~ハッカソン~~

---
### TODO
- [x] [CHIRIMEN ボード ハンズオン リンク](http://chirimen-oh.connpass.com/event/37934/)
- [x] 日時：2016/09/17(土) 10:00-
- [x] 場所：[秋葉原 永和システムマネジメントのコワーキングスペース](https://www.doorkeeper.jp/%E4

[2016-08-07 14:50] gurezo commented on #32
説明文を @naokisekiguchi さんに書いて頂いたのと #105 で対応したので、close

[2016-08-07 14:50] #32 closed, assigned to nobody

[2016-08-07 15:41] gurezo commented on #23
説明も一通りできていると様なので、close

[2016-08-07 15:41] #23 closed, assigned to nobody

[2016-08-08 00:28] sizuhiko commented on #100
名刺代まだの人は、次回イベント（マンスリーミーティングなど）で、 @gurezo さんに渡す

[2016-08-08 00:30] sizuhiko commented on #109
秋葉原でのイベントスペース、永和システムマネジメントのコワーキングスペースが利用可能です。
https://www.doorkeeper.jp/%E4%BC%9A%E5%A0%B4/eiwa-systems-management

[2016-08-08 01:05] ghost commented on #9
まだ消さなければいけないものが残っている認識です。

(チェックリストは最初のコメントに移動しました)

https://travis-ci.org/MozOpenHard は github と連動して消えるはず?

[2016-08-08 14:56] gurezo opened #110 "CHIRIMEN-toolsの READMEリンク修正"
TBD ... See this slideのリンク先が、MozOpenHard-monthly20151010になっています。

[2016-08-08 15:01] gurezo opened #111 "ボードコンピュータ　コネクタ配置　裏面画像差し替え"
Maker Faire Tokyo 2016では、シールが貼ってありますが、
ドキュメント上はシールを貼る前の画像
https://chirimen.org/docs/ja/board_connectors.html

slackの#webpage-developmentで、 @naobsd さんが指摘

[2016-08-08 15:25] gurezo commented on #111
chirimen-oh/chirimen-oh.github.io に issue [ボードコンピュータ　コネクタ配置　裏面画像差し替え #36](https://is.gd/1tDfbH) を立てたので、こちらは一旦close

[2016-08-08 15:25] #111 closed, assigned to nobody

[2016-08-08 15:28] #57 closed, assigned to nobody

[2016-08-08 23:35] ghost commented on #110
名前が問題という事でしょうか?

[2016-08-08 23:36] ghost commented on #109
CHIRIMENは購入できますか?

[2016-08-08 23:37] gurezo commented on #110
MozOpenHardが残っている事が問題と捉えています。

[2016-08-08 23:39] gurezo commented on #109
スイッチサイエンスさんに残りの在庫や販売に関して、確認しないと分からない状況です。

[2016-08-08 23:39] ghost commented on #107
githubは"CHIRIMEN Open Hardware"に直しておきました

[2016-08-08 23:42] ghost commented on #110
過去の議事録ですが、改竄すべきですか?
CHIRIMEN-toolsのREADME.mdにある必要があるかという事だと、たぶんnoで、必要な情報があればchirimen.orgにでもまとめるべきだとは思います。

(あと名前の問題なら既にissueが...)

[2016-08-08 23:44] ghost commented on #110
どちらかというと過去(MozOpenHard)のmonthly meetingの資料を回収してmeetingリポジトリに放り込んどく方がいいような気がしてきました

[2016-08-08 23:48] ghost commented on #110
今のREADME.mdの内容なら、単にchirimen.orgのhardware specへのリンクでよさそうです。(CHIRIMEN-toolsについての説明にすべきのような気もしますが)

[2016-08-08 23:50] ghost commented on #106
(他人の書き込みの修正は基本的にはやらないのですが)最初のコメントのリンク先を https://docs.google.com/forms/d/e/1FAIpQLScyfyFZbe7uZbQQzSQq78tRqtRKWXvmDRR_dO39wtzYIQFV5g/viewform に修正させてもらいました

[2016-08-08 23:58] gurezo commented on #110
いくつかの問題が他の要素と色々絡んで、単純なissueを立て辛い状況になっているので
時期は別途決めるにせよ、一度次回ミーティング用のアジェンダを作ります。

アジェンダの作成過程で、どの問題がどれと関連しているかを整理したいと思います。
問題やissueを簡素化したいですね。

[2016-08-09 00:03] ghost commented on #97
https://travis-ci.org/MozOpenHard should/will be deleted after https://github.com/mozopenhard deletion.
it will be handled by #9 so close this issue.

[2016-08-09 00:03] #97 closed, assigned to nobody

[2016-08-09 00:06] ghost commented on #9
https://github.com/chirimen-oh/any-issues/issues/110#issuecomment-238410278 に関して、個人的にはMozOpenHard時代の議事録・資料まで無理に直す必要はないと思います。(記録は記録としてそのままでよいかと)

現在も参照する必要のある情報については、chirimen.org等に掲載する際に適宜文面を修正すればよいと思います。

[2016-08-09 00:16] ghost commented on #71
https://chirimen.org/docs/ja/board_connectors.html この裏面の写真を置き換えたい

[2016-08-09 00:26] ghost commented on #70
対応済みで、現状既にv2.5でイメージをリリースしている為、クローズ。

[2016-08-09 00:26] #70 closed, assigned to nobody

[2016-08-09 00:30] ghost commented on #59
どなたか rkflashtool を Mac でビルドして動作確認できないでしょうか

[2016-08-09 00:44] ghost commented on #54
20160429ではなぜか直っていなかった。ビルドし直した20160808で直る予定。

[2016-08-09 00:46] ghost commented on #47
MFT2016で掲示したリストはどこかにまとまっているのでしょうか?

[2016-08-09 00:47] ghost commented on #34
続きは #92 でお願いいたします

[2016-08-09 00:47] #34 closed, assigned to nobody

[2016-08-09 00:48] ghost commented on #22
続きは #88 でやりましょう

[2016-08-09 00:48] #22 closed, assigned to dadaa

[2016-08-09 00:52] ghost commented on #56
https://github.com/chirimen-oh/any-issues/issues/104#issuecomment-236823504 MDNはいずれ消すとの事なので、こちらはクローズします。
(消すのは #9 で、ドキュメントを用意する話は #104 #74 #73 なり新規なりで)

[2016-08-09 00:52] #56 closed, assigned to nobody

[2016-08-09 01:22] kohichi000000 commented on #47
今のところ公衆回線では晒していないんですが、まとめてはあります。

そのうえで、ここからは皆さんに相談なのですが、MFTに限定せず、CHIRIMEN Open HardwareコミュニティへのcontributorsさんをHPなどで掲げさせていただき、お互いに賞賛するようなことも考えたいなと思っていますが、いかがなもんでしょう？？

[2016-08-09 01:44] ghost opened #112 "B2G/rockdev/ is not for CMN2015-1"
after running flash.sh, only kernel.img, system.img, recovery.img, and boot.img under B2G/rockdev/Image/ can be used for CMN2015-1. rest of files under B2G/rockdev/ cannot be used. (incorrect misc.img was used in 20160429 release)

currently, https://github.com/chirimen-oh/CHIRIMEN-tools/tree/master/rockdev-rk3066 need to be used for packing images. CMN2015-1 specific rockdev repository should be

[2016-08-09 01:54] ghost commented on #37
chirimen.open.hardware@gmail.com を名刺に記載しているとの事
(どなたがメールを読み書きできるのかは把握していません)

[2016-08-09 01:58] gurezo commented on #37
現時点では、 @gurezo と @dadaa さん

[2016-08-09 02:04] ghost commented on #37
名刺って他の方も作られたのですよね？

[2016-08-09 02:14] ghost opened #113 "ボードに正しいB2G OSが書き込まれていない"
MFT2016で販売されたボードには正しいB2G OSイメージが書き込まれていません。
(何も書き込まれていない・Androidが書き込まれている・バージョン不明のB2G OSイメージが書き込まれている等、どのような状態かわかりません)

MFT2016 CHIRIMENブースにて20160429版のイメージを書き込む対応を行いましたが、20160429版には少なくとも以下の不具合がある為、現在20160808版を準備中です。
- ブートローダが不安定で書き込みに失敗する場合がある (#57)
- misc.img が間違っている (#112)
- (リリース当時の)最新のソースが反映されておらず、少なくとも Hardware Manufacturer が間違っている

---

[CMN2015-1_B2GOS-20160808](https://github.com/chirimen-

[2016-08-09 02:54] ghost opened #114 "replace boot logo, animation and gaia resources with CHIRIMEN logo"
* [x] boot logo (Tux) -> CHIRIMEN logo https://github.com/chirimen-oh/linux-rockchip/commit/c62811de1c1cfd30418cdf2fd16f8749c28aa873
* [x] boot animation (FxOS) -> CHIRIMEN logo animation
* [x] gaia (Foxfood) -> CHIRIMEN logo + board

[2016-08-09 03:18] ghost commented on #113
~~20160808版のテストに参加していただける方はslackの#portingをご覧ください~~

[2016-08-09 04:46] gurezo commented on #37
はい、一律同じアドレスになっています。

[2016-08-10 11:01] sizuhiko commented on #59
とりあえずコンパイルはできた

[code]

[2016-08-10 11:07] sizuhiko commented on #59
READMEのusageどおりコマンドを実行してみたが、エラーっぽい

[code]

[2016-08-10 11:11] sizuhiko commented on #59
リブートは動いた

[code]

[2016-08-10 11:36] sizuhiko commented on #59
焼き前のボードで確認

[code]

[2016-08-10 11:38] sizuhiko commented on #59
`rkflashtool n` は実行してみているが、`interface claimed` が出たあと反応がない...

[code]

[2016-08-10 11:39] #107 closed, assigned to nobody

[2016-08-10 12:01] gurezo opened #116 "Hello Real Worldを作る"
### Hello Real Worldを作る
- ソフトウェア サイド サンプル
- ハードウェア サイド サンプル

[2016-08-10 12:39] dynamis opened #117 "MDN の既存ページを chirimen.org への誘導に書き換える"
#9 の一部を別 Issue に分けて作業します。

[2016-08-10 12:39] dynamis commented on #9
MDN ページの移動は #117 で別途やるとして TODO チェック埋めました。

[2016-08-10 12:42] dynamis commented on #117
英語ページリスト:
- [x] https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN
- [x] https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN/CHIRIMEN_FAQ
- [x] https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN/OS_Image
- [x] https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN/Quick_start_guide
- [x] https://deve

[2016-08-10 12:48] dynamis commented on #117
日本語ページリスト
- [x] https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN
- [x] https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN/CHIRIMEN_FAQ
- [x] https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN/OS_Image
- [x] https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/Board_guide/CHIRIMEN/Quick_start_guide
- [x] https://developer.mozill

[2016-08-10 13:07] sizuhiko commented on #59
- 最新版 `v1.0.21: libusb 1.0.21-rc2` をダウンロード
- libusb をコンパイル
- rkflashtool をコンパイル

結果は変わらなかった。とりあえずここまで

[2016-08-10 13:12] dynamis opened #118 "[9/3] 中央大学 オープンプロジェクト演習 (チューター募集)"
Mozilla では今年、中央大学で「オープンプロジェクト演習」という 5 日間集中講義を実施します。そこでは CHIRIMEN を使って、学部一年生 (なのであまりコードがまだ書けない想定) を対象に Web 開発の入門＋ハード操作の入門を教えます。

日程としては 9/2 にイントロ (HTML, CSS, JS 基礎 1 時間含む) をして、9/3 の午後に Mozilla Japan オフィスで CHIRIMEN で Web ページとハードの入出力を扱うチュートリアルを行います (それ以降も 9/10, 16,17 と続きますが一番メインは最初にさわるときの 9/3 であり、チューターの募集はひとまず 9/3 だけを想定しています)。

講師としては村岡さんにメインのゲスト講師としてお願いしており、dynamis, chiko も (一部の時間抜けますが) いる状況です。もし CH

[2016-08-10 13:17] sizuhiko commented on #59
検証環境は以下のとおりです。
- MacBook Air (13-inch, Early 2015)
- Mac OSX Yosemite (10.10.5)
- Xcode 7.1.1
  - gcc : Apple LLVM version 7.0.0 (clang-700.1.76)

[2016-08-10 13:21] MSakamaki commented on #118
@dynamis  御手伝いします！

[2016-08-10 13:22] gurezo commented on #118
@dynamis お手伝いします

[2016-08-10 14:46] gurezo opened #119 "chirimen.open.hardware@gmail.com To Slack"
chirimen.open.hardware@gmail.comで受信したメールをslackへ転送する手段を施す。

[2016-08-10 16:01] WhiteHawk-taka commented on #59
rkflashtool p の結果です

[code]

[2016-08-10 16:07] WhiteHawk-taka commented on #59
検証環境です
最新のbrewのrkflashtoolでした
Homebrew 0.9.9 (git revision 850db; last commit 2016-08-08)
Homebrew/homebrew-core (git revision c675; last commit 2016-08-08)
- MacBook Air (11-inch, Mid 2013)
- Mac OSX El Capitan 10.11.6
- Xcode 7.3.1
  - gcc : Apple LLVM version 7.3.0 (clang-703.0.31)

一応brewのlistは以下の通りです

[code]

[2016-08-10 17:51] gurezo opened #120 "Google Group メーリングリストの削除"
https://groups.google.com/forum/?hl=ja#!forum/chirimen-oh を削除する

メーリングリスト（旧mozOpenHard/現chirimen-oh）の作成は、W3Cを入れた議論をするため。
(今はW3Cもgithub  issuesを使用しているので気にすることはない)
→　廃止を宣言して、クローズする。

[2016-08-10 17:52] gurezo commented on #9
08/10のミーティングで、Google Groupのメーリングリストを削除する事が決定。
#120

[2016-08-10 23:38] ghost commented on #59
@WhiteHawk-taka libusbもrkflashtoolも自分でビルドしたものではない、という認識でよいでしょうか?

[2016-08-11 04:56] WhiteHawk-taka commented on #59
@naobsd その認識で合っています。
libusbもrkflashtoolもbrewからのものです。

[2016-08-12 09:42] MSakamaki opened #121 "すべてのissuesを閲覧できるリンクをany-issuesのreadme.md置く"

[2016-08-12 13:01] gurezo opened #122 "connpass グループ作成"
http://chirimen-oh.connpass.com/

[2016-08-12 13:02] gurezo commented on #122
作成 done.

[2016-08-12 13:02] #122 closed, assigned to gurezo

[2016-08-12 13:08] gurezo opened #123 "connpass イベント作成"
CHIRIMEN Board 発売記念イベント ページ作成（下書き中）

[2016-08-12 14:12] WhiteHawk-taka opened #124 "chirimen-oh/Support-And-FAQのSlackとの連携"

[2016-08-12 14:59] gurezo commented on #106
chirimen-oh.github.io にて、iseue をたてるので、close
[Chirimen Open Hardware Community slack 招待フォーム #41](https://github.com/chirimen-oh/chirimen-oh.github.io/issues/41)

[2016-08-12 14:59] #106 closed, assigned to nobody

[2016-08-13 06:17] sizuhiko commented on #59
私の持っているもう一台のMac(El Capitan)で確認できたので、追加情報を掲載します。

### 環境
- MacBook Pro (Retina, 13-inch, Late 2012)
- Mac OSX El Capitan 10.11.6
- Xcode 7.3.1
  - gcc: Apple LLVM version 7.3.0 (clang-703.0.31)
- libusb: `brew`からインストール
- rkflashtool: `linux-rockchip/rkflashtool`をコンパイル

### 焼いてあるCHIRIMEN

[code]

### まだ焼いていないCHIRIMEN（MFT購入品）

[code]

[2016-08-13 06:18] sizuhiko commented on #59
Yosemiteではダメですが、El Capitan では大丈夫そうですね。

[2016-08-13 10:32] ghost commented on #59
ひとまず El Capitan で libusb を brew からインストールした環境であれば問題ないという事は間違いないようですね。ありがとうございます。

rkflashtool を各自ビルドしてもらうのも面倒かと思うので、最新版のバイナリを https://github.com/chirimen-oh/CHIRIMEN-tools にでも置いて、 brew から libusb をインストールする手順を書いておければいいのかなと思います。 (書く必要ないくらい当たり前の事だったりしますでしょうか?)

---

libusb が悪い可能性も考えてみたのですが、 @sizuhiko さんの Yosemite 環境では、 libusb を brew からインストールしても自前でビルドしても、ダメだったわけですよね。

brew に rkflashtool が登録された (ですよね ?)

[2016-08-13 10:46] ghost commented on #59
ところで rkflashtool の使い方というか機能なのですが、書き込めるイメージに制限がある為、何も書かれていない・違うブートローダが書かれているボードは一度 AndroidTool/upgrade_tool (Windows/Linux) で正しいイメージを書き込む必要があります。

一度正しいイメージを書き込んだ状態であれば、ローダーモード (recover ボタン or `adb reboot bootloader`) で起動して `rkflashtool w (partition) < (image)` でイメージを書き込む事ができます。

この時書き込むイメージは、 https://github.com/chirimen-oh/release/releases で配布している pack したイメージではなく、パーティション別のイメージ (boot.img, kernel.im

[2016-08-13 11:46] sizuhiko commented on #59
これは一回私のEl CapitanでコンパイルしたものをYosemiteで動かしてみます。

これも後でunpackしてみます。成功して`パーティション別のイメージ`が全て展開されれば成功と思って良いでしょうか？

[2016-08-13 11:57] ghost commented on #59
わたしの rkunpack だと

[code]

こんな感じで Image/ の下に *.img ができます。

[2016-08-13 12:21] ghost commented on #113
[CMN2015-1_B2GOS-20160429.zip](https://github.com/chirimen-oh/release/releases/tag/CMN2015-1) は消してしまってよいですかねぇ...

[2016-08-13 12:23] gurezo opened #125 "Polyfill に関する情報について"
### 情報の共有

Polyfill 情報が、下記リポジトリにあるので、情報の共有
https://github.com/club-wot/WebGPIO
加えて
https://github.com/browserobo/  も貼る
### Polyfill 情報の扱い
- 暫定：https://chirimen.org/docs/ja/quickStart.html に上記リンクを貼る
- 議論：Polyfill 情報の置き場所

[2016-08-13 12:32] gurezo commented on #113
禍根（ブランディング的意味で）を残すので、消す方に +1

[2016-08-13 12:41] gurezo opened #126 "CHRIMEN Board 発売記念イベント 物品リスト作成"
イベントで必要な物品リストの作成

[2016-08-13 12:41] gurezo commented on #126
https://drive.google.com/open?id=1g7p_MyabQ4hA8-tlhNRR5bjSiRT9UsMtoC0xYHTndz0
上記に作成したので、 close

[2016-08-13 12:41] #126 closed, assigned to gurezo

[2016-08-14 08:10] sizuhiko commented on #59
試してみました。バイナリは動きますが、結果はYosemiteでコンパイルしたのと同じで、期待する結果は得られませんでしt。なので、El Capitanが必須環境と言えそうです。

unpackしてみました。

[code]

2度unpackする必要はありましたが、unpackはできたようです。
`parameter`のサイズが違うのは気になりますが...

[2016-08-14 10:54] WhiteHawk-taka commented on #59
## 手順
- 必須環境
  - Mac OSX ElCapitan
  - 既にB2Gが書き込まれたCHIRIMEN
1. https://github.com/naobsd/rkutils/blob/master/rkunpack.c をgccでビルド
2. リリースイメージをダウンロード + unzip ( https://github.com/chirimen-oh/release/releases )
3. 1のバイナリで2のイメージをunpack
4. brewでrkflashtoolをインストール(同時にlibusbはインストールされる)
5. CHIRIMENをrecoverボタンでブート
6. rkflashtool w system < system.img のように順にイメージを書き込んでいく

基本的にはこんな流れでしょうか？

[2016-08-15 00:48] ghost commented on #59
@WhiteHawk-taka さん、ありがとうございます。基本的にはその内容で大丈夫だと思います。

環境について、 El Capitan 以前の ver. も可能であればサポートしたいですが、少なくとも私はどうしようもありませんので、現状としては El Capitan 使ってくださいというしかなさそうですね... ざっくり調べた所そろそろ El Capitan リリースから一年のようですが、 Yosemite もまだまだ現役なのでしょうか?
Windows も 10 以外での動作確認はたぶん (積極的には) しないと思いますので、最新 ver. では動作確認済み、という考え方でよいのかなとは思います。

rkunpack は rkflashtool 同梱のものだと二回必要なようですし、 parameter ファイルにもしかしたらヘッダが付いている気がするので、扱いにくいと思います。 r

[2016-08-15 01:36] ghost commented on #113
8/20までに反対がなければ8/21頃にCMN2015-1_B2GOS-20160429を削除しようと思います。

https://chirimen.org/ で本件について明示的な告知がありませんが、私の方では対応する余裕がありませんので、必要があればどなたかお願いします。

[2016-08-15 02:07] ghost commented on #59
@sizuhiko さん、 rkflashtool 同梱の rkunpack で parameter のサイズが違うというのは、コマンドの出力メッセージ (586) と実際のファイルのサイズ (574) が違う、という事でしょうか?

parameter ファイルは PC 上では単なるテキストファイルとして扱う (事が多い) のですが、フラッシュメモリ上に書くデータとしては、 8 バイトのヘッダ(magic+size)と、 4 バイトのCRCが最後に付きますので、 12 バイト差があります。

rkflashtoolだと、p/Pではテキストで扱い、r/wでparameterパーティションを直接読み書きする場合はヘッダ・CRC付きで扱う、となります。
(ちなみにkernel.imgにも同様のヘッダ・CRCが付いていたりします)

[2016-08-15 02:55] gurezo commented on #113
chirimen-oh.github.io リポジトリに issue を立てたので、近日中に対応します
[ファーム first release の告知 #43](https://github.com/chirimen-oh/chirimen-oh.github.io/issues/43)

[2016-08-15 05:11] WhiteHawk-taka commented on #59
@naobsd おそらく @sizuhiko さんがやっていたのはrkutils の方のビルドしたrkunpackだと思うのですが、どうなんでしょうか？

[2016-08-15 08:50] gurezo commented on #113
https://chirimen.org/ 上に CMN2015-1_B2GOS-20160808 のリリース情報を公開しました。

[2016-08-15 08:59] MSakamaki commented on #121
done.

[2016-08-15 08:59] #121 closed, assigned to MSakamaki

[2016-08-15 09:08] MSakamaki opened #128 "NodeBotsとCHIRIMENのコラボイベント(もくもく会)"
### 概要
- ８月２５日 夜
- 場所はDMM.make AKIBA
- 参加人数は２０名前後を予想
- 募集ページはまだ未定
### タスクリスト
- [x] 当日CHIRIMENの持ち出し方法
  - 郵送
- [x] HDMIディスプレイ
  -  DMM.make AKIBAさんで借りれる台数調整中
- [x] 募集ページ =>  のびすけさんのほうで用意
  - http://nodebots.connpass.com/event/38121/

[2016-08-15 10:15] gurezo commented on #113
https://chirimen.org/ 上に ボードに正しいB2G OSが書き込まれていない情報を公開しました。

[2016-08-15 15:23] sizuhiko commented on #59
帰宅して実際のファイルサイズを見てみたら

[code]

となっていて、parameterは`574`でした。ヘッダとCRCで12バイト差になるのですね。承知しました。

[2016-08-16 06:49] MSakamaki commented on #128
２５日にNodeBotsでCHIRIMENモクモク会を行う予定ですが、参加者が事前に購入すべきセンサーや、質問などを誘導するテンンプレートをイベントの概要に設けようと思っています。
とりあえず以下の内容で書いておこうと思うのですが、問題などあればご指摘ください。

---

動作確認済みのセンサーは以下にあります。
ひとまずCHIRIMENを体験したいかたは、以下のリンクにあるサンプルに記載されているセンサーや機材をお持ちください。
I2CまたはGPIOインタフェースを持ったセンサーで、サンプルにないセンサーを動作させることが出来た方は是非とも動作したサンプルコードのプルリクエストを送って頂けると助かります。
I2CまたはGPIOインタフェースを持ったセンサーで、動作しなかった物が有る場合、同リポジトリのissuesに質問として投げて頂けると助かります。
- [動作確認済みのセンサー(サン

[2016-08-16 15:08] gurezo commented on #119
[Boxの通知メールをSlackへ投稿する](https://blog.animereview.jp/box-mail-to-slack/)
上記リンクを参考に[Zapier](https://zapier.com/)を使い、動作確認完了したので、close

[2016-08-16 15:08] #119 closed, assigned to gurezo

[2016-08-16 16:26] dynamis commented on #117
DONE

[2016-08-16 16:26] #117 closed, assigned to dynamis

[2016-08-18 05:43] gurezo commented on #128
### 参考リンク
- [CHIRIMEN FAQ](https://chirimen.org/docs/ja/FAQ.html)
- [クイックスタートガイド](https://chirimen.org/docs/ja/quickStart.html)
- [ペリフェラル情報](https://chirimen.org/docs/ja/peripherals.html)
- [Fabble - ChirimenEdu](http://fabble.cc/chirimenedu)
- [Example](https://github.com/chirimen-oh/examples)

[2016-08-18 09:08] sizuhiko commented on #123
公開されたので閉じます

[2016-08-18 09:08] #123 closed, assigned to gurezo

[2016-08-20 12:48] gurezo commented on #125
https://github.com/club-wot/WebGPIO ではなく、
https://github.com/chirimen-oh/WoTSignage をリンク先に設定

[2016-08-20 12:53] gurezo opened #129 "chirimen-oh/WoTSignageとの連携"
chirimen-oh/WoTSignage の issue がslackへ通知するように設定。

[2016-08-20 12:55] gurezo commented on #124
08/13には、通知ができているので、 close

[2016-08-20 12:55] #124 closed, assigned to dadaa

[2016-08-20 12:57] gurezo commented on #110
[クイックスタートリンク精査、追加 #42](https://github.com/chirimen-oh/chirimen-oh.github.io/issues/42) で、 @kudodo さんと相談の上、過去の経緯を残す事になったので、 close.

[2016-08-20 12:57] #110 closed, assigned to satakagi

[2016-08-21 02:20] ghost commented on #110
CHIRIMEN-toolsのREADME.mdに残す事になった、という決定がなされたのでしょうか？

[2016-08-21 02:34] gurezo commented on #110
- Q. CHIRIMEN Open Hardware プロジェクト(コミュニティ） とは何ですか
   ＝＞README.md の TBD ... See this slideのリンク先が、
  　　　[MozOpenHard-monthly20151010](https://goo.gl/2W21kB) になっている
   ＝＞「過去にこのような議論があったよ」という意味で、上記ドキュメントのリンクを
  　　　残すという結論に至りました。

[2016-08-21 02:40] naobsd commented on #110
本issueは「TBD ... See this slide」のリンクを残すかどうかの認識です。

MozOpenHard-monthly20151010 のドキュメントを残す事、FAQなどのリンク先とする事については異論はありませんが、そのQはCHIRIMEN-toolsのREADME.mdにはない認識です。

[2016-08-21 02:51] ghost commented on #110
すみません、その議論に参加しておらず経緯を把握していませんし、自分で手も動かせないと思いますので、やはりこのまま(クローズ)とさせてください

[2016-08-23 15:27] gurezo commented on #59
### @gurezo 環境
- MacBook Pro (Retina, 13-inch, Early 2015)
- Mac OSX El Capitan 10.11.6
- Xcode 7.3.1
  - gcc: Apple LLVM version 7.3.0 (clang-703.0.31)
- libusb: `brew`からインストール
- rkflashtool: `brew`からインストール
- 上記作業後に [rkflashtool-master.zip](https://github.com/linux-rockchip/rkflashtool) をダウンロード
- 解凍後、rkflashtool-master内へ [rkunpack](https://github.com/naobsd/rkutils) の rkunpack.c をコピー
- rkflashtoo

[2016-08-24 03:01] satakagi opened #130 "GPIOの入力をキーボード（のキー）にバインドする機能"
これは提案にすぎませんが、代表的なものとして、入力に設定した個々のGPIOポートをキーボード（のキー入力だったり、キーイベントだったり）にバインドする機能は便利だと思いました。

特定のＧＰＩＯのポートの信号レベルがHighになったら、特定のキーが押されたことと等価になるような機能です。

提案の理由は、キーイベントや文字入力は、ウェブブラウザが、基本的に備えている概念のため、これがGPIOと直結できれば、GPIOの入力機能を簡単かつ直感的にウェブコンテンツ・アプリから利用できるためです。その意味で、Physical CSSの考え方と同じともとらえられると思います。

[2016-08-24 03:06] gurezo commented on #109
イベントページ通り、10 枚？台？販売予定です。

[2016-08-24 08:53] dynamis opened #131 "B2G/Gecko version を FAQ に記載"
FAQ 見ていて思いました。現在 B2G 2.5 であれば Gecko 44 ですが、それも明記してあげるとどの API までがサポートされてるか分かって良いと思います。その辺はリリースするビルドとかに書くのでも良いかもですが、OS バージョンはそうそう変えないと思えば FAQ でしょうか。

https://chirimen.org/docs/ja/FAQ.html#tocAnchor-1-1-4

[2016-08-24 08:58] dynamis commented on #118
9/2 に事前学習させる資料 (清水さんが作成中) です:
https://mozilla-japan.github.io/open-project-workshop/

[2016-08-24 09:17] dynamis opened #132 "chirimen-oh organization に contributor team とか作る？"
現在 chirimen-oh のスタッフは全員 organization で owner 権限が付与されています。この issues とかで個別の Issues を Assigneers にしたりするには何らかの形でチームに入っていて Write 権限とか持ってる必要があるかと思います。

今後片っ端から全員 Owner にするというでもまぁ何とかなるし、貢献は全てプルリクで受け付ければ問題ないという考え方もできますが、全体の Owner 権限を全員が持つのではなく staff とか contributors とか web-team みたいな該当リポジトリへの write 権限を付与する Team を作ってそこに入れていくのもありなんじゃないかと思います。

https://github.com/orgs/chirimen-oh/people
https://github.com/orgs

[2016-08-24 09:22] dynamis commented on #118
9/3 は taks.js をつかって main.js とか下記の gist みたいなコードをサンプルとして演習予定と聞きました。村岡さん、何か資料とかできたら、チューターしてくれる皆さんに分かるように共有頂けると幸せです。

https://github.com/chirimen-oh/WoTSignage/blob/master/js/task.js
https://github.com/chirimen-oh/WoTSignage/blob/master/js/main.js
https://gist.github.com/dynamis/0a471119b5526164cf618be6df710a1a#file-gistfile1-js-L15

[2016-08-25 01:31] bathtimefish commented on #118
はい。とりあえずLチカ、焦電センサでLチカ、httpリクエストする何か。のチュートリアルをやろうかと思っています。時間余ったらそれぞれで自由に改造してみる方向で。
手持ちのwifiドングルがchrimenに対応してないことが昨日わかったので注文中です。

[2016-08-25 01:32] bathtimefish commented on #118
焦電センサLチカのサンプルはこちら https://gist.github.com/bathtimefish/274e4103f28bd813aa921c19c0d44f70

[2016-08-25 11:31] gurezo opened #133 "fabble リンク切れ"
fabbleの下記ページ内で、リンク切れがあります。
http://fabble.cc/naokisekiguchi/chirimenledblink

４．CHIRIMEN上でLチカアプリを実行
GitHub: https://github.com/MozOpenHard/examples/tree/master/LEDblink
　↓
GitHub: https://github.com/chirimen-oh/examples/tree/master/LEDblink

fabbleなので、対応の方、宜しくお願い致します。

[2016-08-25 12:11] gurezo commented on #128
イベント開催されたので、close

[2016-08-25 12:11] #128 closed, assigned to MSakamaki

[2016-08-28 05:14] naokisekiguchi commented on #133
リンク直しておきました。

こちらのプロジェクトは昔作ったやつでメンテしていませんでした。
以下のURLにメンテされたプロジェクトがあります。
http://fabble.cc/chirimenedu/chirimenhelloworld

[2016-08-28 05:14] #133 closed, assigned to dadaa, naokisekiguchi

[2016-08-28 13:04] bathtimefish commented on #118
[CHIRIMEN - Getting started.pdf](https://github.com/chirimen-oh/any-issues/files/441130/CHIRIMEN.-.Getting.started.pdf)

とりあえずスライドつくりました。これで行けるような気がします。

[2016-08-30 12:54] gurezo opened #134 "発売イベント買い出しツアーリスト作成"
#109 に備えて [Available devices for Events](https://github.com/chirimen-oh/any-issues/wiki/Available-devices-for-Events) リストにある 機材が

秋月・千石の何処に対象機材があるかを事前調査リスト化する

[2016-08-31 03:50] ghost commented on #109
なんとなく、イベントの告知(connpassへのリンク)がないなぁ、と思いました。

facebook
google calendar
slackの#sale_aniversaryのtopic
twitter

にはあるのですが、知らない・参加していない人でも見えるのはぎりぎりtwitterくらいで、それも流れてしまうような気がします。 (見落としていなければ、このissueにも書いてない、ような)

参加するような人はだいたいどれかは見ているので大丈夫、なんですかね。

[2016-08-31 04:51] MSakamaki commented on #109
connpassへのリンクは確かに無いですね、自分も良く探すのでとりあえずコメントに投稿しておきます。

http://chirimen-oh.connpass.com/event/37934/

[2016-08-31 04:56] MSakamaki commented on #109
facebookはトップへ固定できる投稿があるので、そこにサマリを常に置いてメンテするように運用するのはどうでしょう？

[2016-08-31 13:04] gurezo commented on #109
[CHRIMEN Board 発売記念イベント 情報 追記 #55](https://github.com/chirimen-oh/chirimen-oh.github.io/issues/55) サイト上に告知情報追加しました。
ツイッターの方も、日に１回カウントダウンツイートするようにします。

[2016-09-01 07:33] ghost commented on #131
とりあえず https://github.com/chirimen-oh/release/releases/tag/CMN2015-1_B2GOS-20160808 は B2G 2.5 (Gecko 44) OS image 〜に直してみました。

[2016-09-01 08:52] gurezo opened #135 "コラボレーションオファーリクエストについて"
@kskarthik さんより、コラボしないかとのオファーが来ました。
[B2G OS & Chirimen Collaboration #5](https://github.com/chirimen-oh/Support-And-FAQ/issues/5)

９月のマンスリーミーティングの議題にしたいと思います。

[2016-09-01 09:29] kskarthik commented on #135
sorry... i couldn't understand. english please

[2016-09-01 09:52] WhiteHawk-taka commented on #135
From @kskarthik , we got collaboration offer.
[B2G OS & Chirimen Collaboration #5](https://github.com/chirimen-oh/Support-And-FAQ/issues/5)
We want to the agenda of the September meeting on this topic.

[2016-09-01 10:01] ghost commented on #135
@kskarthik this issue is just for internal communication (a note) for next local meeting. you can ignore this for now...

[2016-09-01 10:02] kskarthik commented on #135
okay!

[2016-09-01 10:03] ghost commented on #135
@gurezo 注文をつけるばかりで手を動かさず大変心苦しいのですが、議題なら https://github.com/chirimen-oh/meeting に書けばよいのではと思いました...

[2016-09-01 10:37] gurezo commented on #135
@naobsd さん、そのとおりですね。
むやみに　issue　を作ってもしょうがないですもんね。
meeting の md ファイルに書く為のメモ的意味にもつかってしまってたので・・・。
もうちょい、工夫しますね！

アドバイスありがとうございます！

[2016-09-02 06:22] dynamis commented on #118
9/3 は午後とだけしか書いてませんでしたが 13:30〜18:00 になります

[2016-09-02 06:30] dynamis commented on #118
CHIRIMEN, USB Hub, Wifi Dongle, USB Mouse などお持ちの方はお手持ちのモノを持ち込んで頂けると幸いです。

[2016-09-02 06:38] bathtimefish commented on #118
中央大学は多摩キャンパスですね？

[2016-09-02 07:07] gurezo commented on #118
あれ？自分は乃木坂のモジラオフィスかと思ってました・・・。

[2016-09-02 07:10] gurezo commented on #118
09/03は、お昼までにMozilla Japan オフィスくれば良いのですか？

[2016-09-02 13:53] gurezo commented on #134
調査 done.
まとめをどこかに書く

[2016-09-02 14:22] bathtimefish commented on #118
そうでしたか。では六本木に行きます。

[2016-09-02 15:31] dynamis commented on #118
あ、場所はオフィスです。オフィスに 13:00 頃までにお願いします。

[2016-09-03 17:37] gurezo commented on #118
初日終了したので、 close

[2016-09-03 17:38] gurezo commented on #118
初日終了したので、close

[2016-09-03 17:38] #118 closed, assigned to nobody

[2016-09-06 01:14] naokisekiguchi opened #136 "専門学校東京テクニカルカレッジの授業協力"
11~12月に予定する専門学校東京テクニカルカレッジでのCHIRIMEN授業について、協力してくれる方、スケジュールを決めていきたい。

[2016-09-06 04:07] MSakamaki opened #137 "sluckのgeneralチャネルでbot/twitterがつぶやきすぎてチャンネルとして機能不全に陥ってない？"
newsチャンネルを作るか、botのつぶやく頻度を落とさないとbotでチャンネルの内容が流れる。

[2016-09-06 11:00] naokisekiguchi commented on #120
さきほど終了を宣言しましたので、明日あたりに削除してcloseします。

[2016-09-06 11:45] #131 closed, assigned to nobody

[2016-09-06 11:56] dynamis commented on #132
ミーティング踏まえて取り敢えず作ってみました:
- https://github.com/orgs/chirimen-oh/teams/chirimen-staff
  - 既存の Owner 権限所有者を含め、全リポジトリに Admin 権限付与済み
- https://github.com/orgs/chirimen-oh/teams/chirimen-contributor
  - 貢献者を登録し、各リポジトリに Read や Write 権限を付与するイメージ
  - note: Issues のラベルとか編集するには Write 権限が必要

[2016-09-06 14:09] gurezo commented on #137
チャンネル案内用ボット：channel-announce-bot　毎週土曜日19:00-21:00 ポスト
twitter to slack は、#general => #events へチャンネル変更
上記対応をしたので、close.

[2016-09-06 14:09] #137 closed, assigned to nobody

[2016-09-06 14:13] gurezo commented on #135
コラボレーションの議論は、https://discourse.mozilla-community.org/c/b2g-os-participation で
行なう事を提案したので、こちらは、close.

Argument of collaboration is by https://discourse.mozilla-community.org/c/b2g-os-participation.
Doing was proposed, so this issue closes.

[2016-09-06 14:13] #135 closed, assigned to nobody

[2016-09-06 14:57] #129 closed, assigned to dadaa

[2016-09-07 03:36] ghost commented on #59
何も書かれていないボードはMac OS X上で認識されない、という事について、具体的にどのようにその問題を確認したのか、教えていただけないでしょうか?

また、その時 rkflashtool (githubのソースからビルドしたもの) を実行すると (例えば "rkflashtool v") 、どのような表示がされるのでしょうか?

[2016-09-07 04:10] naokisekiguchi commented on #120
削除しました

[2016-09-07 04:10] #120 closed, assigned to naokisekiguchi

[2016-09-08 08:12] naokisekiguchi opened #138 "Create CHIRIMEN coding style standard"
webGPIO, webI2C APIを使用した、CHIRIMENアプリケーションのコーディングスタイルについて、お手本となるサンプルを作りたい。

サンプルコードを集めるためのレポジトリを作りました。
I created a repository to gather any cool code using webGPIO and webI2C.
https://github.com/chirimen-oh/cording-style-tests

discussion points
- Promise chain か generatorか?
- 複数のI2Cデバイスを制御するときに綺麗に書けるか？

[2016-09-10 05:09] dynamis opened #139 "周辺デバイスページから example リポジトリへリンク"
プルリク遅れレベルであれですが講義中に気付いたことを取り急ぎメモ:

https://chirimen.org/docs/ja/peripherals.html
https://chirimen.org/docs/en/peripherals.html

を日々メンテするのが望ましいが現実的でも無いので、増え続けるその他の example はこちらってリンクするのが良いかと思います:

https://github.com/chirimen-oh/examples

[2016-09-10 05:15] dynamis commented on #109
何度かお話ししましたが、先日お手伝いいただいた中央大学集中講義 (#118 ありがとうございました！) の最終日 (成果発表含む) がちょうどこのイベント日に重なっております。
両者都合が良ければということで少しお話ししていましたが、人数的に許容できるようであれば中央大学の学生 (8名 + 講師 3名) も当日同じスペースの一部をお借りして、発売記念イベントのハンズオン最後あたりに少し学生さんの発表タイムを頂けないでしょうか。(参加人数など見ながら一緒にやるかは来週金曜時点で最終確定だが基本的にはなるべくご一緒したい方向です)。

ご検討ください。

[2016-09-10 12:41] gurezo commented on #109
@dynamis さん、個人的な見解ですが現時点（2016/09/10 21:39）の
参加人数であれば、ご一緒して良いと思っております。

[2016-09-11 10:24] gurezo commented on #109
@dynamis さん、09/17は、ご一緒する場合、どのタイミングで合流でしょうか？
1. 10:00- ：ハンズオンイベント開始時間
2. 13:30-：中央大学の演習開始時間

[2016-09-12 03:07] dynamis commented on #109
タイミングについては CHIRIMEN 側のイベントに時間を揃えて 13:00 開始で考えています。

[2016-09-12 05:58] gurezo commented on #109
@dynamis さん
成果発表後に行う懇親会は、中央大学生に関して、どのようにお考えですか？
1. 会費徴収の上、参加
2. 会費徴収無料で参加
3. 懇親会不参加
4. 上記以外のパターン

[2016-09-13 02:28] naokisekiguchi commented on #136
授業のある日程は以下の通りです。
CHIRIMENでのアプリ開発経験のある方、javascriptに詳しい方にチューターとしてのご協力をお願いしたいと思います。
内容は、ブラウザ上でペアプログラミングができるような環境を用意し、チューターはリモートから参加して、学生さんの作るアプリに対して、プログラムを直接編集しながら指導を行うといったことを考えております。実際に使うシステムは現在開発中となっておりますが、授業の前に一度使い方をご説明させて頂く予定です。

協力できる方はチェックをつけてコメント頂けるでしょうか。
- [ ] 11/4 13:30〜16:40
- [ ] 11/11 13:30〜16:40
- [ ] 11/18 13:30〜16:40
- [ ] 11/25 13:30〜16:40
- [ ] 12/2 13:30〜16:40
- [ ] 12/9 13:30〜16:40

[2016-09-13 07:53] naokisekiguchi commented on #132
ひとまず、contributorに
examples
chirimen-oh.github.io
MakerFaireTokyo2016
のwrite権限を与えました。
HAKUTOさんにMFTのコードをアップしていただきたく、contributorに招待した感じです。
contributorにはどこまで付与するのがちょうどいいですかね？
他考えられるのは
- [ ] Shields
- [ ] cording-style-tests
- [ ] gecko-dev

その他どうでしょう？

[2016-09-13 09:04] gurezo commented on #132
今試作ケースを作っていますが、ケース用のリポジトリCases（仮名）を作るかどうか
思案中です。
作った場合は、上記に加えて頂けたらと思います。

[2016-09-13 15:45] gurezo commented on #132
@naokisekiguchi さんへ
下記の通り、ケース用のリポジトリCasesを作ったので、追記お願いします。
https://github.com/chirimen-oh/Cases

@dadaa さんへ
slackの連携設定お願い致します。

[2016-09-14 12:31] satakagi opened #140 "セルフ開発環境の構築"
少しロングレンジの課題ですが、組み込みコンピュータとしてほとんど例がないものの、FirefoxのWebIDE相当の開発ツール、もしくはクラウドベースの開発環境をCHIRIMEN自体で動作させ、ホストコンピュータ不要のＷｏＴアプリ開発ができる環境を構築したいです。

後者（クラウドベース）はウェブブラウザベースの環境であることの強みを相当生かせる気もしますね。

[2016-09-14 13:34] kotakagi commented on #140
そういう意味で、webだけでコミットできるとか、追及していければなと

[2016-09-15 07:32] dynamis commented on #109
学生さん達は 13:00 同時に開始、17:00 から成果発表をさせてもらい、懇親会については学生さんの参加自由とし、参加した人の参加費は授業側の予算で出します。
赤塚さんの方でもその方向で調整してくれていると聞きましたので、土曜はそんな感じでご一緒させてくださいませ。

[2016-09-15 07:55] gurezo commented on #109
承知しました。
現時点のconnpassの参加人数も受け入れ大丈夫だと思います。

[2016-09-15 08:04] gurezo commented on #140
お話を聞いて、パッとイメージしたのが、monacaでした。
https://ja.monaca.io/

それとscrachのこれですね
http://deviceplus.jp/hobby/raspberrypi_entry_010/

皆さんは、どっちよりのイメージなんでしょうか？？？

[2016-09-15 09:53] naokisekiguchi commented on #140
monacaのイメージに近いですね。

実は専門学校さんがmonacaのアシアルさんと仲が良く、一度お話ししてます。
対象がハイブリッドなスマホアプリで、純粋なwebアプリへの対応をしていないということでした。

[2016-09-15 11:34] gurezo commented on #140
そうすると、こっちが近いんですかね？
https://googlecreativelab.github.io/coder/

[2016-09-15 12:07] gurezo opened #141 "CHRIMEN Board 発売記念イベント スタッフ募集"
#109 の お手伝いに来て頂ける方を確認の意味も込めて募集します。

現時点で、認識している方は、 下記の通り。

開始時間から
@MSakamaki さん、 @sizuhiko さん

午後から中央大学生さんと一緒に
@dynamis さん、 @dadaa  さん、 @chikoski さんがいらっしゃると認識してます。

開始時間からお手伝い出来る方、こちらへレスをお願い致します。

[2016-09-15 14:43] WhiteHawk-taka commented on #141
開始から行きます

[2016-09-16 01:44] kohichi000000 commented on #141
途中から途中までとかありですか？

[2016-09-16 01:59] gurezo commented on #141
ありです！時間帯を教えてくださいませ！

[2016-09-16 02:04] kohichi000000 commented on #141
12-14時すぎあたりかなぁと。短くてすいません。
私としては、できるだけお手伝いしますが、買ったばかりの人がどういうチュートリアルほしいのか、そのうえで現時点で何が足りていないのかも知りたいです（コミュニティとしてのチュートリアル増強の参考に）。
是非、今回チュータ―やられる方からこのイベントを通じて情報を集めたい点であります～。

[2016-09-16 02:08] gurezo commented on #141
買い物ツアー直前に参加者から軽くヒアリングできると良いかもですね！

[2016-09-16 02:10] kohichi000000 commented on #141
はい、参加者へのヒアリングもしたいですし、是非チュータ―の方には意識してほしい点です。
できれば終了後にそれをまとめたissueを立てられるといいかなと。

[2016-09-16 02:32] dynamis commented on #141
午後には中大向けの講師として瀧田も参ります。念のため。

[2016-09-16 02:40] gurezo commented on #141
承知しました！

[2016-09-16 02:51] MSakamaki commented on #141
topに書いてありますが念のため。
酒巻も開始時間より参加します。

[2016-09-16 03:17] dadaa commented on #141
ぼくも朝からいく予定です

[2016-09-16 13:09] gurezo commented on #134
作成した部品リストをslack の #sale_aniversary チャンネルにポストしたので、close

[2016-09-16 13:09] #134 closed, assigned to gurezo

[2016-09-16 13:20] gurezo commented on #109
部材買い出しツアーリストdone. 09/16

[2016-09-17 02:32] ghost commented on #113
CMN2015-1_B2GOS-20160429イメージとCMN2015-1タグを削除しました

[2016-09-17 14:25] gurezo commented on #141
皆様、お疲れ様でした。
皆様のさぽーとに感謝です。
無事にイベントを終了したので、close

[2016-09-17 14:25] #141 closed, assigned to nobody

[2016-09-17 14:25] gurezo commented on #109
皆様、お疲れ様でした。
皆様のさぽーとに感謝です。
無事にイベントを終了したので、close

[2016-09-17 14:25] #109 closed, assigned to sizuhiko, MSakamaki, gurezo

[2016-09-21 11:47] gurezo commented on #139
https://github.com/chirimen-oh/chirimen-oh.github.io/issues/60
上記にissue60を立て、修正開始

[2016-09-21 12:27] gurezo commented on #139
上記対応したので、close

[2016-09-21 12:27] #139 closed, assigned to nobody

[2016-09-21 13:59] gurezo commented on #136
@gurezo です。
直近のみ記入します。

- [x] 11/4 13:30〜16:40
- [x] 11/11 13:30〜16:40
- [x] 11/18 13:30〜16:40
- [x] 11/25 13:30〜16:40

[2016-09-22 13:47] gurezo opened #142 "イベント用資材の管理・運用"
#109 で、確保した資材の管理・運用について
- ブレッドボード
- オスーオス・ジャンパーピン
- スルーホールピン

[2016-09-28 06:30] MSakamaki commented on #136
@naokisekiguchi 調整しました
以下日程でお手伝いできそうです。
- [x] 11/4 13:30〜16:40
- [x] 11/11 13:30〜16:40
- [x] 11/18 13:30〜16:40
- [x] 11/25 13:30〜16:40
- [x] 12/2 13:30〜16:40
- [x] 12/9 13:30〜16:40   (調整中)

[2016-09-30 08:13] gurezo opened #143 "B2G OSミーティング参加"
#135 の話に関連して、今週下記アナウンスがありました。

https://discourse.mozilla-community.org/t/b2g-os-and-gecko-annoucement-from-ari-jaaksi-david-bryant/11103

来週火曜日のB2G OSミーティング（日本時間10/05 AM01:00- ）の前に
CHIRIMEN Open Haradware コミュニティとしての意見や質疑応答内容をまとめたいと思います。
下記リンクに質問・要望・提案などを書き込みをお願いします。
https://public.etherpad-mozilla.org/p/chirimen-20161005

B2G OSミーティングの前にオンライン（スカイプ / apper.in）などで
CHIRIMEN Open Haradware コミュニティ有志と意見

[2016-09-30 08:14] gurezo commented on #143
言い出しっぺなので、両方参加します。

[2016-10-02 11:50] kazunyanya opened #144 "Ubuntu環境でイメージ生成に失敗する"
CHIRIMEN-toolsにて公開されているイメージ生成ツールmkupdate.sh に環境依存があるようで実行時にエラーとなる場合がありました。

ツールの公開場所
https://github.com/chirimen-oh/CHIRIMEN-tools/tree/master/rockdev-rk3066

エラーが発生する動作環境
Ubuntu 14.04 LTS desktop

問題となるコード
mkupdate.sh:
./rkImageMaker -RK30 RK30xxLoader(L)_V2.09.bin Image/update.img update.img -os_type:androidos
シェルが "( )"を含んだ文字列をファイル名として評価できずエラーとなる

対策
ファイル名 RK30xxLoader(L)_V2.09.bin をダブルコーテーションで

[2016-10-02 21:08] kazunyanya opened #145 "２回目以降のビルドが失敗する"
2016/8/8リリースに用いられているソースコードにおいて２回目以降のビルドに失敗する事象が見つかりました。

再現方法：
$ git clone https://github.com/chirimen-oh/B2G && cd B2G
$ git checkout -b chirimen-20160808 44c92369c184431d1691773988107264c4f8d000
$ ./config.sh chirimen
$ ./build.sh
$ ./build.sh
２回目以降の build.sh でビルドが失敗する

考察：
build.sh内でソースコードにpatchを当てており、既にpatchが当たっている場合は失敗し.rejファイルが生成されるが、いくつかのファイルにおいて多重にpatchが当たってしまいビルド不能なコードとなる。

対策案：
build.shで

[2016-10-03 05:44] ghost commented on #145
ご報告ありがとうございます。

patch.sh については、 #65 があるので、そちらでお願いします。
(何か追記が必要であれば、日本語でも構いません)

patches/ のパッチは #88 のように整理して無くすのがよいのだと思います。

[2016-10-03 05:44] #145 closed, assigned to nobody

[2016-10-03 12:25] dadaa commented on #143
21 時、参加しますー

[2016-10-03 23:05] tadfmac opened #146 "[12/3-4] Ogaki Mini Maker Faire 2016"
[Ogaki Mini Maker Faire 2016](http://ommf.iamas.ac.jp/) に、CHIIRMEN Open Hardware で申し込みました。

# AIリスト
- [x] 応募

応募時のフォーム記載内容は下記の通り。
https://docs.google.com/spreadsheets/d/1E_f8h7GxFKdRZ80-54V8QLyBldSeasOlkQfhPjrICKM/edit
※上記の通りMaker枠で応募
- [x] 当落結果共有 (@tadfmac) 10月中旬頃に当落結果連絡ありとのメールが来ました。

→（10/23）当選連絡来ました！！
 出展者ページに掲載されました！

- [x] 展示マニュアル展開  当選の場合、11月上旬に展開されるとのこと
　　slackの ommfチャンネルで共有DriveのURLを共有させて頂

[2016-10-04 02:27] satakagi commented on #143
参加します

[2016-10-04 04:18] MSakamaki commented on #143
リモート(apper.in)から参加します。

[2016-10-04 08:24] kohichi000000 commented on #143
遅れるかもしれませんが参加します（リモート）

[2016-10-04 09:46] okudako commented on #143
遅れるかもしれませんが、参加します。

[2016-10-04 11:11] marsf commented on #143
B2G OS コミュニティでは、今週はミーティングを行わないそうです。 Telegram で、今回のミーティングを提案された Karthik さんから返事をいただきました。
CHIRIMEN コミュニティ側で意見だけでもまとめておくのが、よろしいのではないでしょうか。

[2016-10-04 15:42] gurezo commented on #143
実施したので、close

[2016-10-04 15:42] #143 closed, assigned to nobody

[2016-10-04 15:45] gurezo opened #147 "Researh to replace B2G OS with others for CMN2015-1"
### CHIRIIMENボードのOSをB2G OS以外にした場合
- Android OS系
- デスクトップ(Linux)OS系

上記の通り、OSを選定する

[2016-10-11 10:57] gurezo commented on #147
OS選定の第一弾

Picuntu on RK3066
http://picuntu.g8.net/

picuntu-mtd-visio-update-5.1-desktop.img
https://drive.google.com/file/d/0B7Qr11ucOGchX3U3QmpXN2UzZDA/edit?usp=sharing

[2016-10-11 10:57] gurezo commented on #147
時間がある時にOS選定や各種知見をここに記載していく。

[2016-10-11 11:12] gurezo commented on #147
### 評価項目

| OS | NW | GPIO | I2C | SPI | UART | Audio(IN) | Audio(OUT) | タッチパネル | ビデオ | カメラ | 備考 |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Picuntu | 有線・無線とも<br />NG | 未 | 未 | 未 | 未 | 未 | 未 | 未 | 未 | 未 | イメージを焼いただけ |

[2016-10-11 11:13] gurezo commented on #147
必要な項目は適宜追加

[2016-10-11 11:32] gurezo opened #148 "ライセンスに関する検証"
Ogaki Mini Maker Faire 2016やOpen Source Hardware Association Certificationに関連して
CHIRIMENのライセンス改変の検証をする
- [ ] ~~主語（MJ）を変えて良いか？~~
- [ ] ~~主語（MJ）を変えて矛盾が生じないか？~~

[2016-10-11 11:45] gurezo commented on #138
### MDNのコーディング規約
- [ ] javascriptは、MDN準拠にする。
- [ ] C,C++規約に関しては、再度チェック
      ※前アスタリスクは、該当しないソースがある。

[2016-10-11 11:50] gurezo commented on #140
#147 と関連する。

[2016-10-11 11:55] gurezo commented on #147
#140 に関連する

[2016-10-11 12:00] gurezo commented on #132
作成したので、close.

[2016-10-11 12:00] #132 closed, assigned to nobody

[2016-10-11 12:28] gurezo opened #149 "firmware flashing guide for Mac OS X/macOS"
#113 と #59 が解決したら、作成する

[2016-10-11 14:44] gurezo commented on #113
macでのファームイメージ書き込み手順は、 #149 に引き継いで、こちらは close

[2016-10-11 14:44] #113 closed, assigned to nobody

[2016-10-11 14:45] gurezo commented on #142
当分の間、mozilla japan さんに資材を置かせてもらい、そこから発送する。
上記の通りになったので、close

[2016-10-11 14:45] #142 closed, assigned to nobody

[2016-10-11 14:53] gurezo commented on #136
開発中の受講システム環境が整ったら、 @naokisekiguchi さんより、
協力者にトライアルのお願いの連絡がくる

[2016-10-11 15:01] gurezo commented on #148
Open Source Hardware ライセンス
http://certificate.oshwa.org/

https://medium.com/@kotobuki/open-source-hardware-association-certification-9ba1adcc8995#.h7gxmip9g

[2016-10-13 04:54] tadfmac commented on #147
評価項目にちょこっと追加しました。
※ CHIRIMENのGPIOピンにアサインされている機能を想定＋αして追加しましたが、例えばUARTやAudioなどはGPIOピンではないIF（HDMIやUSBなど）を用いた実現でもいい気がします。
OSの評価結果を書き込む際には、上記も考慮して（補足しながら）記載いただけたら助かります。

[2016-10-24 04:57] ghost opened #150 "Proposal"
Good.

We are a foundation on which we have been developing software and free technologies.

We are developing an operating system based on Firefox OS and would like to talk to reach an alliance.

Thank for you attention.

[2016-10-24 10:09] kohichi000000 commented on #104
現在のホームページがCHIRIMENを買った人がどうすればよいかわかる形になっていないように見えるので、[クイックスタートガイド](https://chirimen.org/docs/ja/quickStart.html)の構成を
・スペック編
・購入したら編（この中に、起動編、開発環境準備編、OSイメージアップデート編を入れる）
・応用編（サンプル編）
の３つにわけて、購入したら編をもうちょっと分厚くしたほうがいいと思っています。特にトラブルシューティング。

[2016-10-24 10:26] tadfmac commented on #136
遅い時だけで申し訳ありませんが、
- [x] 12/9 13:30〜16:40

[2016-10-28 04:09] MSakamaki opened #151 "定期チャンネル案内のGoogle Action Scriptをgithubで管理する"
slack chanel #sale_discussion への誘導についてをページに記載する

[2016-11-02 09:43] gurezo commented on #136
@gurezo です。
予定が変わってしまった為、再度書き込みします。
- [x] 11/4 13:30〜16:40
- [ ] ~~11/11 13:30〜16:40~~
- [x] 11/18 13:30〜16:40
- [x] 11/25 13:30〜16:40

[2016-11-02 15:12] tadfmac opened #152 "I2CSlaveDevice.write16() がwrite8と同じ動作になる"
2箇所の実装によるもののようです。

- [x] 1. [Polyfill](https://github.com/club-wot/WebGPIO)の[write16()](https://github.com/club-wot/WebGPIO/blob/draft-20160125/src/WebI2C/interfaces/I2CSlaveDevice/I2CSlaveDevice.js#L126)の中でwrite8()と同じ関数を呼び出している

　[関連 issue](https://github.com/club-wot/WebGPIO/issues/6)

- [x] 2. Geckoに実装されている`I2cService.WriteWord()`[(I2cService.h)](https://github.com/chirimen-oh/gecko-dev/blob/b2

[2016-11-02 15:21] tadfmac commented on #152
先に 2. からPull Requestを発行させていただく予定でおります。
https://github.com/chirimen-oh/gecko-dev/pull/3
こちらに登録させていただきました。

[2016-11-03 13:37] tadfmac commented on #152
そして、Polyfill側の修正についてもPRを発行させていただきました。
https://github.com/club-wot/WebGPIO/pull/21

※ビルド方法がわからず、@gurezo さんに多大なるご協力を頂きました。 この場を借りて御礼申し上げます。

[2016-11-04 02:46] MSakamaki commented on #152
こちら確認してマージしておきました、最新に適用済みです。

[2016-11-04 03:08] tadfmac commented on #152
@MSakamaki さん、Polyfill側修正反映いただき、ありがとうございます！
本issueは、polyfill側とgecko側の2箇所直す必要がありますので、下記PR反映まで本issueはOpenのままとさせてください。
https://github.com/chirimen-oh/gecko-dev/pull/3
よろしくお願いします。

[2016-11-04 03:12] MSakamaki commented on #152
@tacoyaky  すいません間違えてこちらもcloseしちゃってました、了解です。

[2016-11-04 11:08] tadfmac commented on #45
クレジットの件は特に明記がなければ主張しないということで問題ない気もしますので、一旦Closeします。

[2016-11-04 11:08] #45 closed, assigned to nobody

[2016-11-04 15:25] #152 closed, assigned to dadaa, MSakamaki, tadfmac

[2016-11-05 13:49] tadfmac commented on #148
個人的な意見です

とありますが、OMMF2016は現行ライセンスに抵触するような活動は行いませんので、本議論の論拠から外して頂いて良い認識です

[2016-11-07 04:44] kohichi000000 commented on #148
多分、OMMF2016における本コミュニティ出展のレギュレーション云々ではなく、
小林先生に会える可能性が高いから（雑談できる）という位置づけではないですかね？

[2016-11-07 12:56] tadfmac commented on #148
@kohichi000000 さん
ご指摘のような意図があるにせよ（その議論の時に私も居たので承知のうえ）、本issueの論拠のようにも見える記載は誤解を招くと思いあえて記載させて頂きました。

[2016-11-08 05:24] naokisekiguchi opened #153 "電子情報通信学会の東京支部教育イベントの公募"
東京支部教育イベントの公募
http://www.ieice.org/tokyo/koubokyouikuibento.html
にCHIRIMENイベントを提案する
締め切りは11/11

イベントの準備TODO

- [x] 会場確保
- [x] 部材購入
- [x] 開発用PCレンタル
- [x] 開発用PCセットアップ
- [x] 教育コンテンツ作成
- [x] チューター確保
調整さん　https://chouseisan.com/s?h=a096fb8d0b89448b8d7f454a435bc32e にて
- [x] CHIRIMENレンタル
webdino japanさんより @naokisekiguchi がレンタル予定

[2016-11-09 07:14] kohichi000000 commented on #146
@tadfmac: パネルを印刷したものが私の手元にありましたので、適当なタイミングで渡します。

[2016-11-10 04:38] naokisekiguchi opened #154 "video playback is interrupted few seconds"
CHIRIMEN上で動画を再生していると、2,3秒動画の生成が止まってしまうことがあります。（720pのmp4コンテンツ）キャッシュした上で再生している状態です。

その際、以下のようなログが出ています。
E/ROCKCHIP_BASE_COMP(   88): Command: OMX_CommandFlush //動画が止まる
I/kernel_log(  108): <4>[ 8603.503178] vpu: power off...done
I/kernel_log(  108): <4>[ 8605.060632] vpu: power on //動画が再開する

[2016-11-11 08:14] tadfmac commented on #146
ホテルについて、下記連絡を頂きましたので、念のため展開します。

# ホテルご案内2通目

Ogaki Mini Maker Faire 2016
ご出展のみなさま

こちらはOgaki Mini Maker Faire 2016実行委員会事務局です。

本日、Ogaki Mini Maker Faire 2016会場に隣接する
宿泊所のご案内をお送りしましたが、
１２月３日（土）のご宿泊については満室になりましたので
お知らせします。
同日のご宿泊をお考えの方は、近隣ホテルを
ご利用くださいますようお願いいたします。

なお、１２月２日（金）宿泊分については、
ひきつづきご予約可能です。
ご希望の方は次の電話までご連絡ください。

ワークショップ２４
　電話：0584-83-7001　受付時間8:00～18:00
　※「Ogaki Mini Maker Faire 2016の宿泊申込」と

[2016-11-14 09:01] naokisekiguchi commented on #147
少し試してみたことを。
http://wiki.radxa.com/Rock/prebuilt_images
こちらの[kitkat_r2_140909_nand.zip](http://dl.radxa.com/rock/images/android/radxa_rock_android_kitkat_r2_140909_nand.zip)をダウンロードして、Ubuntu 16.04.1 LTSからUpgrade_Toolを使用して書き込もうとしてみたら、
Check Chip Fail
とエラーが出ました。
CHIRIMEN初期開発時のAndroidイメージが手元にあったのでそちらを書き込んでみたら、書き込めて、androidの起動はできました。
USBハブ経由でWiFiドングルとカメラをつないで、WiFi接続の確認とカメラアプリの起動をしてみましたがどちらも使えませんでした。（昔動作

[2016-11-15 02:30] naokisekiguchi commented on #153
提案しました。
12月中に採択かどうかの通知が来る予定です。

[2016-11-15 02:33] naokisekiguchi opened #155 "Prepare a youtube channel for sharing CHIRIMEN demo"
これまでに行ったCHIRIMENのデモなどの映像を蓄積するページが欲しいです。

例えばyoutubeチャンネルを作るなど。

[2016-11-16 10:57] dadaa commented on #144
ダブルコーテーションで囲んだものを Pull Request 送りました。
https://github.com/chirimen-oh/CHIRIMEN-tools/pull/3
ありがとうございました！

[2016-11-19 14:00] #144 closed, assigned to nobody

[2016-11-19 14:10] gurezo commented on #148
11/08 のMTGで、問題ない見解でまとまったので、close

[2016-11-19 14:10] #148 closed, assigned to dadaa, kohichi000000, tadfmac, kudodo, satakagi, gurezo

[2016-11-19 14:17] gurezo commented on #155
参考情報
CHIRIMEN Open Hardware 試作ケース作成風景１
https://youtu.be/fkBaA8vkx9o

CHIRIMEN Open Hardware 試作ケース作成風景２
https://youtu.be/58fjvvnk_jc

CHIRIMEN Open Hardware 試作ケース作成風景３
https://youtu.be/5RQlMZqj2KI

CHIRIMEN Open Hardware 試作ケース作成風景４
https://youtu.be/ednT7vi35CE

[2016-11-19 14:18] gurezo commented on #155
chirimen.open.hardware@gmail.comアカウントでyoutubeのチャンネルを作ろうと思います。

[2016-11-19 14:41] gurezo commented on #155
chirimen.open.hardware@gmail.comアカウントでyoutubeのチャンネルを作りました。
https://www.youtube.com/channel/UCd7PtdviaJeHfMMFeszx06A

[2016-11-19 14:42] gurezo commented on #155
作ったので、close

[2016-11-19 14:42] #155 closed, assigned to gurezo

[2016-11-20 01:52] tadfmac opened #156 "Web I2C APIの仕様で定義されているAPIが足りない"
現在の[Web I2C API](https://rawgit.com/browserobo/WebI2C/master/index.html)で定義されているSlave Deviceとのデータ送受信に利用可能なAPI(read8、write8など)は、[SMBus Spec 3.0](http://smbus.org/specs/)で定義されている下記プロトコルに対応したものになっている認識です。(※1)

- I2CSlaveDevice.write8(),write16() → SMBus Spec 6.5.4 Write Byte/Word
- I2CSlaveDevice.read8(),read16() → SMBus Spec 6.5.5 Read Byte/Word

(※1) Specの比較と現状のCHIRIMEN実装から個人的に読み解いたもので、Spec上で対応が示唆さ

[2016-11-20 02:20] tadfmac commented on #156
下記のように進めるべきかと思い、CHIRIMENのissueに登録させていただきました。
1. CHIRIMENとCHIRIMENに接続することを期待するI2C Deviceなどのユースケースを考慮し追加するAPIを検討する
2. CHIRIMENへの実装方法を検討、実装、テストを行う
3. Web I2C APIへのSpecへの提案をおこなう

[2016-11-20 08:39] gurezo commented on #151
### 新しいチャンネルを作った場合に、どういう風に共有するか？

#### 告知場所
- [x] #general
- [x] ピン留する
- [x] 告知期間：１週間

#### 定期チャンネル案内のGoogle Action Scriptをgithubで管理する
- [ ] 自動連携（Google Action Scriptのソース管理をgithubで、連携する）

[2016-11-20 09:06] gurezo opened #157 "Proposal for alliance"
slackでもポストした、Alfonso Hernandezさんという「Astian Foundation」の代表？から
メールを頂いたので、issue を立てます。
次回のマンスリーミティングで、議論したいと思います。

i had posted at slack, about i had caught mail from Mr.Alfonso Hernandez, Astian Foundation.
i posted issue.
i will hope to discuss at next Monthly meeting.

[code]

[2016-11-23 14:07] ghost commented on #157
When would the next meeting be?

[2016-11-23 14:14] gurezo commented on #157
Hi! @Poncho09.
i was adjusting next month meeting day.
I'll close attendance or absence with 11/30 Wednesday PM 23:00.
https://chouseisan.com/s?h=2ae2815c06ff4cb5a5a27b2161981e09

just a moment please.

[2016-11-23 18:22] ghost commented on #150
#157 This the same publication

[2016-11-24 03:05] gurezo commented on #150
thank you @Poncho09 .
this issue is closed.
Continuation was #157

[2016-11-24 03:05] #150 closed, assigned to nobody

[2016-11-24 21:23] tadfmac commented on #146
メール見落としており、展開が遅れ申し訳ありません。
12/3の夜、レセプションが開催されるようですが、申し込みの期限が本日のようです。
以下、メールコピペ

### メール
Ogaki Mini Maker Faire2016実行委員会事務局からのお知らせです。
12月18日にメールでご案内したとおり、
レセプションの参加申込みの締切が明日11月25日(金) 15時までとなっております。
ご参加される方はメールにてお申込みください。

 日時：12月3日（土）18時30分から20時00分まで
 会場：ソフトピアジャパンセンター3Fソピアホール（ホワイエ）
 参加料：一人2,000円（当日会場にてグループ毎にお支払いください）
 申込み方法：エントリーフォーム：https://goo.gl/forms/Q2ZLboEvtrdJfadO2に必要事項を入力いただき、メールでお申込みください。
既

[2016-11-26 01:53] tadfmac commented on #146
11/28のミーティング向けに、issueを書き換えました。

[2016-11-26 10:22] WhiteHawk-taka commented on #146
12/3,4参加します。
3日の早朝に岐阜に着き、4日の晩に @gurezo さんと帰路につく予定です。
当日CHIRIMENキット一式持っていくので何かあれば言ってください。

[2016-11-28 08:49] tadfmac commented on #146
11/28 打ち合わせアジェンダ：
- 当日参加者の連絡先交換
- 出展マニュアルの確認のお願い
- プレゼンの紹介

以上、赤塚さんいるうちに

- 展示品の簡単な共有
- 備品の確認及び回収
- 疑問点等あれば共有
- テーブルレイアウト（時間があれば）

[2016-11-30 09:39] WhiteHawk-taka commented on #146
作品：よくある温度をツイートするあれ(CHIRIMENでは初？)を持ち込みますのでスペースがありましたら乗せてください

[2016-12-01 02:13] tadfmac commented on #146
@WhiteHawk-taka さん
おお、ありがとうございます！
スペースは現場で調整しましょう！いかようにでもなると思いますので、ぜひ展示をお願いします。
作品の名前が決まっていたら、今からネームプレートを作成しますので、教えてください！
よろしくお願いします。

[2016-12-01 12:43] tadfmac commented on #146
Ogaki Mini Maker Faire 2016
出展者のみなさま

こちらはOgaki Mini Maker Faire 2016実行委員会事務局です。
本イベントの開幕も、いよいよ今週末に迫って参りました。
出展準備も佳境を迎えていることと存じますが、
どうぞお体に気を付けてお過ごしください。
会場内は暖房を入れていますが、１階での展示の方
（ブース番号１～30）は、出入り口からの外気が入りやすい
環境でございますので、暖かめの恰好でブースに詰めていただくと
よいかもしれません。

さて、事務局より２点お知らせがございます。

■前夜祭トークセッションのご案内
　12月2日（金）19:00-21:00に、OMMF2016の会場である
　ソフトピアジャパンセンタービル 1F セミナーホールにて
　前夜祭トークセッションを開催いたします。

　ゲストにSF作家の野尻抱介氏をお招きし、

[2016-12-01 13:18] ghost commented on #157
Good morning.

Hi

I speak to know what the result of the meeting was and to know how they saw our proposal.

Thank.

[2016-12-01 13:32] gurezo commented on #157
Hi! @Poncho09.
Next Mnothly meeting date is 2016.12.13 19:30~ at japan timezone.
Please Waitng for Meeting after.

[2016-12-01 13:45] ghost commented on #157
@gurezo ok.
That is November 30 as the above advertising

[2016-12-07 14:12] tadfmac commented on #146
ご協力いただいた皆様、ありがとうございました。
ommf無事（?ではなかった部分もありますが）終了しましたので、一旦Closeいたします。

[2016-12-07 14:12] #146 closed, assigned to tadfmac

[2016-12-07 14:26] tadfmac opened #158 "CHIRIMEN周辺機器動作確認リストの作成"
タイトルの通りです。
下記に動作確認できたデバイスを皆で追記する（コメントを追記するのではなく、本欄を直接編集・表に行を追加する）形で情報収集したいです。
→適当なタイミングで[このページ](https://chirimen.org/docs/ja/peripherals.html)に追記していく。

# USB WIFIドングル

|メーカー名|機種名|動作|確認者|記載日|備考(動作状況等)|
|:---|:----|:--:|:---|---:|:---|
|ReUdo|[RE-UW100](https://www.amazon.co.jp/%E5%B0%8F%E5%9E%8BUSB-Wireless-LAN-Adapter%E3%80%81802-11b-2%E5%80%8B%E3%82%BB%E3%83%83%E3%83%88/dp/B00DMUB3HE)|◯|@tadfmac|

[2016-12-08 00:12] kohichi000000 commented on #158
進め方ですが
「動作確認できた＝動いた」
ではなく、動かないなら「どう動かないか」も書いていってもらったほうがいいと思う。
そういう意味ではつないでみたものをどんどん書いてもらうのがいいと思う。
別の言い方をすると「動いた（動作確認できた）」にもいろいろなレベルがあると思うのでそれも考慮。
（今、備考に書いていただいている通り）

[2016-12-08 08:29] tadfmac commented on #158
動かなかった場合も書くということですね。
了解です。
ちょっと今から用事で(移動中)すぐできないので夜やります
→動作状況欄追加　基本は◯か×で。
→備考欄に状況を補足お願いします。

[2016-12-08 14:31] gurezo commented on #158
製品のリンクも貼っておいた方が、後々楽かもしれません。

[2016-12-08 22:18] tadfmac commented on #158
@gurezo あざーす！（モニター等の記載もおねがいします！）

[2016-12-12 00:26] naokisekiguchi commented on #158
一部の組み合わせで動作せず、というのはどう書いたらいいでしょう？△にしちゃいましたが。
英語化するときに悩みそう。

[2016-12-12 01:05] tadfmac commented on #158
@naokisekiguchi さん
ありがとうございます。
動作制限などの事象が発生したときの書き方は、一旦は書く人の主観で書いていただいていいと思います。今回の事例は△でいいかと。そのうちたくさん事例が集まってきたときに、良い書き方の収斂方法も見えてくると思ってますので

[2016-12-12 01:20] tadfmac commented on #158
USB電源アダプタを忘れていましたので、追加します。
こちらは、どういった環境で動いた、動かなかったという報告をお願いします。

ご協力宜しくお願いします。

@kohichi000000 さん
あのRoverで使った充電器もUSB電源アダプタのところに書いて欲しい

[2016-12-12 01:35] tadfmac opened #159 "CHIRIMENのGPIO/I2Cへのデバイス/パーツ接続動作確認リストの作成"
タイトルの通りです。
下記に動作確認できたデバイス/パーツ/を皆で追記する（コメントを追記するのではなく、本欄を直接編集・表に行を追加する）形で情報収集したいです。
→適当なタイミングで[このページ](https://chirimen.org/docs/ja/peripherals.html)に追記していく。

- 「製品名」欄には、製品名と、入手先のリンクを貼ってください。
- 「動作」欄は、期待動作＝「◯」、動かなかった＝「×」、一部制限あり＝「△」
- 「回路」「サンプルコード」欄には下記形式でURLを貼ってください。GPIOやI2Cにつなぐモノの多くはPartsです。繋げば動くというデバイスとは違うものが多く含まれますので、どのような回路でつないだのか？、その回路をもとに、どのようなコードで動かしたのか？がセットで情報収集できていないと意味がありません。
- 動作確認のベースを合わ

[2016-12-12 11:57] naokisekiguchi opened #160 "CHIRIMENの次期量産販売について"
現在、スイッチサイエンスさんで販売して頂いているCHIRIMEN（[Echigo Rev.1](https://www.switch-science.com/catalog/2833/)）については在庫が限られてしまうため、CHIRIMENの次期量産販売について検討していきたい。

まずは一度関係者でF2Fミーティングを設けて状況を整理して戦略を立てて行きたいです。

[2016-12-13 14:12] gurezo commented on #157
Hi! @Poncho09
I apologize to you.
because today, we didn't meeting.
meeting date was rescheduled at 2016.12.21 19:30~

Please Waitng for Meeting after.

[2016-12-13 14:17] ghost commented on #157
Hi @gurezo I forget to offer excuses, I also thought that the meeting was internal, that was determined at the meeting or deferred again?. @gurezo  On the other hand it is possible to choose another platform for the meeting or for the assistance, not my Japanese understanding is terrible, I do not understand anything

[2016-12-14 00:19] tadfmac commented on #159
定例会で依頼させて頂きましたが、確認用のファームウエアバージョンは下記でお願いします。
・[CMN2015-1_B2GOS-20160808](https://github.com/chirimen-oh/release/releases/tag/CMN2015-1_B2GOS-20160808)
ただし、様々な事情により別のファームウエアでの情報の場合には、その旨わかるよう備考欄に補足をお願いします。

[2016-12-14 00:47] sizuhiko commented on #159
確認の実装方法としては、WebGPIOを使った場合という事にしますか？

[2016-12-14 01:33] tadfmac commented on #159
@sizuhiko さん
ありがとうございます。
はい。ご認識の通りです。

- Web GPIO APIを利用したデバイス/パーツの確認結果
- Web I2C API を利用したデバイス/パーツの確認結果

に記載を修正しました。

[2016-12-15 01:41] sizuhiko commented on #158
手元にあるものはすべて入力しました

[2016-12-15 11:40] gurezo commented on #158
追記しました。

[2016-12-15 23:22] dynamis commented on #159
いろんなセンサーが使えるよ感がないとツライので、動くのは自明なんですけど GPIO デバイスと ADC 経由でのアナログセンサー類を一気に書き足すとかすると良いと思いますが如何でしょう？

具体的には (CHIRIMEN じゃないやつ用のからで恐縮ですが) こういった感じのセンサー類を (これよりももっと) 一気にリストに追加するイメージ:
https://github.com/mozilla-japan/gecko-embedded/wiki/Grove
なお、上記ページに記載のある Grove モジュールは私が私物で持ってるので Mozilla オフィスに来て頂くときなどにテスト頂けます。

[2016-12-16 02:27] tadfmac commented on #159
今回本issueで作成したいのは「動作確認リスト」なので、動作確認できていないパーツをリストに加えるのは、個人的には、賛成できません。

GrooveモジュールのMozillaオフィスでの貸し出しにつきましては、ご提案頂きありがとうございます。
CHIRIMENで使えるモジュールを共有する目的で本issueを立てさせていただきましたので、Mozillaオフィスにお邪魔して、接続できそうなデバイス（I2Cインタフェースのものや、GPIO接続で単純なHIGH/LOWを返すだけのもの）については動作確認させて頂けたらと思います。

[2016-12-16 05:24] dynamis commented on #159
勿論、未確認の状態で確認で追加するのではなく、間違いなく動くだろうものの動作をさっと確認して追加するという意図です。

アナログセンサ via ADC については直接じゃないのでちょっと反則かもしれませんが、「ADC xxxxx 経由で接続を確認したデバイス」などというかたちの表も追加して書いておくと、いろんなセンサーが使える感が出て良いと考えています。PWM サーボとかも同様です。

別 Issue にすべきだったかも知れませんが、ある程度のセンサーのリストが無いと何も繋がらない何も出来ない印象になってしまうのを何とかしたいからです。

[2016-12-16 05:25] tadfmac commented on #159
了解いたしました。貴重なご意見ありがとうございます。

ADCやPWMドライバをブリッジして、経由で動作確認したパーツも本レコードに記載する方向で良いと思います。(先ほど、PWMドライバ経由でのサーボ動作が確認できましたので追記させていただきました)

ただし、ブリッジ経由であること、動作確認した回路等も含めて情報集約しないと、あまり意味のない情報になってしまいます。
杞憂かもしれませんが、アナログ用センサーをGPIOに直結しようというような話が散見されていますので、こうした誤まった用法（センサー本来の機能が得られる「接続」とはいえない）が広まる原因を生まないような注意が必要だと思っています。

[2016-12-16 07:03] tadfmac commented on #159
念のため、本日時点で [chirimen-oh/examples](https://github.com/chirimen-oh/examples)に登録されている全てのデバイスが[最新ファーム(CMN2015-1_B2GOS-20160808)](https://github.com/chirimen-oh/release/releases/tag/CMN2015-1_B2GOS-20160808)で動作確認できましたので更新しておきました。引き続き、追加デバイスについての情報更新をお願いします。

[2016-12-22 07:43] tadfmac commented on #158
皆様、ご協力ありがとうございます！
大体必要な情報が集まりましたので、一旦集約のうえ、webへ反映させていただきます。

[2016-12-22 07:44] tadfmac commented on #158
webに反映後closeします

[2016-12-23 09:08] gurezo opened #161 "CHIRIMEN タッチ ＆ トライ イベント"
### TODO
- [x] [CHIRIMEN タッチ ＆ トライ イベントページ](https://connpass.com/event/47706/)
  - ~~※ 現時点(12/23)で、閲覧できる人が限定されています~~
  - [~~gist 版~~](https://gist.github.com/gurezo/cc00ef1040dc5117cf7866903a03c047)
- [x] 日時：~~2017/01/28(土) or~~ 2017/02/4(土)  10:00-
- [x] 場所：[モジラジャパン](https://maps.google.com/maps/api/staticmap?center=%E3%80%92106-0032+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E5%85%AD%E6%9C%AC

[2016-12-25 14:48] WhiteHawk-taka opened #162 "internationalization"
台湾でCHIRIMENのことを知っている人と会い、GitHubやSlackが日本語で難しいという指摘があったので国際的に広めていくうえで文章ややり取りを一部英語でするなど他国の人が入りやすい環境を整備する必要があると思います。

[2016-12-27 03:17] dynamis commented on #161
note: Mozilla では現在 55 枚の在庫が有り 1 割くらいに故障や不具合がある想定です。参加人数的には 10-20 で大丈夫かと思いますが、40 枚くらいまでなら貸し出し可能かと思います。

[2016-12-27 03:33] #136 closed, assigned to nobody

[2016-12-27 16:24] tadfmac commented on #161
貸し出し用CHIRIMEN本体（+同梱付属品）以外に用意するものとしては、
- モニター
- マウス
- WIFIドングル
- USBハブ
- USB電源アダプター
を貸し出し用CHIRIMENボードと同数集める感じでしょうか？

[2016-12-27 17:15] gurezo commented on #161
[物品リスト](https://docs.google.com/spreadsheets/d/1vey-wZEaHpN2Tg2eQ0mR4JTbk_ghsvpgJsMUIDkSIsE/edit?usp=sharing)を作成しました。
上記機材を提供できる方、記入をお願い致します。

[2016-12-28 03:04] tadfmac commented on #161
記入しました。
あと、こういう形で一時的に集める場合、誰の所有物か？が解るようにシールを貼っていただく等併せてお願いした方が良いと思いました。返却の際の混乱避けるため

[2016-12-28 11:27] kohichi000000 commented on #161
今回のタッチアンドトライは参加してくださった方にCHIRIMEN（の開発方法）を知っていただくことがメインである一方で、すでに知っている方も何名かいると思うので、
* 完全初心者エリア（スクール系）　→　オリエンテーションの続きも教えられる感じに
* 自由行動エリア（チュータ対応系）

の２通りがあるといいなと思っています。で、完全初心者エリア用に教材が必要と思っていて、関口さんが専門学校向けに使ったものをベースにできればと思っています（若干修正が必要になるので、modify中）。

[2017-01-04 13:53] gurezo commented on #157
Hi @Poncho09 A Happy New Year!

CHIRIMEN Open Hardware Community Opinions are this links.
https://public.etherpad-mozilla.org/p/chirimen-To-B2G

i'm sorry. It can't be settled immediately, so a long time use Google translation, please.

and more, other member make #162 (Internationalization of GitHub and Slack).
thank you.

[2017-01-06 08:45] dynamis commented on #161
2/4 当日東京にいなくて参加できないのですが、事前に送付か預けるかして貸し出し可能な私物の数を追記しました。Mozilla オフィス分のディスプレイとかは @dadaa さん担当として書かれている分だと想定していますが、現状ある数は未確認、要再確認です。@dadaa さんも当日来れないと聞いてるので、私の私物とあわせて確認すれば良い感じでしょうか？

なお、WiFIドングルとか小さいモノにまでシール貼るのはちょっと面倒な気がするので自分で貸しだしたものを纏めて写真撮っておいて、その写真見ながら最後に仕分けして返却とかでも有りかも？

[2017-01-06 09:09] gurezo commented on #161
@dynamis さん、ありがとうございます。
了解しました！

[2017-01-06 10:08] dynamis commented on #161
あ、弊社オフィスで実施するんだから送付とかは必要ないですね。取り敢えず纏めてカウントしてどこかにまとめて置いておきますね。

[2017-01-16 02:06] tadfmac opened #163 ""Loading firmware failed!" on AndroidTool.exe with firmware built by Linux tool"
CHIRIMENのB2Gイメージを下記手順で作成しています。

1. [B2G OS ビルドの必要条件(Ubuntu 14.04 LTS / Debian 7)](https://developer.mozilla.org/ja/docs/Mozilla/B2G_OS/B2G_build_prerequisites#Ubuntu_14.04_LTS_Debian_7)に記載の手順でビルド

2. `./flash.sh`で分割されたimageを生成
3. [CHIRIMEN-tools の mkupdate.sh](https://github.com/chirimen-oh/CHIRIMEN-tools) で`update.img`を生成

こうして作られた`update.img`についてですが、ubuntuからそのまま下記コマンドでCHIRIMENに焼きこみできています。

一方で、上

[2017-01-16 02:11] satakagi commented on #163
ここにTips作ってあります。
http://svg2.mbsrv.net/chirimen/convImage.html

[2017-01-16 08:00] tadfmac commented on #161
AIが不足しているような気がしましたので2点追加しておきました。
下記対応予定と認識していますが、認識違いがありましたらご指摘ください。
- 物品リストに関して、協力者からの機材収集・返却方法の決定 @gurezo さん
- スクール系エリア用教材の準備 @kohichi000000 さん

[2017-01-16 08:54] tadfmac commented on #159
こちらに作成予定です。
https://github.com/chirimen-oh/chirimen-oh.github.io/wiki/parts(ja)

[2017-01-16 09:19] tadfmac opened #164 "Web I2C API 品質改善版の本線への反映について"
現在、CHIRIMENで利用可能なWeb I2C APIについて、例えばwrite8()呼び出し時にSlaveAddressが異なる等、実はNative側では明らかなエラーが返っている時もWebアプリ側にはエラーが返却されない等の課題があります。
B2G側の実装が足りないことにより、Polyfill側も対応できていない状況で、B2GとPolyfillを併せて改善を試みている最中です。

[一時的な中間成果登録場所](https://github.com/tadfmac/chirimen-expr)

これらの実デバイスを用いた評価とコード整理後にしかるべきfork元リポジトリにPull Requestを実施予定ですが、今回の修正により Web I2C APIの PolyfillとB2G側imageを同時に更新すしないと動作しなくなっています。(Native側のAPI、I2CManager.

[2017-01-18 08:56] tadfmac commented on #159
https://github.com/chirimen-oh/chirimen-oh.github.io/pull/69

[2017-01-18 08:56] tadfmac commented on #158
https://github.com/chirimen-oh/chirimen-oh.github.io/pull/69

[2017-01-18 09:02] tadfmac commented on #158
一旦Closeします。今後は wiki を更新ねがいます。
https://github.com/chirimen-oh/chirimen-oh.github.io/wiki/peripherals(ja)
https://github.com/chirimen-oh/chirimen-oh.github.io/wiki/peripherals(en)

[2017-01-18 09:02] #158 closed, assigned to nobody

[2017-01-18 09:03] tadfmac commented on #159
一旦Closeします。今後は wiki を更新ねがいます。
https://github.com/chirimen-oh/chirimen-oh.github.io/wiki/parts(ja)
https://github.com/chirimen-oh/chirimen-oh.github.io/wiki/parts(en)

[2017-01-18 09:03] #159 closed, assigned to nobody

[2017-01-18 09:04] tadfmac commented on #156
#164 終了後に検討実施予定です。

[2017-01-19 13:59] tadfmac commented on #65
これ、patch.sh1回実行終わったらリネームするようshellにいれちゃうのでどうでしょうか？（今最初のビルド終わったらリネームする運用でビルドしてますが）

[2017-01-20 10:40] dynamis commented on #147
Picuntu (Ubuntu 系) など Linux の検討もされているようなので FYI:

Renesas RZ/G, NXP i.MX6, TI AM572x などの SoC 向けの Minimal な Linux ビルドで Firefox を動作させる事に関する情報は GEM にあります:
https://github.com/mozilla-japan/gecko-embedded/issues

取り敢えず Cairo などあれば Linux で簡単に Firefox は動作すると思いますが、うまくグラフィックスドライバとそれ用のビルドオプションなどを選んでおかないと Firefox は GPU を使わないソフトウェアレンダリングになってかなりパフォーマンスが落ちます。また、ビデオデコード (on GPU) や WebRTC/WebGL などが動かなくなることもあります。

[2017-01-20 10:46] dynamis commented on #114
If you intent to change the boot logo of B2G, this bug/patch should help to understand how to do so:
Bug 1034832 - Community branding for community builds of Boot2Gecko
https://github.com/mozilla-b2g/gaia/pull/31932/files
https://bugzilla.mozilla.org/show_bug.cgi?id=1034832

[2017-01-20 12:13] gurezo commented on #162
issueのタイトルだけ英語で書くくらいから始めてみる
上記方針になったので、一旦 close

[2017-01-20 12:15] gurezo commented on #164
beta版を[CMN2015-1_B2GOS-20170120](https://github.com/chirimen-oh/release/releases/tag/CMN2015-1_B2GOS-20170120) に配置

[2017-01-21 17:17] gurezo commented on #114
i had sended to Pull Request / PRを出しました
[Replacement of resource files #1](https://github.com/chirimen-oh/gaia/pull/1)

but  Error Occured by Travis CI.
しかし、下図のように Travis CI で、エラーになっています。

Reson Why Message is can't find  .travis.yml.
but fork point repository is nothing that .travis.yml .....
 .travis.ymlが無いというメッセージですが、 Fork元にも無かったので・・・・。

i had replaced resource files only, Please review & merge

[2017-01-21 17:25] gurezo commented on #114
Addition / 追記
i had replaced resource files only, boot animation don't replace.
(i don't know / undersatnd to replace method)
リソースファイルだけなので、起動アニメーション等は
まだ手付かずです。（方法等を理解していない／分からない）

[2017-02-03 05:05] gurezo commented on #161
ざっくりスタッフタイムスケジュール書きました
schedule of CHIRIMEN Touch And Try Events for staff
https://gist.github.com/gurezo/f6f8efa2832fdb37e61c421de0af3fa1

[2017-02-04 06:29] ghost commented on #114
ペンギンロゴの置き換え、普通にやると左上からCPUの数(2)だけロゴが並ぶのですが、大きめのロゴ(480x480)を真ん中に表示するようパッチを作りました

[2017-02-04 06:31] ghost commented on #114
リカバリの背景をCHIRIMENボードのイラストにしようかと思ったんですが、若干面倒なので(とりあえず今日は)諦めました...

画像データはこのあたり https://github.com/flingone/bootable-recovery/blob/flingone/res/images/icon_installing.png にあるのですが、単純に置き換えるだけではうまくいかない(はず)です。

[2017-02-04 06:38] ghost commented on #130
これはjs側でbindするイメージかと思いますので、以下はちょっと違う話になってしまいますが...

元々カーネルレベルでGPIOやADCの入力でキーイベントを出す仕掛けがあります。
https://github.com/chirimen-oh/linux-rockchip/blob/chirimen/arch/arm/mach-rk30/board-rk30-chirimen.c#L57
現状GPIO6_A2をlowにするとPOWERキー、ADCをGNDレベルにするとHOMEキー、が出るはずです。

これはカーネルの再コンパイルが必要なので、動的にピンとキーイベントを選びたい、というような場合には使えません。

ご参考まで。

[2017-02-04 06:49] ghost commented on #112
https://github.com/chirimen-oh/b2g-rockdev is prepared from https://github.com/chirimen-oh/CHIRIMEN-tools/tree/master/rockdev-rk3066

[2017-02-04 07:12] ghost commented on #112
updated manifest is not tested yet...

[2017-02-04 07:14] ghost commented on #102
それぞれのissueの内容を適宜確認するという事で、このissue自体はcloseしてしまいます

[2017-02-04 07:14] #102 closed, assigned to dadaa, masap, naokisekiguchi, MSakamaki, kudodo

[2017-02-04 07:17] ghost commented on #98
20160808 release is v2.5

[2017-02-04 07:17] #98 closed, assigned to nobody

[2017-02-04 07:26] ghost commented on #87
20160808リリースでFirefox 51のWebIDEのScreenshotの色は問題なかった

[2017-02-04 07:26] #87 closed, assigned to nobody

[2017-02-04 07:29] ghost commented on #114
背景を黒でなく水色 #51b5e2 にする方がよいでしょうか？

[2017-02-04 07:32] ghost commented on #75
昔internal_sdだったuserパーティションはuserdataパーティション(/data)に統合してしまっていて、パーティションの切り直しは面倒だと思います。

/dataの一部を仮想SDカードにする方がよいと思います
 https://source.android.com/devices/storage/config-example.html#android_5_x_both

[2017-02-04 09:07] ghost commented on #83
video modes are defined in following files
kernel/drivers/video/rockchip/hdmi/hdmi-lcdc.c
kernel/drivers/video/rockchip/hdmi/rk_hdmi.h

[2017-02-05 03:01] ghost commented on #95
https://github.com/sjitech/nodejs-android-prebuilt-binaries これが使えたりする?

[2017-02-05 05:05] ghost commented on #60
20160808は2.5なのでclose

[2017-02-05 05:05] #60 closed, assigned to nobody

[2017-02-05 05:09] ghost commented on #75
#63 も直りますかね?

[2017-02-05 05:53] ghost commented on #163
ubuntu上でのビルド時、wineでWindows用コマンドを利用してイメージを作成する、という方法があります。いずれにしても何かしら記載が必要ですので、reopenします。

[2017-02-05 05:56] ghost commented on #162
何も変わっていないし、新しく参加した人にも伝わらない気がするので、reopenしときます

[2017-02-05 06:03] ghost commented on #54
20160808で修正済

[2017-02-05 06:03] #54 closed, assigned to dadaa

[2017-02-05 06:07] ghost commented on #53
「エラー時の戻り値が適切ではない。」に関しては #164 で対応している？

[2017-02-05 06:12] ghost commented on #55
必要があれば #147 で検討する

[2017-02-05 06:12] #55 closed, assigned to nobody

[2017-02-05 06:18] ghost commented on #67
必要があれば #147 で議論する

[2017-02-05 06:18] #67 closed, assigned to nobody

[2017-02-05 06:24] ghost commented on #74
handle this on #162

[2017-02-05 06:24] #74 closed, assigned to nobody

[2017-02-05 06:28] ghost commented on #76
作業内容が明確でないので一旦close
(#156 #164 等で対応している認識)

[2017-02-05 06:28] #76 closed, assigned to nobody

[2017-02-05 06:30] #82 closed, assigned to masap

[2017-02-05 09:39] ghost commented on #73
Japanese documents should almost be prepared. for English documents, refer #162

[2017-02-05 09:39] #73 closed, assigned to nobody

[2017-02-05 09:46] ghost commented on #71
https://chirimen.org/docs/ja/board_connectors.html の裏面の写真については #111 で対応されている

[2017-02-05 12:27] gurezo commented on #161
イベントが終了したので close

[2017-02-05 12:27] #161 closed, assigned to nobody

[2017-02-06 00:38] sizuhiko commented on #114
個人的には黒のままの方が好みです

[2017-02-10 07:42] tadfmac commented on #164
次回コミュニティミーティングで https://github.com/chirimen-oh/release/releases/tag/CMN2015-1_B2GOS-20170120 の正式版化についてご確認いただきたく、よろしくお願いします。

[2017-02-10 08:23] tadfmac opened #165 "WebGPIO/WebI2C Polyfillの chirimen-ohへのforkについて"
現在、CHIRIMENの各種[examples](https://github.com/chirimen-oh/examples)ではWeb GPIO API、Web I2C APIを利用するために、[Polyfill (club-wot/WebGPIO)](https://github.com/club-wot/WebGPIO)の利用を前提としています。

現在、mozI2Cのパラメータ変更を伴う修正のため、#164 への対応のため[polyfill](https://github.com/club-wot/WebGPIO/pull/26)と[gecko側](https://github.com/chirimen-oh/gecko-dev/pull/4)へ同時にPull Requestを申請中ですが、今後も同様の修正が発生する場合に、chirimen-oh側に移行した方が同期が取れて良い

[2017-02-13 08:33] tadfmac commented on #156
下記変更を検討中です。
ツッコミお待ちしております！

interface I2CSlaveDevice {
    readonly attribute unsigned short slaveAddress;

    Promise  read8(octet registerNumber);       // registerNumberを unsigned shortから octetに変更
    Promise  read16(octet registerNumber);     // registerNumberを unsigned shortから octetに変更
    Promise  write8(octet registerNumber, octet value);     // registerNumberを unsigned shortから octetに変更

[2017-02-15 10:36] tadfmac opened #166 "rearrange icons on home screen"
- [ ] 何を残して、何を追加するか？
- [ ] 修正+PR
- [ ] マージ

[2017-02-15 11:44] naokisekiguchi commented on #125
[chirimenクイックスタート](https://chirimen.org/docs/ja/quickStart.html)のリンクを以下のように修正して、close

* 各種サンプル編
  * Fabble - ChirimenEdu
  * Example
  * WoTSignage
* WebI2C,WebGPIOについて
  * browserobo
  * polyfill→polyfillレポジトリへのリンク

[2017-02-15 14:23] gurezo commented on #157
i had already answered, closing issue.
when i'll recieve response, reopen.

[2017-02-15 15:24] ghost commented on #157
@gurezo Hi how are you, we We remain interested In establishing an alliance or partnership between both organizations. Unfortunately we have not agreed on a meeting for the time difference and the dates of the meetings that are very extensive.

A hug.

[2017-02-15 16:27] tadfmac opened #167 "3/1 release"
AI

3/1といいつつ 2/24リリース予定。

- [x] リリースの箱準備
   → https://github.com/chirimen-oh/release/releases/tag/CMN2015-1_B2GOS-20170301 @WhiteHawk-taka さん、あざーす！
- [x] https://github.com/chirimen-oh/gecko-dev/pull/4
   →マージ完了 @gurezo さん、あざーす！
- [x] examplesの bowser install を一時的に封じる対応 (新リリースで古いPolyfillは使えなくなるため) @tadfmac
   → 下記の通り対応
    - chirimen-oh/examplesに`forCMN2015-1_B2GOS-20170301` branchを作成
    - このリリース

[2017-02-15 23:55] kohichi000000 commented on #162
- Community meeting (Feb. 15th) decision :
From now anyone should use English (should NOT use Japanese) at our community's  "slack" default channel "#general".
Instead, "#JP-local" channel will be created.

- 2/15コミュニティミーティング決定事項：
今後、当コミュニティのslackのデフォルトチャネルである"#general"では英語を利用していく。
代わりにJP-localチャネルを別途作る。
(JP-localのみでお話ししないように:-)

[2017-02-16 01:51] ghost opened #168 "reorganize repositories on github"
リポジトリ一覧で6つまでpinできるが、リポジトリが多すぎて選べないので整理したい。

- community運営系
  - https://github.com/chirimen-oh/any-issues
  - https://github.com/chirimen-oh/meeting
  - https://github.com/chirimen-oh/GoogleActionScript-For-Slack
  - https://github.com/chirimen-oh/Support-And-FAQ
    - 機能していないので廃止?
  - "community" 的なリポジトリにまとめられないか
    - ロゴ等のコミュニティ的な素材置き場はここ?
- データ配布系
  - https://github.com/chirimen-oh/release (pinn

[2017-02-16 01:53] ghost commented on #168
releaseはpinしてよさそうな気がしたのでとりあえずreleaseだけpinしてみました

[2017-02-16 01:57] WhiteHawk-taka commented on #168
examplesもpinでいいと思います

[2017-02-16 01:58] ghost commented on #168
ああ、releaseに何か入れるときは「CHIRIMEN Open Hardware利用規約」を考慮しないといけないですね

[2017-02-16 01:58] ghost commented on #168
examplesもpinしました

[2017-02-16 02:40] ghost commented on #168
あ、(ルール・テンプレ的なものを除く)アプリ系、APIの使い方のサンプルと、なにがしかの作品(アプリ・センサ・ボード等の組み合わせ)、の二種類だったりするんですかね...

- API使い方の例 examples
- 作品 WoTSignage/MakerFaireTokyo2016

みたいな分け方? (exampleも「センサ一つ(とワイヤ少々)だけの単純な作例」のような気はするのですが)

個別の作品は別に全部 pin しなくてもよいかな (example だけ pin しておけばいいかな) とも思いますが、古い作品は基本的に更新されないだろうから下の方に沈んでいく事になるだろうと思います。

せっかくの作品なので pin しておくべきなのではと思いましたが、 pin するならまとまってないとダメです。別に github で pin してなくても web のリンク集でいいんじゃないか

[2017-02-16 02:45] ghost commented on #168
- プログラミングガイド系
  - https://github.com/chirimen-oh/examples (pinned)
  - https://github.com/chirimen-oh/cording-style-tests
- ハード系
  - https://github.com/chirimen-oh/shields
  - https://github.com/chirimen-oh/Cases
- 作品系
  - https://github.com/chirimen-oh/MakerFaireTokyo2016
  - https://github.com/chirimen-oh/WoTSignage

こう?

[2017-02-16 05:55] ghost commented on #112
fixed.

[2017-02-16 05:55] #112 closed, assigned to nobody

[2017-02-16 06:19] ghost commented on #114
kernel logo置き換えました

[2017-02-16 06:25] ghost commented on #114
bootanimationの方は素材待ちですが以下の修正でいけるはず...

- https://github.com/chirimen-oh/device-rockchip-rksdk/commit/958ab8ebd68ed8987f229a0eb20d36e9c610a81c
- https://github.com/chirimen-oh/device-chirimen/commit/46db17c7f467619aad91429b3e38eceef61017ba

(現状zipは空っぽのdummy)

[2017-02-16 14:15] tadfmac commented on #168
ギクゥ...
(OMMFのOpenSource化を私もグンマーさんもサボっているような...)
.......アレいらないよね?......

いや、やります。グンマーさんも！(道連れ)

[2017-02-17 05:34] tadfmac commented on #156
TODO:

- パケット図を追加する

[2017-02-17 14:03] gurezo commented on #151
today,repository had created.
https://github.com/chirimen-oh/GoogleActionScript-For-Slack

[2017-02-18 01:21] ghost commented on #147
ユースケースが知りたいです

[2017-02-18 01:29] ghost commented on #168
最初のコメントをupdateしました。

作品系は別にpinしなくてもいいのかなと思い始めましたが、せっかくの成果なので目につきやすい所にあるといいのではという気持ちはあります。(イベントレポートがwebにあればよいのかな?)

https://github.com/chirimen-oh/GoogleActionScript-For-Slack が増えてたのでcommunity系に追加。

[2017-02-18 01:35] ghost commented on #168
community運用系で普段触るものをpinするか、成果(作品系)をpinするか。(集約できるなら両方pinできる)

まず chirimen.org を見てもらって誘導できればいいといえばいい気もするが、なんとなく github.com は成果物の発表の場なのではという気もする。

[2017-02-18 02:03] tadfmac commented on #168
作品系は、(今後の追加は) リンク集の方が(リポジトリがchirimen-oh/に)増えなくていいような...

[2017-02-18 02:10] ghost commented on #168
作品をgithubのインタフェース上で存在を主張(pin)しなくていいのなら、chirimen-ohで個別のリポジトリでもよいですし、chirimen-ohではない所でもよいと思います。

[2017-02-20 07:11] MSakamaki commented on #165
@tadfmac 私個人としては Polyfill (club-wot/WebGPIOをchirimen-oh側に移行)の引っ越し問題ないです。
（もともと正規のPolyfillができるまでのつなぎ・・・と考えていたので）

[2017-02-21 01:57] ghost commented on #114
bootanimationはこれでいいはず

- https://github.com/chirimen-oh/device-chirimen/commit/705ceb88a2c84af9d82d174810eeb8c2bdd5b4d0
- https://github.com/chirimen-oh/device-rockchip-rksdk/commit/9890fd98b2a783c0ebbbc91bd0e34983d756ec6b

[2017-02-21 02:29] ghost commented on #114
(とりあえずrecovery backgroundの事は忘れる方向で...)

[2017-02-21 03:33] ghost commented on #163
workaround: use commands for Windows on Linux

1. install `wine` package on ubuntu
2. run `wineconsole mkupdate.bat`

[2017-02-21 03:44] ghost commented on #114
bootanimationはmergeした

[2017-02-21 03:59] ghost commented on #114
gaia: https://github.com/chirimen-oh/gaia/commit/1ef258c45d7a343dff80ac814dec513aa65cbe3f

[2017-02-21 04:47] ghost commented on #112
https://github.com/chirimen-oh/device-rockchip-rksdk/commit/8376b4c10072b4bf580df5fc271c392e642c5ee1

[2017-02-21 06:29] #114 closed, assigned to nobody

[2017-02-21 07:16] tadfmac commented on #164
当初のタスクからexamlesの改善が残っている状況ですが、既存のexampleでも問題はないため、exampleの改善については別issueを立てて対応することにし、本issueは一旦Closeします。

[2017-02-21 07:16] #164 closed, assigned to tadfmac

[2017-02-21 07:20] tadfmac commented on #103
(このissueはどうなればclose?...)

[2017-02-22 06:48] dynamis commented on #103
[仕様の定義](https://rawgit.com/browserobo/WebGPIO/master/index.html#write) 通りなので実装は問題ないし、コンソールを見るしか無いというのはデバッグはまずコンソールを見るものなのでそれを見て分かるなら十分だと思うのですが、それでも気付きにくいというご指摘かと思います。

妥当なところとしては write の引数に 1/0 以外の true/false とかを渡すと Operational Error がかえってくるという事はチュートリアルレベルのドキュメントに書いておく、もしくは仕様自体を変えて true/false (など？) も受け入れるなどにするといったところかと思います。個人的には前者推奨。

[2017-02-22 07:33] tadfmac commented on #103
GPIOの値を `true` と `false` で表現するのは違和感があるので、`0` と `1` で良いと思います。
チュートリアルレベルのドキュメントに書いておく、に賛成です。

[2017-03-01 04:57] gurezo commented on #165
@gurezo 個人としても引越しをして問題なければ、良いと考えています。
今後のメンテ管理が分かり易い場所になるので。

[2017-03-10 09:30] dynamis opened #169 "Set Team Icon for Slack"
primary owner @dadaa owner @oshimaryo admin @gunmaer のどなたか、Team の Settings 画面
https://chirimen-oh.slack.com/admin/settings
の Team Icon 設定で
https://github.com/chirimen-oh/chirimen-oh.github.io/blob/master/img/browser_300.png
辺りを設定頂けないでしょうか。

Slack Team いっぱい入ってるとアイコン設定が無いと不便なので。。。

[2017-03-10 11:34] dadaa commented on #169
done

[2017-03-10 11:34] #169 closed, assigned to dadaa, gurezo

[2017-03-11 05:36] gurezo commented on #167
close

[2017-03-11 05:36] #167 closed, assigned to nobody

[2017-03-12 02:34] tadfmac opened #170 "CH2-10 has conflicted with LCD backlight feature"
Kernel makes GPIO CH2-10 to HIGH at startup to enable LCD backlight function.
I believe this is not strictly a bug, but this behavior is inconvenient when using GPIO as output.
Probably the backlight function not be used in CHIRIMEN, so I think that it is better to disable the LCD backlight function.

[2017-03-13 02:54] ghost commented on #157
We being a fork of firefox OS we keep the original idea, which is to conserve and maintain gecko without implementing Android, we also develop free and open source software with multiple orientations. Among them IoT WoT, artificial intelligence among others. We want to establish a partnership with Chirimen to improve and develop a better operating system. We also want to develop a desktop operatin

[2017-03-15 04:07] tadfmac commented on #170
https://github.com/chirimen-oh/linux-rockchip/pull/1

[2017-03-20 09:53] gurezo opened #171 "Share Information of Web x IoT Makers Hackthon 2017"
### Share Information regarding attendee's questions and event know how
#### Categorized Keep, Problem, Try
- Keep
- Problem
- Try

[2017-03-20 23:36] kohichi000000 commented on #171
After sharing and categorizing the information, this issue will be closed.
(Some of them may be linked to other issues or reissued.)

[2017-03-22 05:43] dynamis commented on #116
こちらで close or chrimen.org への掲載などをする感じでしょうか
http://qiita.com/kotakagi/items/3a4f7865ab784cd88cdd

[2017-03-22 06:33] naokisekiguchi commented on #116
当初はiot/wotにおけるhello worldってなんだろう、ということを議論するという目的で立てたissueですね。やることが明確になってなくて、議論が進んでいない感じではありますが。

[2017-03-22 08:22] tadfmac commented on #168
ｺｿｰﾘ更新 (ommfのｿｰｽｱｹﾞﾙﾉﾜｽﾚﾃﾀ)
https://github.com/tadfmac/ommf2016

[2017-03-23 03:28] tadfmac commented on #156
- [x] CHIRIMENにローカル実装後テスト中です。→期待動作確認done
- [x] PolyfillのCI対応中。。。

[2017-03-25 11:41] gurezo commented on #149
Using Virtualbox guide merged.

[2017-03-25 11:42] gurezo commented on #160
already sold out at January 9th.

[2017-03-30 11:17] gurezo opened #172 "Polyfill: GPIOPort.read() doesn't work"
getValue().then() doesn't exist.

[2017-03-30 11:18] gurezo opened #173 "Arrangement of a document doesn't catch up."
## issue purpose
- we must be Arrangemented a document.

## Close conditions
- [x] how to write that markdown
- [ ] For Example Gitbook?

[2017-03-30 11:18] gurezo opened #174 "ADCの例をexamplesにあげる。そして提供する部品と作例を一致させる (次のハッカソンに向けて)"
ADCの作例がいろんな場所にあるけど examplesには含まれてなくて、さらには  [ADS1105](https://www.adafruit.com/product/1083) の作例はあるけど、当日売ってたのは [Grobe I2C ADC](https://www.switch-science.com/catalog/1445/) の方。同じexampleが使えず、相当ハッカソン参加者に苦労をかけてしまった。

Action:
- [ ] Create an example to use   [ADS1105](https://www.adafruit.com/product/1083) from CHIRIMEN in chirimen-oh/exapmles repo.
- [ ] Create an example to use  [Grobe I2C ADC](https

[2017-03-30 11:27] gurezo opened #175 "FlashAir 情報へのリンクと examples"
Problem:
  CHIRIMEN Open Hardwareコミュニティとしてどうするか?
  はあると思うけど、担当者さんが超サポートしてくれてたのに、結果としてハッカソンで
  参加者が思うように使えてなかったように見えたのは反省点。

Action:
- [ ]  Create an example to use FlashAir from CHIRIMEN in chirimen-oh/exaples repo.

[2017-03-30 11:38] gurezo opened #176 "check version mismatch between polyfill and gecko"
Problem
- There is no way to understand when Polyfill and CHIRIMEN 's Gecko is not a suitable version

Goal
- [ ] Implement errors when Polyfill and CHIRIMEN are not conforming

[2017-03-30 11:38] gurezo opened #177 "security enhancement of Web GPIO API / Web I2C API"
- [ ] Discuss security enhancement of Web GPIO API / Web I2C API.  and propose policy to draft specifications.

[2017-03-30 11:38] gurezo opened #178 "720Pなど、他の解像度への対応"
- [ ] In order to be able to read letters etc even when connected with a monitor with a small resolution, it is possible to output CHIRIMEN with multiple resolutions.

参考リンク
https://github.com/chirimen-oh/Support-And-FAQ/issues/1

[2017-03-30 11:54] gurezo commented on #165
fork したので、close

[2017-03-30 12:17] ghost commented on #178
~~こちらは
#83 HDMI - more display resolution support
の話ではなく、overscanの話でしょうか？~~

[2017-03-30 12:27] gurezo commented on #140
@satakagi さん、このissue条件を教えてください

[2017-03-30 12:30] gurezo commented on #130
@satakagi さん、closeする条件を教えてください

[2017-03-30 12:34] naokisekiguchi commented on #116
@dadaa と相談してclose要件を明確にします。

[2017-03-30 12:40] MSakamaki opened #179 "Prepare a template for any-issues"
problem that the request (definition of done) is unknown and can not be issues closed

 + [x] about preparing a template message  (look for the draft)
 + [x] impliments of github template

[2017-03-30 15:16] tadfmac commented on #165
AI全部終わってないのでre-open

[2017-03-31 00:12] gurezo commented on #162
- Community meeting (Mar. 30th) decision :
From now anyone should use English (should NOT use Japanese) at our community's  "slack" default channel "#general".
"#JP-local" channel will be deleted.(Reason why, hardly not used.)
this issue is closing once.

- 3/30コミュニティミーティング決定事項：
今後、当コミュニティのslackのデフォルトチャネルである"#general"では英語を利用していく。
JP-localチャネルは、削除（ほとんど使われていなかったので）
このissueは、一度closeします

[2017-03-31 00:12] #162 closed, assigned to nobody

[2017-03-31 02:52] ghost commented on #178
https://public.etherpad-mozilla.org/p/chirimen-20170330 に続きが書いてあるのですね。

[2017-03-31 02:52] ghost commented on #178
しかし、720pでも映りますよね？何が問題なのでしょうか？

課題があるとは思っていますが、本issueについて具体的にどのような点が問題でどのようにしたいのか、読み取れませんでした。

[2017-03-31 03:11] MSakamaki opened #180 "support any-issues top page in english"
Because a readme of any-issues is japanese, ideal is english

### must be translated

 + [x] README.md
 + [x] repsoitory discription
 + [ ] wiki pages

[2017-04-01 03:42] gurezo commented on #149
this purpose is firmware flashing guide for Mac OS X/macOS .
already relesed Using Virtualbox guide,　therefor this issue is closed.
Using CHIRIMEN-tools(rkflashtool, rkunpack) is opened other issue.
Using Vagrant  is opened other issue.